{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.hasRole('ROLE_SHOW_POSTS_HOMEPAGE') %}
        <span class="label label-success toggle-user-role-by-admin" data-user-id="{{ object.id }}" data-role="ROLE_SHOW_POSTS_HOMEPAGE" style="cursor: pointer;">да</span>
    {% else %}
        <span class="label label-danger toggle-user-role-by-admin" data-user-id="{{ object.id }}" data-role="ROLE_SHOW_POSTS_HOMEPAGE" style="cursor: pointer;">нет</span>
    {% endif %}
{% endblock %}