{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <a class="btn btn-primary" href="{{ path("admin_authorize_as_user", {id: object.id}) }}">Войти</a>
{% endblock %}