{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% for car in object.cars if car.model %}
        <div>{{ car.model.name }}</div>
    {% endfor %}
{% endblock %}