/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
    border-top: 2px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 5px;
}

#breadcrumbs li {
    margin-right: 7px;

}

.more {
    display: none;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #444;
}

#breadcrumbs a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444;
    position: relative;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.user-icon {
    display: none;
}

.user-link:hover,
.link-b:hover {
    color: black;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.current {
    cursor: default;
}
.opened {
    background-color: transparent;
}

@media  (max-width: 575px) {
    .container {
        width: auto;
    }
    #breadcrumbs {
        padding-top: 3px;
    }

    .user-name {
        display: none;
    }
    .opened {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;

    }
    .opened li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .opened .more {
        display: none;
    }

    .user-icon {
        display: block;
    }
    .link-b {
        margin-right: 5px;

    }

    .close-menu {
        font-size: 14px;
        cursor: pointer;
    }
    .user-link {
        width: 10px;
        height: 10px;
    }

    .opened .link-b {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .user-icon {
        display: block;
        width: 16px;
        height: 16px;
    }
    .more {
        display: block;
        cursor: pointer;
        font-size: 12px;
        line-height: 18px;
    }
    #breadcrumbs a {
        line-height: 20px;
        font-size: 12px;
    }
    .model-block {
        padding-top: 5px;
    }

    .user-link--icon {
        width: 20px;
        height: 20px;
    }

    #breadcrumbs li {
        margin-right: 0;
    }



    .more {
        display: block;
        cursor: pointer;

    }

    .opened .more {
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: auto;
    }
}
/*END ХЛЕБНЫЕ КРОШКИ*/



/*mod*/
.items {
    padding-top: 40px;
    padding-bottom: 65px;
}

.title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    color: #ff0000;
    text-align: center;
    margin-bottom: 30px;
}

.title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #000000;
}



.items-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

}

.items-block li {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 43%;
}

.items-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border: 1px solid #737373;
    border-radius: 10px;
    padding: 10px 7px;
    overflow: hidden;
}

.items-link span {
    width: 73%;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #444;
    letter-spacing: 1px;

}

.items-link img {
    width: 105px;
    height: 70px;
}

.items-link:hover {
    border: 1px solid #d22856;
    cursor: pointer;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-align: justify;
}

@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
    .items {
        padding-bottom: 45px;
    }
    .title {
        font-size: 22px;
        line-height: 26px;
    }


    .items-block li {
        width: 100%;
        margin-bottom: 15px;
    }
    .items-link {
        padding: 5px;
    }
    .items-link span{
        width: 71%;
        font-size: 12px;
        line-height: 14px;

    }
    .items-link img {
        width: 90px;
        height: 60px;
    }

}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }


    .title {
        font-size: 22px;
        line-height: 26px;
    }
    .items-block li {
        width: 435px;
        margin-bottom: 20px;
    }


    .items-link span{
        font-size: 16px;
        line-height: 18px;
    }



}
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: auto; }

    .items-block li {
        width: 48%;
        margin-bottom: 20px;
    }

    .items-link span{
        font-size: 12px;
        line-height: 18px;
    }


}


/*mod END*/