/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin-left: 5px;
    margin-right: 5px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 481px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 3px;
    margin-right: 3px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 20px;
    font-size: 11px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/



/*  BLOCK-is */

.delivery {
    padding-top: 35px;
    padding-bottom: 65px;
}

.delivery-title {
   margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #f66666;
    letter-spacing: 1px;

}
.delivery-title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}

p {
    margin: 0;
    margin-bottom: 10px;
}
#text1 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

#allText {
    border: none;
    text-align: right;
    background-color: #fff;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    padding-top: 5px;
      margin-right: 20px;
    cursor: pointer;
    outline: none;
}
.allText-1 {
    border: none;
    background-color: #fff;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    padding-top: 5px;
      margin: 10px auto;
    cursor: pointer;
    outline: none;
}
.city-btn {
   
    display: flex;
    justify-content: center;

}


.brand-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;

}
.brand-block li {
    margin:  0 15px;
    margin-bottom: 20px;
    
    
}

.link-o {
     width: 160px;
    padding: 5px;
    padding-bottom: 4px;
    text-align: center;
    border: 1px solid #737373;
    border-radius: 3px;
    color: #444444;
    cursor: pointer;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    background-color: #faeeee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.link-o:hover {
    background-color: #d2a2af;
}
.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #737373;
}
.block-price-item {
  margin-bottom: 10px;
}
.block-price {
  width: 150px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}
.block-price-n {
  font-size: 22px;
  line-height: 24px;
  color: #ff0000;
  font-weight: 700;
  margin-right: 10px;
}
.block-price-r {
  font-size: 16px;
  line-height: 18px;
  color: #000;
  font-weight: 700;
}
.block-price-n::before { /* Ð²Ñ‚Ð¾Ñ€Ð¾Ð¹ ÑÐ»Ð¾Ð¹ */
  content: attr(data-text);
  -webkit-text-stroke: .03em #000000;
}
.block-price-city {

  font-size: 18px;
  line-height: 20px;
  color: #000;
  font-weight: 700;
}

.button {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 4px;
    background-color: #dbc0c7;
    border: 1px solid #737373;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    cursor: pointer;
    outline: none;
    margin-bottom: 40px;
}

.button:hover {
    background-color: #d2a2af;
}
.block-text {
  width: 600px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}
.unp-text{
  display: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  margin-left: auto;
}

.block-tel {
  width: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-btn{
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
    padding: 5px 10px;
    background-color: #dbc0c7;
    border: 1px solid #757373;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700; 
    margin-bottom: 10px;
}
.block-btn:hover {
  background-color: #d2a2af;
}

.button {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 4px;
    background-color: #dbc0c7;
    border: 1px solid #737373;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    cursor: pointer;
    outline: none;
    margin-bottom: 40px;
}

.button:hover {
    background-color: #d2a2af;
}
.allText-1 {
    border: none;
    text-align: right;
    background-color: #fff;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    padding-top: 5px;
      margin-right: 20px;
    cursor: pointer;
    outline: none;
}


.delivery-admin {
    border: 3px solid #cccccc;
    padding: 10px;
    margin: 40px 0;
    min-height: 100px;
}


.delivery-img {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-small {
    display: block;
    width: 100px;
    height: 100px;
}

.img-big {
    display: block;
    width: 150px;
    height: 100px;
}

.delivery-subtitle {
    margin: 0;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #f66666;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.delivery-subtitle::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}
.delivery-text {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}


@media (max-width: 480px) {
    .container {
        width: auto;
    }
  .delivery {
    padding-top: 25px;
    
}

    .delivery-title {
    margin-bottom: 20px;
        font-size: 22px;
        line-height: 26px;
    }
    .delivery-dsc {
        margin-bottom: 10px;
    }

    #text1 {
        font-size: 14px;
        line-height: 16px;
    }

    #allText {
        display: block;
        font-size: 16px;
        color: #FF2E23;
        text-align: right;
    }


    .text1Hide {
        max-height: 48px;
        overflow: hidden;
    }

    .delivery-city {
    
        flex-direction: column;
    }

    .city {
        width: 100%;
    }
    .city a {
        width: 90px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
    }

     .brand-block {
        margin: 0 auto;
        width: 300px;
       
    }
    .brand-block li {
        margin: 0 2px;
        margin-bottom: 10px;
    }
   
    .link-o {
        width: 95px;
        font-size: 12px;
        line-height: 14px;
    }
    .button {
     width: 110px;
        font-size: 14px;
        line-height: 16px;
}
    .item-text {
        margin: 0;
        font-size: 18px;
        line-height: 20px;

    }

    .delivery-admin {
        padding: 10px 5px;
        min-height: 50px;
    }

  
    .delivery-img {
        display: flex;
        justify-content: space-between;

    }
    .img-small {
        width: 50px;
        height: 50px;   
    }

    .img-big {
        width: 75px;
        height: 50px;
    }

    .delivery-subtitle {
        font-size: 20px;
        line-height: 24px;
    }
    .delivery-text {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
    }

       .block-price-item {
     margin-bottom: 0; 
}

.block {
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 10px 0;
}
.block-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.card-contact a {
    margin-right: 0;
}
.block-text {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
}
.unp-text {
  display: block;
  text-align: right;
  font-size: 12px;
  line-height: 14px;
}
.block-tel {
  width: 210px;
  margin: 0 auto;
}

.block-btn{
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
    padding: 5px 5px;
}
.contact-img {
  display: inline-block;
  margin-left: 5px;
}
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }
  .delivery {
    padding-top: 25px;
    
}
    .brand-block {
        margin: 0 auto;
        width: 450px;
    }
.brand-block li {
        margin: 0 10px;
        margin-bottom: 20px;
    }
   
    .link-o {
        width: 120px;
        font-size: 16px;
        line-height: 18px;
    }
    .button {
    width: 130px;
}
    .delivery-title {
        font-size: 22px;
        line-height: 26px;
    }
    .delivery-dsc {
        margin-bottom: 10px;
    }

    #text1 {
        font-size: 16px;
        line-height: 18px;
    }

    #allText {
        display: block;
        font-size: 18px;
        color: #FF2E23;
        text-align: right;
    }

    .text1Hide {
        max-height: 55px;
        overflow: hidden;
    }

    .delivery-city {
       
        flex-direction: column;

    }

    .city {
        width: 100%;
    }
    .city a {
        width: 140px;
        font-size: 16px;
        line-height: 18px;
    }
  

    .delivery-img {
        display: flex;
        justify-content: space-between;
    }
    .img-small {
        display: block;
        width: 75px;
        height: 75px;
    }

    .img-big {
        display: block;
        width: 110px;
        height: 75px;
    }



    .delivery-subtitle {
        font-size: 20px;
        line-height: 24px;
    }
    .delivery-text {
        font-size: 16px;
        line-height: 14px;
    }
    .block-price-item {
     margin-bottom: 0; 
}

.block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
}
.block-price {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}



.block-text {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
}
.unp-text {
  display: block;
  text-align: right;
  font-size: 13px;
  line-height: 16px;
}
.block-tel {
  width: 210px;
  margin: 0 auto;
}

}


@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto; }
    .delivery-city {
        display: flex;
        justify-content: space-between;
    }

    .city {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
    .city a {
        width: 115px;
        font-size: 16px;
        line-height: 18px;

    }
     .brand-block {
        margin: 0 auto;
        width: 650px;
    }
.brand-block li {
        margin: 0 20px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }
    .brand-block li {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 140px;
    }
.brand-block li {
    margin:  0 10px;
    margin-bottom: 20px;
}
    .link-o {
         width: 140px;
        font-size: 18px;
        line-height: 20px;
    }
}

/*  BLOCK-is END */


.block-product {
    border-top: 1px solid #737373;
    border-bottom: 1px solid #737373;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
.block-product__title {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}
.block-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.review {
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}
.star {
    width: 15px;
    height: 15px;
    background: url("/img/Stars.svg") 0 0 no-repeat;
    margin-right: 3px;
}
.rev {
    width: 15px;
    height: 15px;
    background: url("/img/Stars.svg") -15px 0 no-repeat;
    margin-right: 3px;
}
.review-text {
    margin: 0;
    margin-left: auto;
    font-size: 12px;
    line-height: 14px;
}
.card-product {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}
.card-img {
    position: relative;
    margin-left: 12px;
    border: 2px solid #999999;
    width: 255px;
    height: 170px;
    margin-right: 60px;
}

.link-main {
    position: absolute;
    bottom: -10px;
    left: -10px;
    padding: 4px 15px;
    padding-bottom: 3px;
    border: 2px solid #999999;
    border-radius: 5px;
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    background-color: #ffffff;
    cursor: default;
}

.link:hover {
    border: 2px solid red;
}
.link-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: -17px;
    right: -24px;
}
.image img {
    width: 255px;
    height: 170px;

}
.price {
    position: absolute;
    display: block;
    padding: 5px;
    padding-bottom: 1px;
    border-radius: 5px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    top: 5px;
    left: 5px;
    background-color: #fff;
    color: #d22856;
    border: 1px solid #737373;
}
.price span {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000;
}

.link {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #999999;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    background-color: #ebebeb;

}

.button {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding: 5px 15px;
    padding-bottom: 3px;
    color: #444;
    border: 1px solid #737373;
    cursor: pointer;
    background-color: #dbc0c7;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: #d2a2af;
}
.card-description {
    width: 70%;

}
.description  {
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
}
.description__title {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

.card-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card-contact a {
    margin-right: 30px;
}
.existence,
.condition,
.characteristic {
    margin: 0;
    margin-bottom: 10px;
}
.existence {
    margin-bottom: 15px;
}

.contact {
    margin: 0 20px;
    color: #7c82c5;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
}

.contact::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .04em #000000;
}
.contact:hover {
    color: #000;
}
.contact-img {
    display: none;
}
.card-time {
    width: 230px;

}
.time-text {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.week {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.weekend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.day {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}
.blue {
    background-color: #7c82c5;
    border: 1px solid #999999;
    border-radius: 3px;
}

.red {
    background-color: red;
    border: 1px solid #999999;
    border-radius: 3px;
}

.day-time {
    display: block;
    margin-left: 15px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.adress-text-img {
    margin-right: 5px;
}
.adress-text {
    margin: 0;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 10px;
}

.adress-text-city {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.unp-number {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #737373;
}
.block-price-item {
    margin-bottom: 10px;
}
.block-price {
    width: 150px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
}
.block-price-n {
    font-size: 22px;
    line-height: 24px;
    color: #ff0000;
    font-weight: 400;
    margin-right: 10px;
}
.block-price-r {
    font-size: 16px;
    line-height: 18px;
    color: #000;
    font-weight: 400;
}
.block-price-n::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #000000;
}
.block-price-city {

    font-size: 18px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
}


.block-text {
    width: 600px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
}
.unp-text{
    display: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #000000;
    margin-left: auto;
}

.block-tel {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.block-btn{
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    padding: 5px 10px;
    padding-bottom: 4px;
    background-color: #dbc0c7;
    border: 1px solid #757373;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 10px;
}
.block-btn:hover {
    background-color: #d2a2af;
}

.un-btn{
    display: block;
    font-size: 16px;
    line-height: 18px;
    padding: 5px 15px;
padding-bottom: 4px;
    background-color: #dbc0c7;
    border: 1px solid #757373;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    margin-left: auto;
    cursor: #444;
}
.un-btn:hover {
    background-color: #d2a2af;
}
.arrows-btn {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    padding: 4px 10px;
    padding-bottom: 3px;
    cursor: pointer;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    border: none;
   background-color: #faeeee;
    border: 1px solid #757373;
    cursor: pointer;
    border-radius: 3px;
}

.arrows-btn:hover {
   background-color: #d2a2af;
}



.year-subtitle {
    margin: 0;
    padding-top: 35px;
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    color: #f66666;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.year-subtitle::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}
.year-subtext {
    margin: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 18px;
   
}


.text-item {
    margin: 0;
    margin-top: 40px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding: 10px 5px;
    border: 3px solid #ccc;

}

.overlay1,
.overlay2 {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100; }

.modal--show {
    display: block;
}
.overlay1 .modal {
    position: fixed;
    top: 70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center; }

.modal-map iframe {
    width: 900px;
    height: 500px;
}

.overlay2 .modal {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 700px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    padding: 25px 10px;
}


.overlay2 .modal-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px;
    outline: none;

}
.overlay1 .modal-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px;
    outline: none;
}
.overlay1 .modal-close:hover,
.overlay2 .modal-close:hover {
    border: 2px solid red;
}


.overlay2 .modal-title {
    margin: 0;
    margin-bottom: 15px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;

}

.overlay2 .modal-text {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
  
}


@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
    .year {
        padding-bottom: 55px;
    }
    .text1Hide {
        max-height: 45px;
        overflow: hidden;

    }
    #allText {
        display: block;
    }
    .year-title {
        font-size: 24px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .button {
        font-size: 16px;
        line-height: 18px;

    }

    .card-block {
        width: 100%;
        margin: 0 auto;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .year-subtitle {

        text-align: center;
        font-size: 22px;
        line-height: 24px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .year-subtext {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .year-list {
        margin-bottom: 5px;
    }
    .block-product {
        padding-bottom: 0;
    }
    .block-title {
        margin-bottom: 10px;
    }
    .block-product__title {
        margin-bottom: 5px;
    }

    .card-product {
        padding-top: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .block-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .card-img {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .card-description {
        width: 100%;
        margin: 0 auto;
    }

    .description  {
        text-align: center;
        font-size: 18px;
        line-height: 20px;
    }
    .card-contact {
        margin: 0 auto;
        margin-bottom: 10px;
       
    }

    .adress {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;

    }
    .card-time {
        width: 230px;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .time-text {
        text-align: center;
    
    }
    .week {
        margin: 0 auto;
        margin-bottom: 7px;
    }
    .weekend {
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .adress-text {
        text-align: center;
        margin-bottom: 7px;
    }
    .adress-text-city {
    text-align: center;
}

    .adress-text::after {
        top: 0;
        left: 0;
        width: 13px;
        height: 18px;

    }
    .unp {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: auto;
    }
    .unp-number {
        margin-right: 10px;
        font-size: 14px;
        line-height: 16px;
    }
    .unp-number:last-child {
        margin-right: 0;

    }
    .block-price-item {
        margin-bottom: 0;
    }

    .block {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: 10px 0;
    }
    .block-price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }

    .card-contact a {
        margin-right: 0;
    }
    .block-text {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 18px;
    }
    .unp-text {
        display: block;
        text-align: right;
        font-size: 12px;
        line-height: 14px;
    }
    .block-tel {
        margin: 0 auto;
    }

    .block-btn{
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        padding: 5px 5px;
        padding-bottom: 4px;
    }
    .contact-img {
        display: inline-block;
        margin-left: 5px;
    }
    .un-btn{
        display: block;
        margin-left: auto;
        font-size: 16px;
        line-height: 18px;
        padding: 5px 15px;
        background-color: #dbc0c7;
        border: 1px solid #757373;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 700;

    }
    .overlay1 .modal {
        top: 50px;
    }
    .modal-map iframe {
        width: 300px;
        height: 500px;
    }

    .overlay2 .modal {
        top: 50px;
        left: 50%;
        width: 80%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }

    .year {

        padding-bottom: 55px;
    }
    .text1Hide {
        max-height: 55px;
        overflow: hidden;
    }

    #allText {
        display: block;
    }

    .year-title {
        font-size: 24px;
        line-height: 24px;
    }

    .city-subtitle {
        font-size: 22px;
        line-height: 24px;
    }

    .contact-img {
        display: inline-block;
        margin-left: 5px;
    }

    .block-product {
        padding-bottom: 0;
    }

    .block-product__title {
        margin-bottom: 5px;
    }

    .card-product {
        margin: 0 auto;
        padding-top: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .block-title {
        margin-bottom: 20px;
    }

    .card-img {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .card-description {
        width: 100%;
        margin: 0 auto;
    }

    .description  {
        text-align: center;
    }
    .card-contact {
        width: 270px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .card-time {
        width: 280px;
        margin: 0 auto;
    }
    .adress {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-align-items: center;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        margin-bottom: 7px;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .time-text {
        text-align: center;
        margin-bottom: 10px;
    }
    .week {
        margin: 0 auto;
        margin-bottom: 7px;
    }
    .weekend {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .adress-text {
        margin-bottom: 7px;
    }

    .card-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .unp {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: auto;
    }
    .unp-number {
        margin-right: 15px;
        font-size: 14px;
        line-height: 16px;
    }

    .block-price-item {
        margin-bottom: 0;
    }

    .block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 15px 0;
    }
    .block-price {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }



    .block-text {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 18px;
    }
    .unp-text {
        display: block;
        text-align: right;
        font-size: 13px;
        line-height: 16px;
    }
    .block-tel {
        margin: 0 auto;
    }

    .block-btn{
        display: block;
        font-size: 14px;
        line-height: 16px;
        padding: 5px 15px;
        padding-bottom: 4px;
    }

    .contact-b {
        font-size: 16px;
        line-height: 18px;
    }
    .un-btn{
        display: block;
        margin-left: auto;
        font-size: 16px;
        line-height: 18px;
        padding: 5px 15px;
        background-color: #dbc0c7;
        border: 1px solid #757373;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 700;

    }
    .overlay1 .modal {
        top: 50px;
    }
    .modal-map iframe {
        width: 450px;
        height: 600px;
    }
    .overlay2 .modal {
        top: 50px;
        left: 50%;
        width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto; }

    .card-product {
        padding-top: 15px;
    }
    .card-img {
        margin-right: 40px;
    }
    .adress {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 7px;
    }
    .description  {
        margin-bottom: 10px;
    }
    .card-contact {
        margin-bottom: 10px;
    }
    .time-text {
        margin-bottom: 10px;
    }

    .unp {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-end;
    }
    .unp-number {
        margin-right: 15px;
        margin-bottom: 0;
    }
    .card-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .block {
        padding: 15px 0;

    }

    .block-price {
        width: 120px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #000000;
    }
    .card-time {
        margin: 0 auto;
        width: 270px;
        margin-bottom: 10px;
    }
    .block-price span {
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
    }
     .adress {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-align-items: center;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        margin-bottom: 15px;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .time-text {
        text-align: center;
        margin-bottom: 10px;
    }
.adress-text {
    margin: 0;
    margin-right: 5px;
    
}

    .block-text {
        width: 390px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: #000000;
    }




    .block-btn{
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        padding: 5px 5px;
        padding-bottom: 4px;
    }

    .contact {
        font-size: 18px;
        line-height: 20px;

    }


    .contact-b {
        font-size: 16px;
        line-height: 18px;
    }
    .overlay1 .modal {
        position: fixed;
        top: 70px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center; }

    .modal-map iframe{
        width: 740px;
        height: 600px;
    }
    .overlay2 .modal {
        top: 70px;
        left: 50%;
        width: 600px;
    }
}

#showAll5 {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    margin-right: 20px;
    cursor: pointer;
}

#showAll5:hover {
    color: #000000;
}


/*city END*/