/*
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin: 0 3px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 767px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 2px;
    margin-right: 2px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 18px;
    font-size: 10px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}








.model-block {
    padding-top: 35px;
    padding-bottom: 65px;
}
h3 {
    margin: 0;
}
.model-title {
   margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #2980b9;
    letter-spacing: 1px;
}

#text1 {
      margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
}
#allText {
      text-align: right;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    margin-right: 20px;
}

#allText:hover {
    cursor: pointer;
}



.subtext {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}
.mod-avto-btn {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
            margin-bottom: 60px;
}

.mod-avto {
    padding: 4px 15px;
    padding-bottom: 3px;
    border: 1px solid #737373;
    border-radius: 3px;
    color: #444444;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: #dbc0c7;
}
.mod-avto:hover,
.mod-avto:focus {
    background-color: #d2a2af;
}
.modform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -ms-align-items: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin-top: 30px;
    margin-bottom: 40px;
}

.form7 {
    width: 430px;
    padding-left: 5px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #737373;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 18px;
    line-height: 20px;

}


#showAll5 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #d22856;
    cursor: pointer;
    font-size: 14px;
}
#showAll5 span {
    color: #000000;
    margin: 0 7px;
}

#allText:hover,
#showAll5:hover {
    color: #000000;
    cursor: pointer;
}


#allText2 {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    cursor: pointer;
    outline: none;
}
#allText2 span {
    color: #000000;
    margin: 0 7px;
}

#allText2:hover,
#allText2:focus {
    color: #000000;
    cursor: pointer;
}
#brandImg5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
    overflow: hidden;
}


.showLess5 {
    max-height: 220px;
    margin: 0 auto;
}


#brandImg5 li {
    margin: 0 auto;
    width: 335px;
}

.mod-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    border-bottom: 1px solid #737373;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    letter-spacing: 1px;
    padding: 15px 5px;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.mod-link img {
    width: 96px;
    height: 64px;
    margin-left: 7px;
    
}


.mod-link:hover,
.mod-link:focus {
    border-bottom: 1px solid #d22856;
    color: #d22856;
    cursor: pointer;
}

.model-subtitle {
     margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2980b9;
}

@media (max-width: 480px) {
    .container {
        width: auto;
    }
    .model-block {
    padding-top: 25px;
    }
    .text1Hide {
        max-height: 48px;
        overflow: hidden;

    }
    #allText {
        display: block;
        margin: 5px 0 0 3px;
    }
    .model-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .mod-avto {
        font-size: 14px;
        line-height: 16px;
    }
    .model-text {
        margin-bottom: 0;
    }
    #text1 {
        font-size: 14px;
        line-height: 16px;
    }
    .mod-text-b {
        margin-bottom: 45px;
        margin-top: 10px;
        font-size: 12px;
        line-height: 14px;
    }

      .modform {
        margin-top: 20px;
    margin-bottom: 30px;
}
    .form7 {
        width: 85%;
        font-size: 16px;
        line-height: 18px;
      }

    #showAll5 {
        margin-bottom: 20px;
        font-size: 13px;
    }
    #showAll5 {
        font-size: 13px;
    }

    .showLess5 {
        max-height: 350px;
        margin: 0 auto;
    }


    .mod-link {
        font-size: 16px;
        line-height: 18px;
       
    }

    .mod-search {
        margin-bottom: 12px;
    }
    .mod-subtitle {
        font-size: 20px;
        line-height: 24px;
      

    }
 
    .mod-link-line {
        border-top: 1px solid #737373;
    }
    .subtext {
        font-size: 14px;
        line-height: 16px;
    }
      .form7 {
        width: 280px;
    }


}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }

    .text1Hide {
        max-height: 48px;
        overflow: hidden;

    }
          .modform {
      margin-top: 20px;
    margin-bottom: 30px;
}
      .model-block {
    padding-top: 25px;
    }
    #allText {
        display: block;
        margin: 5px 0 0 3px;
    }
    .model-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }
   
    .model-text {
        margin-bottom: 0;
    }
    #text1 {
        font-size: 14px;
        line-height: 16px;
    }
  

    .showLess5 {
        max-height: 330px;
        margin: 0 auto;
    }
    #brandImg5 {
        margin-bottom: 5px;
    }

    .showMoreBrands {
        max-height: auto;
    }

   .form7 {
    width: 350px;
   

}

    .mod-subtitle {
        font-size: 20px;
        line-height: 24px;

    }
   
    .mod-link-line {
        border-top: 1px solid black;
    }
    .subtext {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: auto; }

#brandImg5 li {
    margin: 0 auto;
    width: 400px;
}
.form7 {
    width: 400px;
   

}
}

@media (max-width: 575px) {
    .link {
        display: block;
    }
}*/




/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.line {
  margin-left: 5px;
  margin-right: 5px;
}

#breadcrumbs a {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  color: #444;
  position: relative;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
  color: black;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.current {
  cursor: default;
}

@media  (max-width: 481px) {
  .container {
    width: auto;
  }
  #breadcrumbs {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .line {
    margin-left: 3px;
    margin-right: 3px;
  }
  .user-name {
    display: none;
  }

  .user-icon {
    display: block;
  }

  .close-menu {
    font-size: 14px;
    cursor: pointer;
  }
  .user-link {
    width: 10px;
    height: 10px;
  }

  .user-icon {
    display: block;
    width: 12px;
    height: 18px;
  }

  .model-block {
    padding-top: 5px;
  }

  .user-link--icon {
    width: 16px;
    height: 16px;
  }


  #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
  }

}
@media  (max-width: 767px) {
  .container {
    width: auto;
  }
  #breadcrumbs a {
    line-height: 16px;
    font-size: 10px;
  }
}
/*END ХЛЕБНЫЕ КРОШКИ*/



/*content*/

.main-page {
  background: #f0f0f0;
  padding: 5px 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

.wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block-left {
  padding: 20px 10px;
  width: 68%;
  background-color: #fff;
}
.block-right {
  width: 28%;
  position: relative;
  z-index: 100;
}

.block-cons {
  padding: 20px 10px;
  background-color: #fff;
  margin-bottom: 20px;
}

.block-part {
  padding: 20px 10px;
  background-color: #fff;
  padding-top: 50px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

h2 {
  margin: 0;
  margin-bottom: 25px;
 color: #666666;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}
.block-ttl {
  margin: 0;
  margin-bottom: 25px;
 color: #000000;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin: 0;
  margin-bottom: 15px;
 color: #000;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.news-title {
  margin: 0;
  margin-bottom: 15px;
 color: #999;
 padding-left: 100px;
 font-style: italic;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: right;
}

figure {
  margin: 0 auto;
  background: #ccc; 
  width: 540px; 
  text-align: center;
  margin-bottom: 30px;
}

figure p {
  margin: 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figcaption {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: italic;
  padding: 2px;
  padding-left: 10px;
}
figcaption span {
  margin-left: auto;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  margin-right: 5px;
 
}
figure img {
  width: 540px;
  height: auto;
}


p {
  margin: 0;
  color: #000;
  font-size: 16px;
  line-height: 18px;
}

.input {
  display: block;
    margin: 0 auto;
    width: 230px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 18px;
    padding: 5px;
    cursor: pointer;
    color: #000;
    border: none;
    border-bottom: 1px solid #666666;
    background-color: #fff;
    -webkit-appearance: none;
    border-radius: 0;
}

.foto {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
}

.foto-item {
  margin-bottom: 30px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
 
}
.foto-item:last-child {
 margin-bottom: 0;
 
}

.foto-item img {
  width: 540px;
  height: auto;
  margin-bottom: 25px;
}

.foto-text {
  margin: 0;
  color: #000;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
}

.modform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 50px;   
}

.btn {
      margin: 0 auto;
      margin-bottom: 40px;
    display: block;
    padding: 4px 20px;
    padding-bottom: 3px;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #444;
    background-color: #dbc0c7;
}
.btn:hover,
.btn:focus {
    background-color: #d2a2af;
}

 .form7 {
  width: 200px;
  padding-left: 5px;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #444;
  cursor: pointer;
  outline: none;
  color: black;
  font-size: 18px;
  line-height: 20px;
      -webkit-appearance: none;
    border-radius: 0;
 
}
.block-img {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.img-w {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: auto; 
  }
  .block-left {
    width: 64%;
}
figure {
    width: 390px;
    }
figure img {
    width: 390px;
    height: 260px;
}
.img-w {
  width: 240px;
  height: auto;
}
.block-right {
    width: 30%;
}
.input {
    width: 175px;
}
.foto-item img {
    width: 390px;
    height: auto;
}
}
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: auto; 
  }
  .news {
    padding-top: 10px;
    margin-bottom: 45px;
}
  .main-page {
    padding: 0;
    background-color: #fff;
}
.block-cons {
  padding: 0;
}

.block-part {
  padding: 0;
}
.wrapper {
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

 .block-left {
    width: 100%;
   padding: 0;
}

 .block-right {
    width: 100%;
    padding: 0;
}

figure img {
    width: 390px;
    height: 260px;
}

.foto-item img {
    width: 390px;
    height: auto;
}
figure {
    width: 390px;
    }
}

@media (max-width: 480px) {
  .container {
    width: auto; 
    padding: 0 10px;
  }

  .news {
    padding-top: 10px;
    margin-bottom: 45px;
}
  .main-page {
    padding: 0;
    background-color: #fff;
}
.block-cons {
  padding: 0;
}

.block-part {
  padding: 0;
  padding-top: 30px;
}
.wrapper {
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
 .block-left {
    width: 100%;
   padding: 0;
}
 .block-right {
    width: 100%;
    padding: 0;
}

h1 {
  font-size: 24px;
  line-height: 28px;
}

h2 {
  font-size: 22px;
  line-height: 26px;
}

h2.news-title {
 padding-left: 40px;
  font-size: 16px;
  line-height: 20px;
} 

h3 {
  font-size: 20px;
  line-height: 24px;
}

figure {
  margin: 0 auto;
    width: 100%; /* Ширина */
    margin-bottom: 30px;
   
}

figure img {
  width: 100%;
  height: auto;
  max-height: 430px;
}

.foto {
 
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foto-item {
  margin: 0;
  width: 100%;
  margin-bottom: 25px;
 
}

.foto-item img {
   width: 100%;
  height: auto;
  max-height: 430px;
}

.foto { 
margin-bottom: 30px;
}
}



/*  comment */
.comment {
  margin-top: 30px;
}

.comment-tittle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}
.comment-new {
  width: 95%;
  margin-bottom: 15px;
}
.comment-foto {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 20px;
  margin-bottom: 70px;
}
textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 92%;
    height: 100px;
    padding: 3px;
    padding-top: 5px;
    border: 1px solid #999999;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    resize: none;
}
.comment-user {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
margin-bottom: 7px;
-webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end;

}
.comment-btn {
  display: block;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #999999;
    background-color: transparent;
}

.comment-btn:hover,
 .comment-btn:focus {
  color: #000000;
 }
.comment-btn--c {
  margin-right: 5%;
   margin-left: auto;
}

.comment-name {
  margin: 0;
  font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.comment-time {
  margin: 0;
  margin-left: 5%;
  font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}

.comment-text {
  margin: 0;
  margin-bottom: 7px;
  font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-left: 45px;
}
.comment-rev {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 45px;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;
}
.comment-btn--r {
  margin: 0;
}
.comment-item {
   margin: 0;
  margin-right: 3%;
  font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.comment-list {
  margin-left: 40px;
  margin-bottom: 25px;
}

.comment-block {
  margin-bottom: 25px;
}

.comment-inner {
  margin-bottom: 30px;
}
.comment-dsc {
   margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    color: green;
    padding: 20px 20px;
}

.comment-reg {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;
}
/*  comment END */

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  textarea {
    font-size: 16px;
  }

  textarea:focus {
    font-size: 16px;
    background: #eee;
  }
}
/*  MAIN END */
