/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin: 0 3px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 767px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 2px;
    margin-right: 2px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 18px;
    font-size: 10px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/



/*mod*/
.mod {
   padding-top: 35px;
    padding-bottom: 65px;
}
.mod-title {
   margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
     color: #2980b9;
    letter-spacing: 1px;
}

.mod-text {
   margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
}



.modform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -ms-align-items: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


.form7 {
    width: 600px;
    padding-left: 5px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #737373;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 18px;
    line-height: 20px;

}

#showAll5 {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    margin-right: 20px;
    margin-bottom: 60px;
}

#showAll5 span {
    color: #000000;
    margin: 0 7px;
}

#showAll5:hover {
    color: #000000;
}

#brandImg5 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
    overflow: hidden;
}



.showLess5 {
    max-height: 220px;
    margin: 0 auto;
}



#brandImg5 li {
margin: 0 auto;
    width: 350px;
}

.mod-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
  height: 70px;
  border-bottom: 1px solid #737373;
    letter-spacing: 1px;
    padding: 15px 5px;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.mod-link span {
  display: block;
  width: 270px;
    font-size: 15px;
  line-height: 20px;
  color: #444444;
  letter-spacing: 1px;
  font-weight: 400;
  padding-bottom: 5px;

}
.mod-link img {
        width: 75px;
    height: 50px;
    margin-left: 7px;
}

.mod-link:hover,
.mod-link:focus {
    border-bottom: 1px solid #d22856;
    color: #d22856;
    cursor: pointer;
}


.mod-subtitle {
     margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
     color: #2980b9;
}

@media (max-width: 480px) {
    .container {
        width: auto;
    }
    #showAll5 {
    margin-bottom: 40px;
}
    .mod {
    padding-top: 25px;
    }
    .mod-link span {
  display: block;
  width: 70%;
      font-size: 14px;
    line-height: 18px;
}

    .mod-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .mod-text {
        margin-bottom: 10px;
        margin-top: 5px;

        font-size: 12px;
        line-height: 14px;
    }

    .mod-text-b {
        margin-top: 10px;
        font-size: 12px;
        line-height: 14px;
    }

   

    .form7 {
         width: 100%;
         font-size: 16px;
    line-height: 18px;
    }

    .showLess5 {
        max-height: 330px;
        margin: 0 auto;
    }
    #brandImg5 {
        margin-bottom: 30px;
    }

    #brandImg5 li {
        width: 100%;
    }
    .mod-link {
        height: 70px;
    font-weight: 400;
padding: 10px 3px;
      font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #ccc;
    }
   
    .mod-subtitle {
        font-size: 20px;
        line-height: 24px;
       

    }

    .mod-link-line {
        border-top: 1px solid #737373;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }
   
 .mod {
    padding-top: 25px;
    }
 .form7 {
         width: 100%;
    }

#brandImg5 li {
    margin: 0 auto;
    width: 450px;
}
.mod-link span {
    width: 340px;
  }

    .mod-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }
  
 .mod-subtitle {
        font-size: 20px;
        line-height: 24px;
        
    }
  
     .mod-link-line {
        border-top: 1px solid #737373;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }
#brandImg5 li {
    margin: 0 auto;
    width: 450px;
}
.mod-link span {
    width: 325px;
  }
}
@media (max-width: 575px) {
    .link {
        display: block;
    }
}

/*mod END*/
/*article */
.article-wrapper {
margin-bottom: 10px;
}
.article {
display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}
 .article-link {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
color: #000;
/*width: 176px !important;*/
border: 1px solid #e6e6e6;
    padding-bottom: 3px;
    background-color: #f5f4f4;
}


.article-link--n {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
color: #000;
border: 1px solid #e6e6e6;
    padding-bottom: 3px;
    background-color: #f5f4f4;
     width: 13.1%;
}



.article-link:hover,
.article-link:focus,
.article-link--n:hover,
.article-link--n:focus {
-webkit-box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
 -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition-duration: 0.7s;
}

.article-title {
  margin: 0;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  padding: 0 5px;
 margin-top: 10px;
 margin-bottom: 5px;
  height: 41px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;

}

.article-subtitle {
  margin: 0;
  color: #666;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
text-align: center;
padding: 0 5px;
height: 40px;
  overflow: hidden;
}

.art-link {
  display: block;
    text-align: right;
    margin-top: 7px;
    color: #d22856;
    cursor: pointer;
    font-size: 14px;
    margin-right: 20px;
}
.art-link span {
    color: #000000;
    margin: 0 7px;
}
.art-link:hover,
 .art-link:focus {
    color: #000000;
}
.article-time {
  display: inline-block;
 font-size: 7px;
  line-height: 10px;
  margin-right: 5px;
}

.article-block--n {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

 .article-block {
  display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto;
    position: absolute;
    right: 10px;
    bottom: 50px;
}


.article-date {
  display: inline-block;
  margin-right: 10px;
 font-size: 8px;
  line-height: 10px;
}

.article-foto {
  margin: 0 auto;
   position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
          margin-bottom: 5px;
          margin-top: auto;
}

.article-foto img {
 width: 100%;
  height: auto; 

} 


@media (max-width: 767px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
.article-wrapper {
    margin-bottom: 15px;
}

    .article-link:nth-child(4) {
      display: none;
    }


    .article-link:nth-child(5) {
      display: none;
    }

    .article-link:nth-child(6) {
      display: none;
    }
    .article-link:nth-child(7) {
      display: none;
    }
    

/*.article-link {
      width: 146px !important;
}
*/

.article-link--n {
     width: 32%;
}

.article-title {
    font-size: 12px;
    line-height: 14px;
    padding: 0 3px;
    height: 41px;
    margin-top: 5px;
    }

  .article-subtitle {
    font-size: 8px;
    line-height: 10px;
    padding: 0 3px;
    height: 29px;
    }

    .article-foto {
    margin-bottom: 5px;
  }
  }
