/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin: 0 3px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 767px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 2px;
    margin-right: 2px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 18px;
    font-size: 10px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/


/*mod*/
.model-block {
    padding-top: 35px;
    padding-bottom: 65px;
}
h3 {
    margin: 0;
}
.model-title {
 margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #f66666;
    letter-spacing: 1px;
}
.model-title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}
.model-text {
    margin-bottom: 20px;
}
#text1 {
      margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
}
#allText {
   text-align: right;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    margin-right: 20px;
}




.subtext {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

.modform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.form7 {
    margin: 0 auto;
      width: 200px;
    padding-left: 5px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #737373;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 18px;
    line-height: 20px;
}

#showAll5 {
    max-width: 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #d22856;
    cursor: pointer;
    font-size: 14px;
}

#allText:hover,
#showAll5:hover {
    color: #000000;
    cursor: pointer;
}

#brandImg5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
}


.showLess5 {
    max-height: 335px;
    margin: 0 auto;
}

.showMoreBrands {
    max-height: auto;
}

#brandImg5 li {
   margin: 0 15px;
    margin-bottom: 30px;

}

.mod-link {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.mod-link img {
    width: 100px;
    height: 100px;
}
.mod-link img:hover,
.mod-link img:focus {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: transform 1s;
}
.model-subtitle {
     margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f66666;
}
.model-subtitle::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}

@media (max-width: 480px) {
    .container {
        width: auto;
    }
    .model-block {
    padding-top: 25px;
    }
    .text1Hide {
        max-height: 48px;
        overflow: hidden;

    }
    #allText {
        display: block;
        margin: 5px 0 0 3px;
    }
    .model-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .modform {
    margin-bottom: 30px;
}
    .mod-avto {
        margin: 0;
        margin-left: auto;
        font-size: 14px;
        line-height: 18px;
    }
    .model-text {
        margin-bottom: 0;
    }
  
    .mod-text-b {
        margin-bottom: 45px;
        margin-top: 10px;
        font-size: 12px;
        line-height: 14px;
    }

    
  
    #allText{
        font-size: 13px;
    }
    .showLess5 {
        max-height: 305px;
        margin: 0 auto;
    }
    


    #brandImg5 li {
        margin: 0 auto;
        margin-bottom: 10px;
    }


    .mod-link img {
        margin: 0 4px;
         width: 60px;
        height: 60px;
    }

    .mod-subtitle {
        font-size: 20px;
        line-height: 24px;

    }
   
    .mod-link-line {
        border-top: 1px solid #737373;
    }
    .subtext {
        font-size: 14px;
        line-height: 18px;
    }

}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }
    .model-block {
        padding-top: 25px;
    }
    .text1Hide {
        max-height: 48px;
        overflow: hidden;
    }
    #allText {
        display: block;
        margin: 5px 0 0 3px;
    }
    .model-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }
      .modform {
    margin-bottom: 30px;
}

    .model-text {
        margin-bottom: 0;
    }
  

    .showLess5 {
        max-height: 470px;
        margin: 0 auto;
    }
 
    .showMoreBrands {
        max-height: auto;
    }

   
    .mod-link-line {
        border-top: 1px solid #737373;
    }
    .subtext {

        font-size: 14px;
        line-height: 18px;
    }
    .mod-subtitle {
        font-size: 20px;
        line-height: 24px;

    }
    #brandImg5 li {
        margin: 0 auto;
        margin-bottom: 10px;
    }


    .mod-link img {
        margin: 0 4px;
         width: 60px;
        height: 60px;
    }

}



/*mod END*/