/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin: 0 3px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 767px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 2px;
    margin-right: 2px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 18px;
    font-size: 10px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/



/*mod*/
.model-block {
    padding-top: 35px;
    padding-bottom: 65px;
}
h3 {
    margin: 0;
}
.model-title {
   margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #2980b9;
    letter-spacing: 1px;
}

#text1 {
      margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
}
#allText {
      text-align: right;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    margin-right: 20px;
}

#allText:hover {
    cursor: pointer;
}



.subtext {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}
.mod-avto-btn {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
            margin-bottom: 60px;
}

.mod-avto {
    padding: 4px 15px;
    padding-bottom: 3px;
    border: 1px solid #737373;
    border-radius: 3px;
    color: #444444;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: #dbc0c7;
}
.mod-avto:hover,
.mod-avto:focus {
    background-color: #d2a2af;
}
.modform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -ms-align-items: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin-top: 30px;
    margin-bottom: 40px;
}

.form7 {
    width: 430px;
    padding-left: 5px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #737373;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 18px;
    line-height: 20px;

}


#showAll5 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #d22856;
    cursor: pointer;
    font-size: 14px;
}
#showAll5 span {
    color: #000000;
    margin: 0 7px;
}

#allText:hover,
#showAll5:hover {
    color: #000000;
    cursor: pointer;
}

#brandImg5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
    overflow: hidden;
}


.showLess5 {
    max-height: 220px;
    margin: 0 auto;
}


#brandImg5 li {
    margin: 0 auto;
    width: 335px;
}

.mod-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    border-bottom: 1px solid #737373;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    letter-spacing: 1px;
    padding: 15px 5px;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.mod-link img {
    width: 96px;
    height: 64px;
    margin-left: 7px;
    
}


.mod-link:hover,
.mod-link:focus {
    border-bottom: 1px solid #d22856;
    color: #d22856;
    cursor: pointer;
}

.model-subtitle {
     margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2980b9;
}

@media (max-width: 480px) {
    .container {
        width: auto;
    }
    .model-block {
    padding-top: 25px;
    }
    .text1Hide {
        max-height: 48px;
        overflow: hidden;

    }
    #allText {
        display: block;
        margin: 5px 0 0 3px;
    }
    .model-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .mod-avto {
        font-size: 14px;
        line-height: 16px;
    }
    .model-text {
        margin-bottom: 0;
    }
    #text1 {
        font-size: 14px;
        line-height: 16px;
    }
    .mod-text-b {
        margin-bottom: 45px;
        margin-top: 10px;
        font-size: 12px;
        line-height: 14px;
    }

      .modform {
        margin-top: 20px;
    margin-bottom: 30px;
}
    .form7 {
        width: 85%;
        font-size: 16px;
        line-height: 18px;
      }

    #showAll5 {
        max-width: 160px;
        margin-bottom: 20px;
        font-size: 13px;
    }
    #showAll5 {
        font-size: 13px;
    }

    .showLess5 {
        max-height: 350px;
        margin: 0 auto;
    }


    .mod-link {
        font-size: 16px;
        line-height: 18px;
       
    }

    .mod-search {
        margin-bottom: 12px;
    }
    .mod-subtitle {
        font-size: 20px;
        line-height: 24px;
      

    }
 
    .mod-link-line {
        border-top: 1px solid #737373;
    }
    .subtext {
        font-size: 14px;
        line-height: 16px;
    }
      .form7 {
        width: 280px;
    }


}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }

    .text1Hide {
        max-height: 48px;
        overflow: hidden;

    }
          .modform {
      margin-top: 20px;
    margin-bottom: 30px;
}
      .model-block {
    padding-top: 25px;
    }
    #allText {
        display: block;
        margin: 5px 0 0 3px;
    }
    .model-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }
   
    .model-text {
        margin-bottom: 0;
    }
    #text1 {
        font-size: 14px;
        line-height: 16px;
    }
  

    .showLess5 {
        max-height: 330px;
        margin: 0 auto;
    }
    #brandImg5 {
        margin-bottom: 5px;
    }

    .showMoreBrands {
        max-height: auto;
    }

   .form7 {
    width: 350px;
   

}

    .mod-subtitle {
        font-size: 20px;
        line-height: 24px;

    }
   
    .mod-link-line {
        border-top: 1px solid black;
    }
    .subtext {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: auto; }

#brandImg5 li {
    margin: 0 auto;
    width: 400px;
}
.form7 {
    width: 400px;
   

}
}

@media (max-width: 575px) {
    .link {
        display: block;
    }
}
/*mod END*/