{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <button class="btn btn-danger remove-button-{{ object.id }}" onclick="saveSolution('{{ object.id }}', true)">Удалить</button>
{% endblock %}