/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#breadcrumbs li {
    margin-right: 7px;

}
.dotdotdot {
    display: none;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #444;

}
.more {
    display: none;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #444;
}

#breadcrumbs a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444;
    position: relative;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.user-icon {
    display: none;
}

.user-link:hover,
.link-b:hover {
    color: black;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.current {
    cursor: default;
}
.opened {
    background-color: transparent;
}

@media  (max-width: 575px) {
    .container {
        width: auto;
    }
    #breadcrumbs {
        padding-top: 3px;
    }

    .user-name {
        display: none;
    }
    .opened {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;

    }
    .opened li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .opened .more {
        display: none;
    }

    .user-icon {
        display: block;
    }


    .close-menu {
        font-size: 14px;
        cursor: pointer;
    }
    .user-link {
        width: 10px;
        height: 10px;
    }

    .link-b {
        margin-right: 3px;
    }
    .user-icon {
        display: block;
        width: 16px;
        height: 16px;
    }
    .more {
        display: block;
        cursor: pointer;
        font-size: 12px;
        line-height: 18px;
    }
    #breadcrumbs a {
        line-height: 20px;
        font-size: 12px;
    }
    .model-block {
        padding-top: 5px;
    }

    .user-link--icon {
        width: 20px;
        height: 20px;
    }

    #breadcrumbs li {
        margin-right: 0;
    }



    .more {
        display: block;
        cursor: pointer;

    }

    .opened .more {
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: auto;
    }
}
/*END ХЛЕБНЫЕ КРОШКИ*/


/*code*/
.brand {
    padding-top: 35px;
    padding-bottom: 65px;
}

.brand-title {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    color: #f66666;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}
.brand-title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}

.text-block {
    width: 85%;
}

#text1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}


#allText {
    border: none;
    margin-left: auto;
    background-color: #fff;
    display: none;
    font-weight: 700;
    font-size: 14px;
    color: #ff0000;
    padding-top: 5px;
    margin-right: 7%;
    cursor: pointer;
    outline: none;
}
#allText:hover {
    color: #000;
}
.wrapper {
    margin-bottom: 30px;
}

.brand-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;

}
.brand-block li {
    margin-right: 33px;
    margin-bottom: 20px;
    width: 160px;
}

.link {
    padding: 5px;
    padding-bottom: 3px;
    text-align: center;
    border: 1px solid #727272;
    border-radius: 3px;
    color: #444444;
    cursor: pointer;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    background-color: #faeeee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.link:hover {
    color: #ff0000;
}


.button {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 3px;
    background-color: #dbc0c7;
    border: 1px solid #727272;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #444444;
    cursor: pointer;
    outline: none;
    margin-bottom: 40px;
}

.button:hover {
    background-color: #d2a2af;
}

.turbo-subtitle {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    color: #f66666;
}
.turbo-subtitle::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}

.subtext-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.subtext {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}

.img-wrapper  {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}
.img-wrapper img {
    width: 120px;
    height: 80px;
}




@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    .brand {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .brand-title {
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 24px;
    }

    .text-block {
        width: 100%;
    }
    .brand-block {
        margin: 0 auto;
        width: 300px;
        margin-bottom: 10px;
    }
    .brand-block li {
        margin-right: 8px;
        margin-bottom: 15px;
        width: 93px;
    }
    .brand-block li:nth-child(3n){
        margin-right: 0;
    }
    .link {
        font-size: 14px;
        line-height: 16px;
    }

    .turbo-subtitle {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .img-wrapper {
        display: none;
    }
    .text1Hide {
        max-height: 55px;
        overflow: hidden;
    }
    #allText {
        display: block;
    }
    .subtext {
        width: 100%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }


    .brand-block li {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 130px;
    }
    .link {
        font-size: 16px;
        line-height: 18px;
    }
    .text2Hide {
        max-height: 95px;
    }
    .img-wrapper {
        display: none;
    }
    .text-block {
        width: 100%;
    }
    .subtext {
        width: 100%;
    }
    .brand-block {
        margin: 0 auto;
        width: 450px;
        margin-bottom: 10px;
    }

    .brand-block li:nth-child(3n){
        margin-right: 0;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto; }
    .brand-block {
        margin: 0 auto;
        width: 730px;
        margin-bottom: 10px;
    }

    .brand-block li:nth-child(3n){
        margin-right: 0;
    }

    .text-block {
        width: 80%;
    }
    .text2Hide {
        max-height: 103px;
    }


}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }
    .brand-block li {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 140px;

    }

    .link {
        font-size: 18px;
        line-height: 20px;
    }


}
/*city END*/