/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
      padding-bottom: 5px;
}
  
.line {
    margin-left: 5px;
    margin-right: 5px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 481px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
  padding-bottom: 3px;
}
  .line {
    margin-left: 3px;
    margin-right: 3px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 20px;
    font-size: 11px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/

/*code*/
.inner-grey {
    background-color: #f0f0f0;
    padding: 20px;
    padding-top: 0;
} 

.brand {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}
.brand-b {
    background-color: #ffffff;
    padding: 20px;
}
.brand-title {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #2980b9;
    letter-spacing: 1px;
}

a {
    display: block;
}
p {
    margin: 0;
    margin-bottom: 10px;
}

#text1 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}


#allText {
   border: none;
    text-align: right;
    background-color: #fff;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    padding-top: 5px;
      margin-right: 20px;
    cursor: pointer;
    outline: none;
}
#allText:hover {
    color: #000;
}
.wrapper {
    margin-bottom: 30px;
}
.code-block {
    margin: 40px auto;
    padding: 20px 15px;
    width: 80%;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.code-text {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 18px;
    text-align: justify;
    color: #000;
    font-weight: 400;
}
.button {
    margin: 0 auto;
    display: block;
    padding: 5px 25px;
    text-align: center;
    border: 1px solid #727272;
    border-radius: 3px;
    color: #444444;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    background-color: #c9e3f9;
}
.button:hover {
    background-color: #d2a2af;
}

.turbo-subtitle {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2980b9;
}

.subtext-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.subtext {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
    width: 81%;
}

.img-wrapper  {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}
.img-r img,
.img-l img {
    width: 80px;
    height: 80px;
    
}

.img-r {
    float: right;
    margin: 0 15px;
}
.img-l {
    float: left;
    margin: 0 15px;
}

@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

 .inner-grey {
    padding: 20px 10px;
    padding-top: 0;
    padding-bottom: 40px;
} 

   .brand {
    padding: 20px 10px;
}
.brand-b {
    padding: 20px 10px;
}

    .code-block {
        margin: 40px auto;
        padding: 20px 10px;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 2px solid #ccc;
    }
    .brand {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .brand-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .text-block {
        width: 100%;
    }
    .subtext {

        width: 100%;
    }

    .turbo-subtitle {
        font-size: 20px;
        line-height: 24px;

    }
    .img-wrapper {
        display: none;
    }
    .text1Hide {
        max-height: 55px;
        overflow: hidden;
    }
    #allText {
        display: block;
    }
    .button {
        padding: 5px 15px;
        font-size: 16px;
        line-height: 18px;

    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }
 .inner-grey {
    padding: 20px 10px;
    padding-top: 0;
    padding-bottom: 40px;
} 

   .brand {
    padding: 20px 10px;
}
.brand-b {
    padding: 20px 10px;
}
  .brand-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    #brand-block li {
        margin-right: 10px;
        width: 210px;
    }
    .brand-link {
        min-height: 56px;
        padding: 3px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        background-color: #faeeee;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .text2Hide {
        max-height: 225px;
    }
    .img-wrapper {
        display: none;
    }
    .text-block {
        width: 100%;
    }
    .subtext {
        width: 100%;
    }
    .turbo-subtitle {
        font-size: 20px;
        line-height: 24px;

    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto; }

    #brand-block li {
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .text-block {
        width: 80%;
    }
    .text2Hide {
        max-height: 170px;
    }


}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }
    #brand-block li {
        margin-right: 50px;
        margin-bottom: 25px;
    }


    .text2Hide {
        max-height: 170px;
    }
}
/*city END*/