/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin-left: 5px;
    margin-right: 5px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 481px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 3px;
    margin-right: 3px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 20px;
    font-size: 11px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/


/*code*/
.brand {
    padding-top: 35px;
    padding-bottom: 65px;
}

.brand-title {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #f66666;
    letter-spacing: 1px;
}
.brand-title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}
p {
    margin: 0;
    margin-bottom: 10px;
}
.select {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    line-height: 20px;
    padding: 3px;
    color: #000000;
    border: none;
    width: 300px;
    border-bottom: 1px solid #737373;
    background-color: #fff;
    margin-bottom: 40px;
    margin-top: 30px;

}

.subtext-block {
    margin-bottom: 35px;
}

#text1 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}


#allText {
   border: none;
    text-align: right;
    background-color: #fff;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    padding-top: 5px;
      margin-right: 20px;
    cursor: pointer;
    outline: none;
}
#allText:hover {
    color: #000;
}
.wrapper {
    margin-bottom: 30px;
}

#brand-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
}
#brand-block li {
    margin: 0 15px;
    margin-bottom: 20px;
}

.link{
    width: 330px;
    padding: 5px;
    padding-bottom: 4px;
    background-color: #faeeee;
    text-align: center;
    border: 1px solid #737373;
    border-radius: 3px;
    color: #444444;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}
.link:hover,
.link:focus {
    background-color: #d2a2af;
}


#allText2 {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    cursor: pointer;
    outline: none;
}
#allText2:hover {
    color: #000;
}
.text2Hide {
    max-height: 145px;
    overflow: hidden;
}


.turbo-subtitle {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f66666;
}
.turbo-subtitle::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}

.subtext-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.subtext {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-align: justify;
    font-weight: 400;
}

.img-r img,
.img-l img {
    width: 80px;
    height: 80px;
    
}


.subtext-block-m {
    margin-bottom: 0;
}

.img-r {
    float: right;
    margin: 15px;
}
.img-l {
    float: left;
    margin: 15px;
}
@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    .brand {
        padding-top: 25px;
     
    }
    .brand-title {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 26px;
    }

    .text-block {
        width: 100%;
    }
    .item {
        width: 295px;
        font-size: 16px;
        line-height: 18px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    #brand-block li {
        margin: 0;
        margin-bottom: 15px;
    }

    .text2Hide {
        max-height: 235px;
    }


    .turbo-subtitle {
        font-size: 20px;
        line-height: 24px;
    }
    .img-wrapper {
        display: none;
    }
    .text1Hide {
        max-height: 55px;
        overflow: hidden;
    }
    #allText {
        display: block;
    }
    .subtext {
        width: 100%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }

.brand {
        padding-top: 25px;
     
    }
       .brand-title {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 26px;
    }
    #brand-block li {
        margin: 0 10px;
        margin-bottom: 20px;
    }

    .text2Hide {
        max-height: 245px;
    }
    .img-wrapper {
        display: none;
    }
    .text-block {
        width: 100%;
    }
    .subtext {
        width: 100%;
    }
     .turbo-subtitle {
        font-size: 20px;
        line-height: 24px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto; }

    #brand-block li {
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .item {
        width: 295px;
        font-size: 16px;
        line-height: 18px;
    }
    .text2Hide {
        max-height: 140px;
    }


}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }
    #brand-block li {
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .item {
        width: 295px;
        font-size: 16px;
        line-height: 18px;

    }
    .text2Hide {
        max-height: 140px;
    }
}
/*city END*/