/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
    border-top: 1px solid #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
}

#breadcrumbs li {
    margin-right: 7px;

}
.dotdotdot {
    display: none;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #444;

}
.more {
    display: none;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #444;
}

#breadcrumbs a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444;
    position: relative;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.user-icon {
    display: none;
}

.user-link:hover,
.link-b:hover {
    color: black;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.current {
    cursor: default;
}
.opened {
    background-color: transparent;
}

@media  (max-width: 575px) {
    .container {
        width: auto;
    }
    #breadcrumbs {
        padding-top: 3px;
    }

    .user-name {
        display: none;
    }
    .opened {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;

    }
    .opened li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .opened .more {
        display: none;
    }

    .user-icon {
        display: block;
    }


    .close-menu {
        font-size: 14px;
        cursor: pointer;
    }
    .user-link {
        width: 10px;
        height: 10px;
    }

    .opened .link-b {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .user-icon {
        display: block;
        width: 16px;
        height: 16px;
    }
    .more {
        display: block;
        cursor: pointer;
        font-size: 12px;
        line-height: 18px;
    }
    #breadcrumbs a {
        line-height: 20px;
        font-size: 12px;
    }
    .model-block {
        padding-top: 5px;
    }

    .user-link--icon {
        width: 20px;
        height: 20px;
    }

    #breadcrumbs li {
        margin-right: 0;
    }

    #breadcrumbs li:nth-child(2) {
        margin-right: 3px;
    }

    .more {
        display: block;
        cursor: pointer;

    }

    .opened .more {
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: auto;
    }
}
/*END ХЛЕБНЫЕ КРОШКИ*/


/*code*/
.turbo {
    padding-top: 30px;
    padding-bottom: 65px;
}

.turbo-title {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    color: #f66666;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}
.turbo-title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}

.select {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    line-height: 20px;
    padding: 3px;
    color: #757373;
    border: none;
    width: 220px;
    border-bottom: 1px solid #000;
    background-color: #fff;
    margin-bottom: 30px;

}
.text-block {
    margin-bottom: 30px;
}

#text1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}


#allText {
    text-align: right;
    display: none;
    font-weight: 700;
    font-size: 14px;
    color: #ff0000;
    padding-top: 5px;
    margin-right: 7%;
}


.mod-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.mod-list li {
    margin-right: 15px;
    margin-bottom: 15px;
}
.mod-link img {
    width: 80px;
    height: 80px;
}

.turbo-subtitle {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    color: #f66666;
}
.turbo-subtitle::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}



.turbo-text {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}





@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    .turbo {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .title {
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 24px;
    }
    .text-block {
        margin-bottom: 25px;
    }

    .mod-list li {
        margin-right: 10px;
        margin-bottom: 15px;
    }
    .mod-link img {
        width: 60px;
        height: 60px;
    }
    .mod-list {
        margin-bottom: 20px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .text1Hide {
        max-height: 55px;
        overflow: hidden;
    }
    #allText {
        display: block;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }


    .mod-list li {
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .mod-link img {
        width: 70px;
        height: 70px;
    }


}
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto; }



}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }


}
/*city END*/