/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin-left: 5px;
    margin-right: 5px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 481px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 3px;
    margin-right: 3px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 20px;
    font-size: 11px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/

/*code*/
.turbo {
    padding-top: 35px;
    padding-bottom: 65px;;
}
p {
    margin: 0;
    margin-bottom: 10px;
}
.turbo-title {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #f66666;
    letter-spacing: 1px;
}
.turbo-title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}

.select {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    line-height: 20px;
    padding: 3px;
    color: #000000;
    border: none;
    width: 220px;
    border-bottom: 1px solid #737373;
    background-color: #fff;
    margin-bottom: 30px;

}
.text-block {
    margin-bottom: 30px;
}

#text1 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
}


#allText {
   border: none;
    text-align: right;
    background-color: #fff;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    padding-top: 5px;
      margin-right: 20px;
    cursor: pointer;
    outline: none;
}


.mod-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.mod-list li {
    margin: 0 10px;
    margin-bottom: 20px;
}
.mod-link img {
    width: 80px;
    height: 80px;
}
.mod-link img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.turbo-subtitle {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f66666;
}
.turbo-subtitle::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}



.turbo-text {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
}





@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    .turbo {
        padding-top: 25px;
       
    }
    .turbo-title {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 26px;
    }
    .text-block {
        margin-bottom: 25px;
    }

    .mod-list li {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .mod-link img {
         margin: 0 7px;
        width: 60px;
        height: 60px;
    }
    .mod-list {
        margin-bottom: 20px;
    }
    .turbo-subtitle {
        font-size: 20px;
        line-height: 24px;
       
    }

    .text1Hide {
        max-height: 95px;
        overflow: hidden;
    }
    #allText {
        display: block;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }
 .turbo {
        padding-top: 25px;
       
    }

       .turbo-title {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 26px;
    }
    .mod-list li {
       margin: 0 auto;
        margin-bottom: 15px;
    }
    .mod-link img {
         margin: 0 7px;
        width: 60px;
        height: 60px;
    }
  .turbo-subtitle {
        font-size: 20px;
        line-height: 24px;
       
    }

}

/*city END*/