
###> symfony/framework-bundle ###
/.env
/public/bundles/
/public/bower-components/
/var/
/vendor/
/.idea/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
