<main class="container">
    <div class="block">
        <div class="block-price"><span>547</span> Бел. Руб.</div>
        <div class="block-text">2.0 л, бензин, FSI, МКПП, хэтчбэк, привод. Запчасть от компании спецавтзапчастьпривезенная из Европы, гарантия 2 недели, со дня покупки при сохранении чека.</div>
        <div class="block-tel">
            <button class="block-btn">Показать телефоны</button>
            <a href="tel:01234567890" class="contact">+375 (29) 614 68 13</a>
            <a href="tel:01234567890" class="contact">+375 (44) 553 18 16</a>
            <a href="tel:01234567890" class="contact">+375 (33) 185 85 18 </a>
        </div>
    </div>
</main>