/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin: 0 3px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 575px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 2px;
    margin-right: 2px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 18px;
    font-size: 10px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/




/*user*/

.prod {
    padding-top: 35px;
    padding-bottom: 65px;
}

.title-main {
    margin: 0;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
      color: #2980b9;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}



.block-product {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.product {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    border: 1px solid #DCDBDB;
    padding: 7px 0;
    text-align: center;
    border-radius: 10px 10px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    color: #ccc;
    cursor: pointer;
}
.product:hover {
    color: #000;
}

.product--r {
    width: 30%;
}
.product--l {
    width: 40%;
}
.active {
    border-bottom: none;
    background-color: #eddcdc;
    cursor: default;
    color: #000;
}
.active:hover {
    background-color: #eddcdc;
}


.main-block {
    border: 1px solid #DCDBDB;
    border-top: none;
    margin-bottom: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #2980b9;
    text-align: center;
    margin-bottom: 30px;
}

.help {
    border: none;
    cursor: pointer;
    background-color: #fff;
    vertical-align: middle;
    outline: none;
}
.help:hover svg {
    fill: red;
}



.modal--show {
    display: block;
}



.button-close {
    margin: 0 auto;
    display: block;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}
.button-close:hover {
    color: red;
}

/*-----------------------------------*/



.select {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

label {
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;

}

input {
    border: none;
    padding: 5px;
    border-bottom: 1px solid #757373;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #fff;
    -webkit-appearance: none;
    border-radius: 0;


}

select {
     font-size: 18px;
    line-height: 20px;
    padding: 3px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #757373;
    margin-left: 10px;
    background-color: #fff;
    -webkit-appearance: none;
    border-radius: 0;


}
.select-item {
    margin-right: 50px;
}
.select-i {
    margin-right: 60px;
    margin-bottom: 20px;
}
.mark-select-m {
    width: 180px;

}

.mark-select-c {
    width: 300px;

}

.mark-select-y {
    width: 80px;
}

.part-input {
    display: block;
    width: 45%;
    margin: 0 auto;
}

.prompt--l {
    padding-left: 70px;
}
.state {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.state-item {
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
.state-item--m {
    width: 280px;
}
.state-block {

}
.state-title {
    margin: 0;
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
}
.state-select {

}
.part-number {
    width: 190px;
}
.num-input {
    width: 95%;
}
.state-check {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: red;
}


.state-option {
    padding-left: 40px;
    margin-bottom: 10px;
}
.status-option {
    padding-left: 40px;
    margin-bottom: 10px;
}
.state-option:last-child {
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.state-option label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.status-option label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 1px solid #737373;
    border-radius: 50%;
}

.filter-input:disabled + label {
    color: #000000;
    opacity: 0.5;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
     top: 3px;
    left: -36px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
}


textarea {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 5px;
    border: 1px solid #737373;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}


.img-block {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.add-img {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    margin-right: 50px;
    text-decoration: underline;
}
.add-img:hover {
    color: red;
}

.img {
    width: 90px;
    height: 60px;
    margin-right: 20px;
}

.price-c {
    display: block;
    margin-bottom: 20px;
}
.name-input {
    width: 150px;
    margin: 0 10px;
}

.prompt-c {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: green;
    text-align: center;
    margin-bottom: 15px;
}

.subtext {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
 
}


.mod-text {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
 
    text-align: justify;
}



.btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
 
}


.btn {
    display: block;
    padding: 5px 25px;
    text-align: center;
    border: 1px solid #737373;
    border-radius: 3px;
    color: #444444;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    background-color: #dbc0c7;
    margin-right: 50px;
    margin-bottom: 20px;
}
.btn:hover {
    background-color: #d2a2af;
}


.load {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: green;
    text-align: center;
}

/*-----tab2-----------*/

.status {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
}

.status-block {
    width: 45%;
    border-bottom: 1px solid #cccccc;
}

.status-title {
    color: #999999;
    margin: 0;
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.btn-filter {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    padding: 5px 25px;
    padding-bottom: 3px;
    margin: 0 auto;
    color: #444444;
    border: 1px solid #737373;
    cursor: pointer;
    background-color: #dbc0c7;
    border-radius: 3px;
}

.btn-filter:hover {
    background-color: #d2a2af;
}

.btn-filter--r {
    margin: 0;
    margin-left: auto;
    background-color: #f7ebee;
    margin-bottom: 25px;
}
.pay-block {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pay-option {
    margin-bottom: 20px;
    margin-right: 30px;
    width: 250px;
}

.business-btn {
    margin-bottom: 40px;
}
.prompt-i {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: red;
    text-align: center;
}
.prompt-r {
    text-align: right;
    margin-bottom: 5px;
}
.status-name {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}
.select-ch {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.prompt-a {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    text-align: center;
    padding-top: 3px;
}

.pay-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.pay-option {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
}
.pay-option label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pay-item label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    display: block;
    left: -42px;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #737373;
    border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    background: url("/img/chek.svg") 0 0 no-repeat;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    left: -41px;
    top: 0px;
}

.pay-name {
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
}

.check {
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding-top: 3px;
    color: green;
    text-align: center;
}

.pay-sel {
    padding-top: 15px;
    margin-bottom: 40px;
}

.pay-item {
    margin-bottom: 10px;
    padding-left: 40px;
}
.pay-item:last-child {
    margin-bottom: 0;
}
.btn-save {
    margin-bottom: 30px;
}
.btn-filter--b {
    margin-bottom: 40px;
}

.btn-o {
    margin-right: 0;
}


.overlay1,
.overlay2 {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100; }

.modal--show {
    display: block;
}


.modal {
        position: fixed;
    top: 100px;
    left: 50%;
    width: 850px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    padding: 70px 55px;
    padding-bottom: 0px;
    border-radius: 5px;
}

.modal-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    border: 1px solid #737373;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px;
    outline: none;

}

.modal-close svg:hover line,
.modal-close svg:focus line {
    stroke: red;
}



.modal-title {
    margin: 0;
    margin-bottom: 25px;
    color: #000;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;

}

.modal-text {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    
}
@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    .prod {
        padding-top: 25px;
        padding-bottom: 45px;
    }

    .title-main {
        font-size: 22px;
        line-height: 26px;
    }

    .product {
        font-size: 18px;
        line-height: 20px;
    }

    .desk {
        display: none;
    }
    .subtitle {
        font-size: 20px;
        line-height: 24px;

    }


    .modal-title {
        font-size: 20px;
        line-height: 22px;
    }



    .button-close {
        font-size: 16px;
        line-height: 18px;

    }

    /*-----------------------------------*/



    .select {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-align-items: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    label {
        font-size: 16px;
        line-height: 20px;
    }

    input {
        font-size: 15px;
        line-height: 18px;
    }

    select {
        font-size: 15px;
        line-height: 18px;
    }
    .select-item {
        margin-right: 0;

    }
    .select-i {
        margin-right: 0;

    }
    .mark-select-m {
        width: 170px;

    }

    .mark-select-c {
        width: 250px;

    }

    .mark-select-y {
        width: 70px;
    }


    .part-input {
        width: 97%;
    }

    .prompt {
        display: block;
        font-size: 12px;
        line-height: 14px;

    }
    .prompt--l {
        padding-left: 50px;
    }
    .state {
        margin-bottom: 30px;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }

    .state-item {
        width: 300px;
    }
    .state-item--m {
        width: 220px;
        margin-bottom: 25px;
        margin-right: 28px;
    }

    .state-title {
        font-size: 18px;
        line-height: 20px;
    }

    .part-number {
        width: 155px;
        margin-left: auto;
    }
    .num-input {
        width: 95%;
    }
    .state-check {
        display: block;
        font-size: 10px;
        line-height: 12px;
        color: red;
    }
   
    textarea {
        font-size: 14px;
        line-height: 16px;
        width: 100%;
    }
    .img-block {
        margin-bottom: 30px;
    }

    .add-img {
        width: 100%;
        display: block;
        font-size: 16px;
        line-height: 18px;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    .img {
        width: 75px;
        height: 50px;
        margin-right: 10px;
    }


    .name-input {
        width: 85px;
    }

    .prompt-c {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .btn-list {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }


    .btn {
        padding: 5px 12px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        margin-right: 0;
    }


    /*-----tab2-----------*/

    .status {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;

    }

    .status-block {
        width: 100%;
        margin-bottom: 25px;
    }
    .status-block:last-child {
        margin-bottom: 0;
    }
    .status-title {
        margin-bottom: 10px;
        font-size: 19px;
        line-height: 22px;
    }

    .btn-filter {
        font-size: 16px;
        line-height: 18px;
        padding: 5px 15px;
    }


    .pay-block {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }

    .pay-option {
        margin-bottom: 15px;
        margin-right: 0;
        width: 85%;
    }


    .prompt-i {
        font-size: 12px;
        line-height: 14px;
    }


    .btn-filter--r {
        margin: 0;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 16px;
        margin-left: auto;
    }
    .subtitle-m {
        margin-bottom: 30px;
    }

    .btn-filter--b {
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 16px;
    }
    .modal {
    top: 10px;
    width: 90%;
    padding: 50px 10px;
    }
    .modal-title {
        font-size: 20px;
        line-height: 22px;
    }

}


@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    .prod {
        padding-top: 25px;
        padding-bottom: 45px;
    }

    .title-main {
        font-size: 22px;
        line-height: 26px;

    }

    .product {
        font-size: 18px;
        line-height: 20px;
    }




    .subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .modal-title {
        font-size: 20px;
        line-height: 22px;
    }

    .button-close {
        font-size: 16px;
        line-height: 18px;

    }

    /*-----------------------------------*/



    .select {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    label {
        font-size: 18px;
        line-height: 20px;
    }

    input {
        font-size: 16px;
        line-height: 18px;
    }

    select {
        font-size: 16px;
        line-height: 18px;
    }
    .select-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .select-i {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .mark-select-m {
        width: 170px;

    }

    .mark-select-c {
        width: 270px;

    }

    .mark-select-y {
        width: 70px;
    }


    .part-input {
        width: 430px;
    }

    .prompt {
        display: block;
        font-size: 12px;
        line-height: 14px;

    }
    .prompt--l {
        padding-left: 50px;
    }
    .state {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }

    .state-item {
        width: 335px;
    }
    .state-item--m {
        width: 245px;
        margin-right: 33px;
        margin-bottom: 30px;
    }

    .state-title {
        font-size: 20px;
        line-height: 22px;
    }

    .part-number {
        width: 190px;
        margin-left: auto;
    }
    .num-input {
        width: 95%;
    }
    .state-check {
        display: block;
        font-size: 11px;
        line-height: 14px;
        color: red;
    }
   
    textarea {
        font-size: 14px;
        line-height: 16px;
    }
    .img-block {
        margin-bottom: 30px;
    }

    .add-img {
        width: 100%;
        display: block;
        font-size: 16px;
        line-height: 18px;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    .img {
        width: 75px;
        height: 50px;
        margin-right: 10px;
    }

    .price-c {
        margin-bottom: 25px;
        text-align: center;
    }
    .name-input {
        width: 85px;
    }

    .prompt-c {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }


    .btn-list {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .btn {
        padding: 5px 15px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
   
        margin-right: 0;
        margin-bottom: 20px;
    }

    /*-----tab2-----------*/

    .status {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .status-block {
        width: 430px;
        margin-bottom: 25px;
    }
    .status-block:last-child {
        margin-bottom: 0;
    }
    .status-title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 22px;
    }

    .btn-filter {
        font-size: 16px;
        line-height: 18px;
        padding: 5px 15px;
    }


    .pay-block {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }

    .pay-option {
        margin-bottom: 15px;
        margin-right: 0;
        width: 85%;
    }

    .prompt-i {
        font-size: 12px;
        line-height: 14px;
    }


    .btn-filter--r {
        margin: 0;
        margin-bottom: 20px;
        margin-left: auto;
    }
    .modal {
        top: 50px;
    width: 650px;
    }
    .modal-title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 22px;
    }
}
@media (min-width: 768px) and  (max-width: 1023px) {
    .container {
        width: auto; }

    .mob {
        display: block;
    }

    .desk {
        display: none;
    }
    .select-item {
        margin-right: 50px;
        margin-bottom: 15px;
    }
    .select {
        margin-bottom: 20px;
    }

    .part-input {
        width: 500px;

    }

    .select-i {
        width: 400px;
        margin-right: 20px;
    }
    .state {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .state-item {
        width: 375px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .state-item--m {
        width: 270px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .part-number {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 400px;
    }

    .num-input {
        width: 40%;
        margin-left: 10px;
    }
    label {
        font-size: 18px;
        line-height: 20px;
    }

}
@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }
    .select-item {
        margin-right: 35px;
    }
}

.prompt {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    padding-top: 3px;
    color: red;
    text-align: center;
}

/*Profil END*/