/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
    border-top: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

#breadcrumbs li {
    margin-right: 5px;

}
.more {
    display: none;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #444;
}

#breadcrumbs a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #444;
    position: relative;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.user-icon {
    display: none;
}

.user-link:hover,
.link:hover {
    color: black;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.current {
    font-weight: bold;
    cursor: default;
}
.opened {
    background-color: transparent;
}

@media  (max-width: 575px) {
    .container {
        width: auto;
    }

    .user-name {
        display: none;
    }

    .opened li {
        display: block;
    }

    .opened .more {
        display: none;
    }

    .current-w {
        font-weight: bold;
        cursor: default;
    }
    .close-menu {
        color: #d22856;
        font-size: 14px;
        cursor: pointer;
    }
    .user-link {
        width: 10px;
        height: 10px;
    }
    .link {
        display: none;
    }
    .opened .link {
        display: block;
    }
    .user-icon {
        display: block;
        width: 10px;
        height: 10px;
    }
    .more {
        display: block;
        cursor: pointer;
        font-size: 12px;
        line-height: 14px;
    }

    #breadcrumbs a {
        font-size: 14px;
        line-height: 13px;

    }
    .user-link--icon {
        width: 12px;
        height: 13px;
    }

    #breadcrumbs li {
        margin-right: 3px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: auto;
    }
    #breadcrumbs a {
        font-size: 14px;
        line-height: 16px;
        margin-right: 3px;
    }

}
/*ХЛЕБНЫЕ КРОШКИ*/


/*price*/

.price {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.price-title {
    margin: 0;
    font-size: 26px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 15px;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 7px 25px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #000000;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: #000000;
    background-color: #ededed;
}

.price-btn {
    width: 400px;
}

.btn:hover {
    background-color:  #000000;
    color: #ffffff;
}


.price-block {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.price-block span{
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.price-name {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
}

.price-item {
    margin-bottom: 15px;
}

.price-item span {
    display: block;
    margin-top: 3px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: green;
}

.price-text {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

@media (max-width: 480px) {
    .container {
        width: auto;
    }
    .price {
        width: 100%;
        padding-top: 10px;
    }

    .price-title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .btn {
        font-size: 16px;
        line-height: 18px;
        padding: 7px 15px;
    }

    .price-btn {
        width: 255px;
    }

    .price-block {
        flex-direction: column;
        padding-top: 10px;
        width: 200px;
        margin-bottom: 10px;
    }

    .price-block span{
        font-size: 14px;
        line-height: 18px;
    }

    .price-name {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .price-item {
        margin-bottom: 10px;
    }

    .price-item span {
        display: block;
        margin-top: 3px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: green;
    }

    .price-text {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }
}



@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }

    .price {
        width: 100%;
        padding-top: 10px;
    }

    .price-title {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    .btn {
        font-size: 18px;
        line-height: 20px;
    }

    .price-btn {
        width: 300px;
    }

    .price-block {
        padding-top: 10px;
        width: 300px;
        margin-bottom: 10px;
    }

    .price-block span{
        font-size: 14px;
        line-height: 18px;
    }

    .price-name {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .price-item {
        margin-bottom: 10px;
    }

    .price-item span {
        display: block;
        margin-top: 3px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: green;
    }

    .price-text {
        margin: 0;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
    }
}


/*price end*/