/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin: 0 3px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 575px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 2px;
    margin-right: 2px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 18px;
    font-size: 10px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/


/*price*/

.price {
    width: 80%;
    margin: 0 auto;
    padding-top: 35px;
    text-align: center;
}

.price-title {
     margin: 0;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
      color: #2980b9;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.btn {
    margin: 0 auto;
    display: block;
    padding: 5px 25px;
    text-align: center;
    border: 1px solid #737373;
    border-radius: 3px;
    color: #444444;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    background-color: #dbc0c7;
}
.btn:hover {
    background-color: #d2a2af;
}

.price-btn {
    width: 270px;
}


.price-block {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.price-block span{
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.price-name {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
}

.price-item {
    margin-bottom: 65px;
}

.price-item span {
    display: block;
    margin-top: 3px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: green;
}

.price-text {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

@media (max-width: 480px) {
    .container {
        width: auto;
    }
    .price {
        width: 100%;
        padding-top: 25px;
    }

    .price-title {
        font-size: 20px;
        line-height: 22px;
       
    }

    .btn {
        padding: 5px 15px;
        padding-bottom: 4px;
        font-size: 16px;
        line-height: 18px;
    }

    .price-btn {
        width: 255px;
    }

    .price-block {
        flex-direction: column;
        padding-top: 10px;
        width: 200px;
        margin-bottom: 10px;
    }

    .price-block span{
        font-size: 14px;
        line-height: 18px;
    }

    .price-name {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .price-item {
        margin-bottom: 10px;
    }

    .price-item span {
        display: block;
        margin-top: 3px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: green;
    }

    .price-text {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }
}



@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }

    .price {
        width: 100%;
        padding-top: 25px;
    }

    .price-title {
        font-size: 24px;
        line-height: 26px;
       
    }

   
    .price-btn {
        width: 300px;
    }

    .price-block {
        padding-top: 10px;
        width: 300px;
        margin-bottom: 10px;
    }

    .price-block span{
        font-size: 14px;
        line-height: 18px;
    }

    .price-name {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .price-item {
        margin-bottom: 10px;
    }

    .price-item span {
        display: block;
        margin-top: 3px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: green;
    }

    .price-text {
        margin: 0;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
    }
}

.show-import-errors{
    height: 208px;
    border: 2px solid #737373;
    overflow-y: scroll;
}

span.ng-binding {
    margin-bottom: 40px;
}
/*price end*/