/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin: 0 3px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 767px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 2px;
    margin-right: 2px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 18px;
    font-size: 10px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/




/*mod*/
.model{
 padding-top: 35px;
    padding-bottom: 65px;
}
h1 {
   margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #2980b9;
    letter-spacing: 1px;

}

a {
  display: block;
}
p {
margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
}

.brand-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
    margin-bottom: 30px;
  
  }
  .brand-block li {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    
}

.link-c {
  width: 100px; 
  padding: 5px;
  padding-bottom: 4px;
  text-align: center;
  border: 1px solid #727272;
  border-radius: 3px;
  color: #444444;
  cursor: pointer;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  background-color: #faeeee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.link-c:hover {
   background-color: #d2a2af;
}

.btn {
  display: block;
  font-size: 16px;
  line-height: 18px;
    padding: 5px 15px;
    background-color: #dbc0c7;
    border: 1px solid #757373;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400; 
    margin: 50px 0;
    margin-left: auto;
}
.btn:hover {
  background-color: #d2a2af;
}
h2 {
  margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2980b9;
}

h3 {
   margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2980b9;
}

.model-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
}



.model-block  li {
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 20px;
}
.model-link {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}
.model-link img {
  width: 96px;
  height: 64px;
}
.model-link img:hover {
 -webkit-filter: grayscale(100%);
         filter: grayscale(100%);  
}

@media (max-width: 480px) {
  .container {
    width: auto; 
    padding: 0 10px;
  }
.model {
  padding-top: 25px;
}
  
  h1 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  

.brand-block {
   margin: 30px auto;
    width: 300px;
}
  .brand-block li {
    margin-right: 8px;
margin-left: 0;
    margin-bottom: 15px;
    
}
.brand-block li:nth-child(3n){
    margin-right: 0;
}
.link-c {
  font-size: 14px;
  line-height: 16px;
  width: 90px;
}


h2 {
  font-size: 20px;
  line-height: 24px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
}
.model-block  li {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.model-link img {
  width: 90px;
  height: 60px;
}
}
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: auto; 
  }

 .mod {
    padding-top: 25px;
    }
  h1 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .brand-block {
   margin: 30px auto;
    width: 450px;
}
 
 
.brand-block li {
    margin-right: 15px;
margin-left: 0;
    margin-bottom: 15px;
    width: 130px;
}
.link-c {
  width: 130px;
}

.brand-block li:nth-child(3n){
    margin-right: 0;
}

h2 {
  font-size: 20px;
  line-height: 24px; 
}
h3 {
  font-size: 18px;
  line-height: 22px; 
}
.model-block  li {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.model-link img {
  width: 90px;
  height: 60px;
}
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: auto; }


.link-c {
  width: 80px;
  font-size: 16px;
  line-height: 20px;
}
  }
@media (min-width: 1024px) and (max-width: 1199px) {
  .container {
    width: auto; }

 .brand-block li {
    margin-left: 10px;
    margin-right: 10px;
   
    
}
.block-text {
    width: 560px;
  }
.link-c {
  font-size: 18px;
  width: 90px;
  }
  .model-block {
    margin-bottom: 20px;
}
}

/*mod END*/ 
