
/*ХЛЕБНЫЕ КРОШКИ*/
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-bottom: 5px;
      padding-top: 20px;
}
  
.line {
    margin-left: 5px;
    margin-right: 5px;
  }

.breadcrumbs a {
  font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

.breadcrumbs-item {
  display: none;
}

@media  (max-width: 767px) {
  .container {
    width: auto; 
  }
.breadcrumbs {
  padding-top: 5px;
}
  .line {
    margin-left: 3px;
    margin-right: 3px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}

.close-menu {
  font-size: 14px;
  cursor: pointer;
}
.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 16px;
  height: 16px;
}

.breadcrumbs a {
    line-height: 20px;
    font-size: 11px;
  }

  .breadcrumbs li:nth-child(3) {
    display: none;
  }

  .breadcrumbs li:nth-child(4) {
    display: none;
  }
   .breadcrumbs li:nth-child(5) {
    display: none;
  }
  .breadcrumbs li:nth-child(6) {
    display: none;
  }
  .breadcrumbs li:nth-child(7) {
    display: none;
  }
  .btn-show li:nth-child(2) {
    display: none;
  }

  .btn-show li:nth-child(3) {
    display: block;
  }

  .btn-show li:nth-child(4) {
    display: block;
  }
  .btn-show li:nth-child(5) {
    display: block;
  }
  .btn-show li:nth-child(6) {
    display: block;
  }
  .btn-show li:nth-child(7) {
    display: block;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 16px;
}
   
 
 .breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

.breadcrumbs-item {
  display: block;
}

}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: auto; 
  }
}
 /*END ХЛЕБНЫЕ КРОШКИ*/


/*content*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.zap {
  padding-top: 35px;
  padding-bottom: 45px;
}

.zap-title {
  margin: 0;
  margin-bottom: 20px;
    font-size: 26px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}

.zap-subtitle {
  margin: 0;
  margin-bottom: 20px;
    font-size: 26px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}

.zap-text {
  margin: 0;
  margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}

.zap-wrapper {
    margin-bottom: 40px;
}

#text1 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}


#allText {
    border: none;
    text-align: right;
    background-color: #fff;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    padding-top: 5px;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}

.zap-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.zap-item {
  width: 240px;
    padding: 5px;
    padding-bottom: 4px;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 3px;
    color: #444444;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    background-color: #f2f2f2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.zap-item:hover,
.zap-item:focus {
  background-color: #999999;
}



@media (max-width: 767px) {
    .container {
        width: auto;
    }
    .zap-title {
    font-size: 22px;
    line-height: 24px;
}

.zap-subtitle {
    font-size: 18px;
    line-height: 20px;
}
    #allText {
    display: block;
}
.text1Hide {
    max-height: 58px;
    overflow: hidden;
}

.zap-list {
  flex-direction: column;
}

.zap-list li {
  margin-bottom: 20px;
}
.zap-item {
  display: block;
  margin: 0 auto;
    width: 80%;
    font-size: 14px;
    line-height: 16px;
}


}



/*  MAIN END */



/*article */
.article {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 0;
    margin-bottom: 30px;
    margin-top: 15px;

}

.article-link {
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    color: #000;
    border: 1px solid #ccc;
    width: 176px !important;
    padding-bottom: 5px;
    box-sizing: border-box;

}
.article-link:hover,
.article-link:focus {
    -webkit-box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
    box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
}

.article-title {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0 5px;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.article-subtitle {
    margin: 0;
    color: #666;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    padding: 0 5px;
    height: 42px;
    overflow: hidden
}


.article-time {
    display: inline-block;
    font-size: 8px;
    line-height: 12px;
    margin-right: 5px;
}
.article-block {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto;
    position: absolute;
    right: 5px;
    bottom: 57px;
}



.article-date {
    display: inline-block;
    margin-right: 15px;
    font-size: 10px;
    line-height: 12px;
}

.article-foto {
    margin: 0 auto;
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: auto;
}


.article-ban {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}

.article--ban::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .05em #000000;
}

@media (max-width: 480px) {
    .article {
        margin-top: 10px;
    }

    .article-link {
        width: 146px !important;

    }
}
