/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin: 0 3px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 767px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 2px;
    margin-right: 2px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 18px;
    font-size: 10px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/



/*mod*/
.model{
    padding-top: 35px;
    padding-bottom: 65px;
}
h1 {
  margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #2980b9;
    letter-spacing: 1px;
}


p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-weight: 400;
  text-align: justify;
}
a {
  display: block;
}

.modform {
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -ms-align-items: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
    margin: 50px;
    margin-top: 60px;
}   


 .form7 {
  width: 600px;
    padding-left: 5px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #737373;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 18px;
    line-height: 20px;
 
}
.btn-form {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding:5px 25px;
  padding-bottom: 4px;
  color: #444;
  border: 1px solid #737373;
  cursor: pointer;
  background-color: #faeeee;
  border-radius: 3px;
}
.btn-form:hover {
    background-color: #d2a2af;
    
}
.btn {
  display: block;
  font-size: 16px;
  line-height: 18px;
    padding: 5px 15px;
    background-color: #dbc0c7;
    border: 1px solid #757373;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400; 
    margin: 30px 0;
    margin-bottom: 50px;
    margin-left: auto;
}
.btn:hover {
  background-color: #d2a2af;
}
.model-block {
  margin-bottom: 40px;
}

#model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.show {
  max-height: 205px;
  margin: 0 auto;  
  overflow: hidden;  
}


#model li {
  margin: 0 auto;
    width: 500px;
}
.mod-link {
   display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
  height: 85px;
  border-bottom: 1px solid #737373;
    letter-spacing: 1px;
    padding: 15px 5px;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.mod-link img {
 width: 120px;
    height: 80px;
    margin-left: 7px;
}
.mod-link span {
    display: block;
  width: 350px;
    font-size: 18px;
  line-height: 22px;
  color: #444444;
  letter-spacing: 1px;
  font-weight: 400;
  padding-bottom: 5px;
}


.mod-link:hover,
.mod-link:focus {
    border-bottom: 1px solid #d22856;
    color: #d22856;
    cursor: pointer;
}

#button-mod {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: red; 
    padding-top: 5px;
    cursor: pointer;
    outline: none;
    margin-top: 25px;
}

#button-mod:hover,
#button-mod:focus {
    color: #000;
}

h2 {
   margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2980b9;
}


@media (max-width: 480px) {
  .container {
    width: auto; 
    padding: 0 10px;
  }
.model {
     padding-top: 25px;
    }
    .mod-link span {
  display: block;
  width: 70%;
      font-size: 14px;
    line-height: 18px;
}
  h1 {
     font-size: 22px;
        line-height: 24px;
        margin-bottom: 20px;
  }
  


.show {
    max-height: 460px;
}

 .form7 {
   width: 100%;
         font-size: 16px;
    line-height: 18px; 
  }

.btn-form {
    margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding: 5px 15px;
  padding-bottom: 3px;
  color: #000000;
 
}
#model li {
   width: 100%;
  margin: 0;
}


 .mod-link {
      height: 70px;
    font-weight: 400;
padding: 10px 3px;
      font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #ccc;
}
.mod-link img {
  width: 90px;
  height: 60px;
}

h2 {
  font-size: 18px;
  line-height: 20px;
}
   .mod-subtitle {
        font-size: 20px;
        line-height: 24px;
       

    }

    .mod-link-line {
        border-top: 1px solid #737373;
    }


}
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: auto; 
  }
.model {
     padding-top: 25px;
    }

  h1 {
    font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
  }
 
.form7 {
width: 100%;
  }
.mod-link span {
  width: 340px;
    font-size: 16px;
    line-height: 20px;
}
.btn-form {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding:5px 15px;
  color: #000000;
 
}

 .mod-link-line {
        border-top: 1px solid #737373;
    }
#model li {
  margin: 0 auto;
    width: 450px;
  
}
 
h2 {
font-size: 20px;
        line-height: 24px; 
}
.show {
    max-height: 305px;
}
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }
#brandImg5 li {
    margin: 0 auto;
    width: 450px;
}
.mod-link span {
    width: 325px;
    font-size: 16px;
    line-height: 20px;
  }
  .mod-link img {
    width: 105px;
    height: 70px;
  
}
}

/*mod END*/ 

