@font-face {
    font-weight: 300;
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Roboto-Light.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #000000;
    background-color: #fff;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*  HEADER  */
.header {
padding-top: 5px;
}
.header-top {
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
  -webkit-box-align: center;  
      -ms-flex-align: center;  
          align-items: center;
           border-bottom: 1px solid #737373;
}

.block-logo img {
  width: auto;
  height: 50px;
}

.burger {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

}

.gamburger {
  border: solid 2px #444;
  width: 50px;
  height: 0;
  margin: 10px 0;
  display: block;
  border-radius: 30px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.burger:hover .gamburger,
.burger:focus .gamburger {
  border: solid 2px red;
}

.g1 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 8px 10px;
      -ms-transform-origin: 8px 10px;
          transform-origin: 8px 10px;
}

.g2 {
  opacity: 0;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.g3 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 12px -4px;
      -ms-transform-origin: 12px -4px;
          transform-origin: 12px -4px;
}
  
.nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #737373;
  -webkit-transition: max-height 1.5s;
  -o-transition: max-height 1.5s;
  transition: max-height 1.5s;
  overflow: hidden;
  max-height: 700px;
  width: auto;
  background-color: white;
  }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: max-height 0.7s;
  -o-transition: max-height 0.7s;
  transition: max-height 0.7s;
  max-height: 0;
  width: 100%;
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid #737373;
}


#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-block li {
  margin: 10px 0;
}

.menu-link {
  display: block;
  color: #444444;
  font-size: 22px;
  line-height: 24px;
  font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
}

.menu-link:hover {
  color: #d22856;
}

.header-nav {
  display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 3px;
    -ms-align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background: #f0f0f0;
}

.header-navigation {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-navigation li {
   margin-right: 20px;
}
.nav-link {
  color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
.registration {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.registration li {
   margin-right: 10px;
   font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}
.registration li:last-child {
   margin-right: 0;
  
}
.registration-link {
  color: black;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}

.nav-link:hover,
.registration-link:hover,
.nav-link:focus,
.registration-link:focus {
  color: red;
      -webkit-transition-duration: 0.5s;
           -o-transition-duration: 0.5s;
              transition-duration: 0.5s;
}

.form {
   position: absolute;
  width: 450px;
}

.form-input {
    display: block;
    margin: 0;
    margin-left: auto;
    width: 100%;
    padding: 6px;
    padding-bottom: 2px;
    padding-left: 10px;
    border: 1px solid #737373;
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
    background: white;
    color: black;
    font-size: 18px;
    line-height: 18px;
    padding-right: 33px;
}
.form-button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 38px;
    height: 34px;
    border: 2px solid #737373;
    border-left: none;
    background: white;
    cursor: pointer;
    padding-left: 5px;
    outline: none;
}
.form-button:hover svg,
.form-button:focus svg {
    fill: red;
        -webkit-transition-duration: 0.5s;
             -o-transition-duration: 0.5s;
                transition-duration: 0.5s;

}

.main-btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}

.form-link {
    margin-top: 3px;
    color: #000000;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
}
@media (max-width: 767px) {
  .container {
    width: auto; 
  }
  .header-top {
     padding-bottom: 0; 
  }
  .form {
    width: 70%;
    position: relative;
        margin-left: auto;
}
.main-search {
 margin-top: 10px;
 margin-bottom: 15px;
}
.form-input {
    font-size: 16px;
    line-height: 18px;
}

.block-logo img {
  width: 200px;
  height: 35px;
}

.header-nav {
  display: none;
}

.gamburger {
    border: solid 2px #444;
    width: 40px;
    margin: 8px 0;
  }
  
  
  .g1 {
    -webkit-transform-origin: 12px 18px;
        -ms-transform-origin: 12px 18px;
            transform-origin: 12px 18px;
  }
  
  .g3 {
    -webkit-transform-origin: 12px -14px;
        -ms-transform-origin: 12px -14px;
            transform-origin: 12px -14px;
  }
}

@media (min-width: 768px) {
  .container {
    width: auto; 
  }
  .header {
    position: relative;
    margin-bottom: 10px;
  }
  .main-search {
  position: absolute;
  top: 12px;
  right: 540px;
}
.main-btn {
  display: none;
}
}

@media (max-width: 575px) {
  .container {
    width: auto; 
  }
#menu {
    -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  }

.menu-link-b {
    font-weight: 700;
  }

  .nav-block li {
  margin: 0;
}
    .nav-list li {
     margin: 0 auto;
    margin-bottom: 7px;
}
    .nav-list li.item-m {
    margin-bottom: 25px;
}
  .menu-link {
    font-size: 20px;
    line-height: 24px;
  }

.nav-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}

.item-o {
    margin-top: 7px;
}

.item-m {
    margin-bottom: 25px;
} 

}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: auto; 
  }

  .nav-block li {
  margin: 7px 0;
}

  .menu-link {
    font-size: 22px;
  }

  .nav-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #menu .item {
    margin-bottom: 0;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: auto; }

.form {
    width: 300px;
}
.main-search {
    right: 400px;
}
  .nav-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #menu .item {
    margin-bottom: 0;
  }
  .header-navigation li {
    margin-right: 10px;
}
  .nav-link {
    font-size: 14px;
    line-height: 16px;
  }
  .registration-link {
    font-size: 16px;
    line-height: 18px;
}


}

/*header END*/


/*Новые стили для хедера енд*/

/*  FOOTER */

.footer {
    display: none;
    position: fixed;
    border-top: solid 2px black;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.navigation-block  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.navigation-block li {
    position: relative;
}
.navigation-link img {
    width: 35px;
    height: 35px;
}
.navigation-link-p svg {
    width: 30px;
    height: 30px;
}
.navigation-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.home:hover polyline,
.home:focus polyline {
    stroke: red;
}

.check-img:hover path,
.check-img:focus path {
    stroke: red;
}

.check-img:hover .ligh,
.check-img:focus .ligh {
    fill: red;
}

.part:hover path,
.part:focus path {
    stroke: red;
}

.part:hover .sch,
.part:focus .sch {
    fill: red;
}

.search:hover path,
.search:focus path {
    fill: red;
    stroke: red;
}

.shop:hover path,
.shop:focus path {
    stroke: red;
}

.user:hover path,
.user:focus path {
    stroke: red;
}


*:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cbutton {
    padding: 0;
    border: none;
    background: none;
    color: #286aab;
    font-size: 1.4em;
    overflow: visible;
    -webkit-transition: color 0.7s;
    -o-transition: color 0.7s;
    transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(255, 255, 0, 0);
}

.cbutton::after {
    position: absolute;
    top: 60%;
    left: 63%;
    margin: -35px 0 0 -35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}



/* Effect Boris */
.cbutton--effect-boris::after {
    background: rgba(250, 70, 50,0.2);
}

.cbutton--effect-boris.cbutton--click::after {
    -webkit-animation: anim-effect-boris 0.3s forwards;
    animation: anim-effect-boris 0.3s forwards;
}

@-webkit-keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}




.button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}


/* Effect Boris */
.button--effect::after {
    background: rgba(250, 70, 50,0.2);
}

.cbutton--effect.cbutton--click::after {
    -webkit-animation: anim-effect-boris 0.3s forwards;
    animation: anim-effect-boris 0.3s forwards;
}

@-webkit-keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}


@media (max-width: 480px) {
    .container {
        width: auto;
    }

    .footer {
        display: block;
    }

    .navigation-link {
        width: 35px;
        height: 35px;
    }
    .navigation-link svg {
        width: 30px;
        height: 30px;
    }
    .navigation-link-p svg {
        width: 25px;
        height: 25px;
    }
    .sail {
        bottom: 45px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto;
    }

    .footer {
        display: block;
    }

    .sail {
        bottom: 45px;
    }
    .navigation-link {
        width: 35px;
        height: 35px;
    }
    .navigation-link svg {
        width: 30px;
        height: 30px;
    }

    .navigation-link-p svg {
        width: 25px;
        height: 25px;
    }
}
/*  FOOTER END */


.overlay1,
.overlay2,
.overlay3,
.overlay4,
.overlay5,
.overlay6,
.overlay7 {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100; }



.modal4,
.modal6 {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 700px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;

}
.modal1,
.modal2,
.modal3 {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 840px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    padding-bottom: 30px;
}
.modal5 {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 450px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
}

.modal--show {
    display: block;
}

.modal-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    border: 1px solid #737373;
    background-color: #fff;
    border-radius: 50%;
    padding: 2px;
    outline: none;
}

.img-cont {
    margin: 0 auto;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 400px;
    box-sizing: border-box;
}

.modal-img {
    width: auto;
    max-height: 400px;
}

.modal-close:hover line,
.modal-close:focus line {
    stroke: red;
}

.modal-title {
    margin: 0;
    margin-bottom: 15px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #737373;
    padding: 7px;
    margin-bottom: 5px;

}

.modal-header-m {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

}

.modal-title {
    margin-bottom: 15px;
}

.modal-header b {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

@media (max-width: 480px) {
    .modal3,
    .modal4 {
        top: 5px;
        width: 98%;
        padding-top: 5px;
        padding-bottom: 30px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .modal3,
    .modal4 {
        top: 5px;
        width: 85%;
        padding-top: 5px;
    }

    .modal3 {
        top: 5px;
        width: 97%;
        padding-top: 5px;
    }

    .modal-title {
        font-size: 22px;
        line-height: 24px;
    }
    .img-cont {
        height: 240px;

    }
    .modal-img {
        max-height: 240px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .modal3 {
        width: 85%;
    }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.croppie-container-class .cr-boundary{
    padding-left: 100%;
}


/*modal*/

.overlay1{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.modal1 {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 600px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0;

}

.mike a {
    color: #999999;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.mike a:hover {
    color: red;
}
.mike-img {
    margin: 75px auto;
    width: 130px;
    height: 130px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(68,68,68,0.6);
    box-shadow: 0px 0px 10px 1px rgba(68,68,68,0.6);
}

.mike-text {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    text-align: center;
    min-height: 100px;
}

.mike-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 5px 15px;
    padding-bottom: 4px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 16px;
    line-height: 18px;
    color: #737373;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(68,68,68,0.6);
    box-shadow: 0px 0px 5px 1px rgba(68,68,68,0.9);
}

.mike-btn:hover,
.mike-btn:focus {
    color: red;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(68,68,68,0.6);
    box-shadow: 0px 0px 10px 1px rgba(68,68,68,0.9);
}

.button-cl {
    display: block;
    width: 97%;
    border: none;
    background-color: #fff;
    border-top: 1px solid #737373;
    font-size: 18px;
    line-height: 20px;
    color: #444;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px 0;
    cursor: pointer;
}

.button-cl:hover,
.button-cl:focus {
    color: red;
}