body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  line-height: 1;
  color: #000000;
  background-color: #ffffff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;   
}

a {
  display: block;
  text-decoration: none;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  HEADER  */
.hatWrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    margin: 15px 0;
    color: #d22856;
    font-size: 70px;
    font-weight: 700;

}

.logo:hover {
    color: #000000;
}

/* ===================== hamburger ===================== */

.gamburger {
    border: solid 3px black;
    width: 60px;
    height: 0;
    margin: 11px;
    display: block;
    border-radius: 30px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hamburger {
    position: relative;
}

.hamChild {
    position: absolute;
    top: 20px;
    right: 0;
}

.hamChild:hover {
    cursor: pointer;
}

.g1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 12px 10px;
    -ms-transform-origin: 12px 10px;
    transform-origin: 12px 10px;
}

.g2 {
    opacity: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.g3 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 12px -4px;
    -ms-transform-origin: 12px -4px;
    transform-origin: 12px -4px;
}


/* ===================== hamburger ===================== */

.gamburger1 {
    border: solid 2px black;
    width: 33px;
    height: 0;
    margin: 5px;
    display: block;
    border-radius: 30px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}



.hamChild-1 a:hover {
    cursor: pointer;
}



.g11 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 6px 12px;
    -ms-transform-origin: 6px 12px;
    transform-origin: 6px 12px;
}

.g21 {
    opacity: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.g31 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 12px -4px;
    -ms-transform-origin: 12px -4px;
    transform-origin: 12px -4px;
}


.menu-inner {
    position: relative;
}


#menu1 {
    z-index: 2;
    position: absolute;
    top: -143px;
    right: 0px;
    width: 100%;
    margin: 0 auto;

}

#menu1 > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#menu1 div ul li {
    margin: 10px 0;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

#menu1 div ul li a {
    color: black;
    text-decoration: none;

}

#menu1 div ul li a:hover {

    color: #d22856;
}

#menu1 > div:first-child {
;
    margin-right: 0px;
}

#menu1 > div:last-child {

    margin-left: 0px;
}
.menu-wrapper {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

/* ============= классы ============= */

.m11 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    -webkit-transition: max-height 1.5s;
    -o-transition: max-height 1.5s;
    transition: max-height 1.5s;
    overflow: hidden;
    max-height: 700px;
    width: auto;
    background-color: white;
}

.m011 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: max-height 0.7s;
    -o-transition: max-height 0.7s;
    transition: max-height 0.7s;
    max-height: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
}
/* ===================== hamburger-end ===================== */

#menu {
    z-index: 2;
}

#menu > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#menu div ul li {
    margin: 10px 0;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

#menu div ul li a {
    color: black;
    text-decoration: none;

}

#menu div ul li a:hover {

    color: #d22856;
}

#menu > div:first-child {
;
    margin-right: 0px;
}

#menu > div:last-child {

    margin-left: 0px;
}
.menu-wrapper {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

/* ============= классы ============= */

.m1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    -webkit-transition: max-height 1.5s;
    -o-transition: max-height 1.5s;
    transition: max-height 1.5s;
    overflow: hidden;
    max-height: 700px;
    width: auto;
    background-color: white;
}

.m01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: max-height 0.7s;
    -o-transition: max-height 0.7s;
    transition: max-height 0.7s;
    max-height: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

@media (max-width: 575px) {
    .container {
        width: auto;
    }

    .logo {
        font-size: 32px;
        letter-spacing: -1px;


    }
    .hamChild {

        top: 5px;

    }

    .gamburger {
        border: solid 2px black;
        width: 40px;
        height: 0;
        margin: 8px;
        display: block;
        border-radius: 30px;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

    .hamburger {
        position: relative;
    }



    .hamChild:hover {
        cursor: pointer;
    }

    .g1 {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 12px 18px;
        -ms-transform-origin: 12px 18px;
        transform-origin: 12px 18px;
    }


    .g3 {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 12px -14px;
        -ms-transform-origin: 12px -14px;
        transform-origin: 12px -14px;
    }

    #menu > div {
        display: block;
    }

    #menu { display: block;

    }

    .menu-01, .menu-02 {
        display: block;
    }

    #menu div ul li {
        margin: 30px 0;
        font-size: 24px;
    }

    #menu > div:first-child {

        margin: 0;
    }

    #menu > div:last-child {

        margin: 0;
    }

    #menu div ul li:last-child {
        margin-bottom: 0;
    }

    #menu div:last-child {
        margin-bottom: 8px;
    }

    .menu-01 div:last-child {
        margin-bottom: 0;
    }

    .menu-01 div:first-child, .menu-02 div:first-child {
        margin-bottom: 0;
    }

    #menu1 > div {
        display: block;
    }

    #menu1 { display: block;
        top: -479px;
        right: 0px;

    }
    .menu-011, .menu-021 {
        display: block;
    }
    #menu1 div ul li {
        margin: 30px 0;
        font-size: 24px;
    }
    #menu1 > div:first-child {

        margin: 0;
    }

    #menu1 > div:last-child {

        margin: 0;
    }

    #menu1 div ul li:last-child {
        margin-bottom: 0;
    }

    #menu1 div:last-child {
        margin-bottom: 8px;
    }

    .menu-011 div:last-child {
        margin-bottom: 0;
    }

    .menu-011 div:first-child, .menu-02 div:first-child {
        margin-bottom: 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: auto; }

    .hamChild {
        top: 20px;
    }
    .menu-01, .menu-02 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .menu-01 div:first-child, .menu-02 div:first-child {
        margin-bottom: -10px;
    }

    #menu div ul li {
        margin: 10px;
        font-size: 22px;
    }
    .menu-011, .menu-021 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .menu-011 div:first-child, .menu-021 div:first-child {
        margin-bottom: -10px;
    }

    #menu1 div ul li {
        margin: 10px;
        font-size: 22px;
    }
    #menu1 {
        top: -181px;
        right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: auto; }

    .hamChild {
        top: 20px;
    }

    #menu div ul li {
        margin: 8px;
        font-size: 20px;
    }
    #menu1 div ul li {
        margin: 8px;
        font-size: 20px;

    }
    #menu1 {
        top: -107px;
        right: 0px;
    }
}


@media (min-width: 992px) and  (max-width: 1199px) {

    #menu div ul li {
        margin: 8px;
        font-size: 28px;
    }
    #menu1 div ul li {
        margin: 8px;
        font-size: 28px;
    }

    #menu1 {
        top: -123px;
        right: 0px;
    }
}
/*header END*/

/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
    border-top: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

#breadcrumbs li {
    margin-right: 5px;

}
.more {
    display: none;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #444;
}

#breadcrumbs a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #444;
    position: relative;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.user-icon {
    display: none;
}

.user-link:hover,
.link:hover {
    color: black;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.current {
    font-weight: bold;
    cursor: default;
}
.opened {
    background-color: transparent;
}

@media  (max-width: 575px) {
    .container {
        width: auto;
    }

    .user-name {
        display: none;
    }

    .opened li {
        display: block;
    }

    .opened .more {
        display: none;
    }

    .current-w {
        font-weight: bold;
        cursor: default;
    }
    .close-menu {
        color: #d22856;
        font-size: 14px;
        cursor: pointer;
    }
    .user-link {
        width: 10px;
        height: 10px;
    }
    .link {
        display: none;
    }
    .opened .link {
        display: block;
    }
    .user-icon {
        display: block;
        width: 10px;
        height: 10px;
    }
    .more {
        display: block;
        cursor: pointer;
        font-size: 12px;
        line-height: 14px;
    }

    #breadcrumbs a {
        font-size: 14px;
        line-height: 13px;

    }
    .user-link--icon {
        width: 12px;
        height: 13px;
    }

    #breadcrumbs li {
        margin-right: 3px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: auto;
    }
    #breadcrumbs a {
        font-size: 14px;
        line-height: 16px;
        margin-right: 3px;
    }

}
/*ХЛЕБНЫЕ КРОШКИ*/

  /*container*/

  
.main-search {
  margin-top: 12%;
  margin-bottom: 10px;
}


.firstform {
  
  position: relative;
  width: 60%;
   margin: 0 auto;
  
  
}

.firstform  span {
  position: absolute;
  right: 25px;
}

.form1 {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  background: white;
  color: black;
  font-size: 18px;
  line-height: 20px;
}
.mainbutton {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: 2px solid black;
  border-left: none;
  background: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding-left: 5px;
}

.mbt {

  background: #ffffff url("../img/microphone.png") 14px 7px no-repeat;
}

.tagline-title {
  margin: 0;
  text-align: right;
  font-size: 36px;
  margin-top: 260px;
  letter-spacing: 3px;
  margin-left: 0;
}
.search-link {
  margin-top: 7px;
  color: #000000;
}


@media (max-width: 480px) {
  .container {
  width: auto; 
  }

.main-search {
  margin-top: 40%;
}

.firstform {
  width: 100%;
}

.form1 {
  font-size: 16px;
  line-height: 18px;
}
  .main-search span {
  right: 15px;
  bottom: -20px;
  font-size: 12px;
  }
  .tagline-title {
    display: none;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: auto; 
  }
.firstform {
    width: 80%;
  }
  .main-search {
    margin-top: 12%;
  }

  .tagline-title {
    display: none;
  }
}

  /*  MAIN END */

/*  FOOTER */

.footer {
    position: fixed;
    border-top: solid 2px black;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;


}
.footer a {
    color: #000000
}

.footer a:hover {
    color: #d22856;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-36 {font-size: 36px;}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

@media (max-width: 480px) {
    .container {
        width: auto;
    }
    .material-icons.md-36 {font-size: 32px;}
}

/*  FOOTER END */
            
            
