@font-face {
    font-weight: 300;
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Roboto-Light.woff') format('woff');
}

@font-face {
    font-weight: bold;
    font-family: 'Comfortaa';
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Comfortaa-Bold.woff') format('woff');
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #000000;
    background-color: #fff;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*  HEADER  */
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #737373;
}
.block-logo img {
    margin-right: 10px;
    width: 55px;
    height: 55px;
}
.header-logo {
    margin: 15px 0;
    color: #ff0000;
    font-size: 70px;
    line-height: 74px;
    font-weight: bold;
    font-family: 'Comfortaa';
}

.header-logo::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #000000;
}



.header-logo:hover {
    color: #000000;
}

.burger {
    padding: 0;
    padding-top: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.gamburger {
    border: solid 3px #444;
    width: 60px;
    height: 0;
    margin: 11px 0;
    display: block;
    border-radius: 30px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.burger:hover {
    cursor: pointer;

}

.g1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 12px 10px;
    -ms-transform-origin: 12px 10px;
    transform-origin: 12px 10px;
}

.g2 {
    opacity: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.g3 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 12px -4px;
    -ms-transform-origin: 12px -4px;
    transform-origin: 12px -4px;
}

.nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #737373;
    -webkit-transition: max-height 1.5s;
    -o-transition: max-height 1.5s;
    transition: max-height 1.5s;
    overflow: hidden;
    max-height: 700px;
    width: auto;
    background-color: white;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: max-height 0.7s;
    -o-transition: max-height 0.7s;
    transition: max-height 0.7s;
    max-height: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid #737373;
}


#menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.nav-block li {
    margin: 10px 0;
}

.nav-block a {
    display: block;
    color: #222830;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
}

.nav-block a:hover {
    color: #d22856;
}

@media (max-width: 480px) {
    .container {
        width: auto;
    }
    .block-logo img {
        margin-right: 5px;
        width: 25px;
        height: 25px;
    }
    .header-logo {
        margin: 10px 0;
        margin-bottom: 5px;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 1px;
    }

    .gamburger {
        border: solid 2px #444;
        width: 40px;
        height: 0;
        margin: 8px 0;
    }

    .hamburger {
        position: relative;
    }

    .hamChild:hover {
        cursor: pointer;
    }

    .g1 {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 12px 18px;
        -ms-transform-origin: 12px 18px;
        transform-origin: 12px 18px;
    }

    .g3 {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 12px -14px;
        -ms-transform-origin: 12px -14px;
        transform-origin: 12px -14px;
    }

    .nav-block li {
        margin: 0;
    }
    .nav-list li {
        margin-bottom: 7px
    }

    .burger {
        padding: 0;
        padding-right: 2px;
    }
    .nav-block a {
        font-size: 22px;
        line-height: 24px;
    }
    .nav-list-m .item-text a {
        font-weight: 700;
        /* font-family: 'Comfortaa';*/
    }
    .nav-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    .nav-list-m .item-m {
        margin-bottom: 30px;
    }
    .nav-list-m .item-o {
        margin-top: 7px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto;
    }
    .nav-block li {
        margin: 7px 0;
    }
    .block-logo img {
        margin-right: 10px;
        width: 45px;
        height: 45px;
    }
    .header-logo {
        margin: 10px 0;
        font-size: 54px;
        line-height: 60px;
        letter-spacing: -1px;
    }
    .burger {
        padding-top: 0;
    }
    .nav-block a {
        font-size: 22px;
    }
    .nav-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #menu .item {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto; }


    .nav-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #menu .item {
        margin-bottom: 0;
    }
}

/*header END*/

/*  FOOTER */

.footer {
    position: fixed;
    border-top: solid 2px black;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.navigation-block  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.navigation-block li {
    position: relative;
}
.navigation-link img {
    width: 35px;
    height: 35px;
}
.navigation-link-p svg {
    width: 30px;
    height: 30px;
}
.navigation-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.home:hover polyline,
.home:focus polyline {
    stroke: red;
}

.check:hover path,
.check:focus path {
    stroke: red;
}

.check:hover .ligh,
.check:focus .ligh {
    fill: red;
}

.part:hover path,
.part:focus path {
    stroke: red;
}

.part:hover .sch,
.part:focus .sch {
    fill: red;
}

.search:hover path,
.search:focus path {
    fill: red;
    stroke: red;
}

.shop:hover path,
.shop:focus path {
    stroke: red;
}

.user:hover path,
.user:focus path {
    stroke: red;
}


*:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cbutton {
    /* position: relative;*/
    /*display: inline-block;
    margin: 1em;*/
    padding: 0;
    border: none;
    background: none;
    color: #286aab;
    font-size: 1.4em;
    overflow: visible;
    -webkit-transition: color 0.7s;
    -o-transition: color 0.7s;
    transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(255, 255, 0, 0);
}

.cbutton::after {
    position: absolute;
    top: 50%;
    left: 63%;
    margin: -35px 0 0 -35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}



/* Effect Boris */
.cbutton--effect-boris::after {
    background: rgba(250, 70, 50,0.2);
}

.cbutton--effect-boris.cbutton--click::after {
    -webkit-animation: anim-effect-boris 0.3s forwards;
    animation: anim-effect-boris 0.3s forwards;
}

@-webkit-keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}




.button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}


/* Effect Boris */
.button--effect::after {
    background: rgba(250, 70, 50,0.2);
}

.cbutton--effect.cbutton--click::after {
    -webkit-animation: anim-effect-boris 0.3s forwards;
    animation: anim-effect-boris 0.3s forwards;
}

@-webkit-keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}











@media (max-width: 480px) {
    .container {
        width: auto;
    }

    .navigation-link {
        width: 35px;
        height: 35px;
    }
    .navigation-link svg {
        width: 30px;
        height: 30px;
    }
    .navigation-link-p svg {
        width: 25px;
        height: 25px;
    }
    .sail {
        bottom: 45px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto;
    }
    .sail {
        bottom: 45px;
    }
    .navigation-link {
        width: 35px;
        height: 35px;
    }
    .navigation-link svg {
        width: 30px;
        height: 30px;
    }

    .navigation-link-p svg {
        width: 25px;
        height: 25px;
    }
}
/*  FOOTER END */