/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 5px;
}

#breadcrumbs li {
  margin-right: 7px;

}
.dotdotdot {
  display: none;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 3px;
  color: #444;

}
.more {
  display: none;
  font-size: 0.9em;
  letter-spacing: 2px;
  color: #444;
}

#breadcrumbs a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444;
  position: relative;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
  color: black;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.current {
  cursor: default;
}
.opened {
  background-color: transparent;
}

@media  (max-width: 575px) {
  .container {
    width: auto;
  }
  #breadcrumbs {
    padding-top: 3px;
  }

  .user-name {
    display: none;
  }
  .opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

  }
  .opened li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .opened .more {
    display: none;
  }

  .user-icon {
    display: block;
  }
  .link-b {
    margin-right: 5px;
    display: none;
  }

  .close-menu {
    font-size: 14px;
    cursor: pointer;
  }
  .user-link {
    width: 10px;
    height: 10px;
  }

  .opened .link-b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .user-icon {
    display: block;
    width: 16px;
    height: 16px;
  }
  .more {
    display: block;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
  }
  #breadcrumbs a {
    line-height: 20px;
    font-size: 12px;
  }
  .model-block {
    padding-top: 5px;
  }

  .user-link--icon {
    width: 20px;
    height: 20px;
  }

  #breadcrumbs li {
    margin-right: 0;
  }

  #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
  }

  .more {
    display: block;
    cursor: pointer;

  }

  .opened .more {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: auto;
  }
}
/*END ХЛЕБНЫЕ КРОШКИ*/


/*user*/

.registration-list {
  margin: 0 auto;
  padding-top: 40px;
  width: 450px;
}

.registration-title {
  margin: 0;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #f66666;
  text-align: center;
  margin-bottom: 30px;
}

.registration-title::before { /* второй слой */
  content: attr(data-text);
  -webkit-text-stroke: .03em #ff0000;
}

.registration-block {
  margin-bottom: 30px;
}
.registration-block li {
  margin-bottom: 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.btn-active .registration-email {
  display: block;
}

.block-tel-email {
  margin-bottom: 30px;
}
.input {
  width: 100%;
}
.wrapper-pas {
  width: 250px;
  margin: 0 auto;
}

.input-pas {
  width: 100%;
}

.prompt {
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  padding-top: 3px;
  color: red;
  text-align: center;
}


fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;

}

input {
  border: none;
  padding: 4px;
  border-bottom: 1px solid #999999;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: white !important;
  -webkit-appearance: none;
    border-radius: 0;

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check  {
  width: 160px;
  margin: 0 auto;
  padding-left: 30px;
  margin-bottom: 20px;
}
.check label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  display: block;
  left: -25px;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #737373;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
    background: url(/img/chek1.svg) 0 0 no-repeat;
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    left: -24px;
    top: 0px;
}
.pas {
  display: block;
  text-align: center;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.pas:hover {
  text-decoration: underline;
  color: red;
}

.btn-log {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #000000;
  margin-top: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  background-color: #fff;
  outline: none;
  
}
.btn-log:hover,
.btn-log:focus {
  font-weight: 700;
}
.button {
  margin: 0 auto;
  display: block;
  padding: 5px 25px;
  text-align: center;
  border: 1px solid #727272;
  border-radius: 3px;
  color: #444444;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  background-color: #dbc0c7;
  margin-bottom: 30px;
}
.button:hover {
  background-color: #d2a2af;
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 60px;
}


.overlay1,
.overlay2 {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100; }

.modal--show {
  display: block;
}
.btn {
  cursor: pointer;
  border: none;
  background-color: #fff;
  outline: none;
  padding: 0;
}

.modal {
  position: fixed;
  top: 50px;
  left: 50%;
  width: 450px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  background-color: #fff;
  padding: 50px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 200px;
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
  border: 1px solid #727272;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px;
  outline: none;

}

.modal-close svg:hover line,
.modal-close svg:focus line {
  stroke: red;
}


.modal-mail {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
}
.modal-b {
  margin: 0;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.modal-text {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
}

.button-m {
  margin-bottom: 0;
}
.text-m {
  margin-bottom: 30px;
}


@media (max-width: 480px) {
  .container {
    width: auto;
    padding: 0 20px;
  }

  .registration-list {
    width: auto;
  }

  .prompt {
    font-size: 12px;
    line-height: 14px;
  }
  label {
    font-size: 14px;
    line-height: 16px;
  }



  .wrapper-pas {
    width: 260px;
    margin: 0 auto;
  }

  .input-pas {
    font-size: 16px;
    line-height: 18px;
  }
  .btn-log {
    font-size: 14px;
    line-height: 16px;
  }

  .check label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .button {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 25px;
  }

  .modal {
    width: 90%;
    top: 10px;
    padding: 20px 10px;
    padding-top: 50px;
  }

  .modal-title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .text {
    margin-bottom: 45px;
  }
  .modal-mail {
    font-size: 16px;
    line-height: 18px;

  }
  .modal-b {
    margin: 0;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }

}

/*login END*/