/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 5px;
}

#breadcrumbs li {
  margin-right: 7px;

}
.dotdotdot {
  display: none;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 3px;
  color: #444;

}
.more {
  display: none;
  font-size: 0.9em;
  letter-spacing: 2px;
  color: #444;
}

#breadcrumbs a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444;
  position: relative;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
  color: black;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.current {
  cursor: default;
}
.opened {
  background-color: transparent;
}

@media  (max-width: 575px) {
  .container {
    width: auto;
  }
  #breadcrumbs {
    padding-top: 3px;
  }

  .user-name {
    display: none;
  }
  .opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

  }
  .opened li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .opened .more {
    display: none;
  }

  .user-icon {
    display: block;
  }
  .link-b {
    margin-right: 5px;
    display: none;
  }

  .close-menu {
    font-size: 14px;
    cursor: pointer;
  }
  .user-link {
    width: 10px;
    height: 10px;
  }

  .opened .link-b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .user-icon {
    display: block;
    width: 16px;
    height: 16px;
  }
  .more {
    display: block;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
  }
  #breadcrumbs a {
    line-height: 20px;
    font-size: 12px;
  }
  .model-block {
    padding-top: 5px;
  }

  .user-link--icon {
    width: 20px;
    height: 20px;
  }

  #breadcrumbs li {
    margin-right: 0;
  }

  #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
  }

  .more {
    display: block;
    cursor: pointer;

  }

  .opened .more {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: auto;
  }
}
/*END ХЛЕБНЫЕ КРОШКИ*/

/*user*/

.registration {
  margin: 0 auto;
  padding-top: 30px;
  width: 450px;
}

.registration-title {
  margin: 0;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f66666;
  text-align: center;
  margin-bottom: 25px;
}

.registration-title::before { /* второй слой */
  content: attr(data-text);
  -webkit-text-stroke: .03em #ff0000;
}

.registration-block {
  margin-bottom: 15px;
}
.registration-block li {
  margin-bottom: 20px;
}
.input-m {
  width: 255px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.input {
  width: 100%;
}
.input-pas {
  width: 210px;
}
.btn {
  cursor: pointer;
  border: none;
  background-color: #fff;
  outline: none;
  padding: 0;
}

.prompt {
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  padding-top: 3px;
  color: red;
  text-align: center;
}


fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;

}
.cod-name {
  padding-top: 5px;
  font-size: 16px;
  line-height: 18px;
}

input {
  border: none;
  padding: 4px;
  border-bottom: 1px solid #999999;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: white !important;
  -webkit-appearance: none;
    border-radius: 0;
}
.cod {
  width: 225px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.input-cod {
  display: block;
  margin: 0 auto;
  border: 1px solid #999999;
  border-radius: 5px;
  width: 80px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.img-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 150px;
  height: 70px;
  margin: 0 auto 15px;
}

.img-block img {
  width: 150px;
  height: 70px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check  {
  padding-left: 30px;
 
}
.check label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  display: block;
  left: -25px;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #737373;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
   content: "";
    background: url(/img/chek1.svg) 0 0 no-repeat;
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    left: -24px;
    top: 0px;
}

.button {
  margin: 0 auto;
  display: block;
  padding: 5px 25px;
  text-align: center;
  border: 1px solid #999999;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #444;
  background-color: #dbc0c7;

}
.button:hover {
  background-color: #d2a2af;
}

.button-block {
  margin: 20px 0;
}
.text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 60px;
}


.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100; }

.modal--show {
  display: block;
}


.modal {
  position: fixed;
  top: 70px;
  left: 50%;
  width: 450px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  background-color: #fff;
  padding: 25px 15px;
  padding-top: 40px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
  border: 2px solid #727272;
  background-color: #fff;
  border-radius: 50%;
  padding: 2px;
  outline: none;

}

.modal-close svg:hover line,
.modal-close svg:focus line {
  stroke: red;
}



.modal-title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #ff0000;
  text-align: center;
  margin-bottom: 15px;
}

.modal-title::before { /* второй слой */
  content: attr(data-text);
  -webkit-text-stroke: .03em #000000;
}
.modal-text {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}





@media (max-width: 480px) {
  .container {
    width: auto;
    padding: 0 20px;
  }

  .registration {
    width: auto;
    padding-top: 30px;
  }



  .input {
    width: 100%;
  }

  .prompt {
    font-size: 11px;
    line-height: 14px;
  }
  label {
    font-size: 14px;
    line-height: 16px;
  }

  input {
    font-size: 16px;
    line-height: 18px;
  }
  .cod {
    margin-bottom: 25px;
  }


  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .check  {
    width: 245px;
    margin: 0 auto;
    padding-left: 30px;
    margin-bottom: 25px;
  }
  .check label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .input-m {
    width: 230px;
  }

  .button {
    font-size: 16px;
    line-height: 18px;
  }

  .button-block {
    margin-bottom: 15px;
  }



  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100; }

  .modal--show {
    display: block;
  }


  .modal {
    width: 90%;
    padding: 20px 10px;
    padding-top: 50px;
  }

  .modal-title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .text {
    margin-bottom: 45px;
  }


}
/*Profil END*/