
/*Profil-anketa*/

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}


.profil-title {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: #000000;
    text-align: center;

}
.profil-list {
    margin-bottom: 10px;
}

.profil-wpapper {
    width: 350px;
}

.profil-form {
    padding: 20px 0;
}

.profil-option {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;

}

.filter-option {
    display: flex;

    margin: 12px 0;
    padding-left: 40px;
}


label {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: 700;
}
.name {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: 700;
}
.first-part {
    border: none;
    border-bottom: 1px solid #757373;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    line-height: 18px;
    color: #000000;

}


.business-block {
    width: 55%;
    margin-top: 15px;
    margin: 0 auto;

}

.profil-business {
    width: 300px;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #757373;
    border-radius: 3px;
    color: #262626;
    margin: 0;
    cursor: pointer;
}
.profil-business:hover {
    background-color:  #fafafa;
}
.profil-link {
    font-size: 26px;
    color: #000000;
}
.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business-option {
    margin-bottom: 30px;
}

.moreinfo {

    display: block;
    font-size: 18px;
    line-height: 20px;
    padding: 5px 15px;
    background: #fff;
    cursor: pointer;
    border: none;
    margin: 10px 0;
    text-align: center;
    margin-left: auto;
    padding: 5px 0;
    font-weight: 700;

}
.moreinfo:hover {
    background-color:  #fafafa;
}
.btn-filter {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    padding:5px 15px;
    margin: 0 auto;
    color: #000000;
    margin-bottom: 60px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
}
.btn-filter:hover {
    background-color: #000000;
    color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.filter-option label {
    font-size: 16px;
    line-height: 18px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    display: block;
    left: -40px;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #000000;
    border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
    content: '✔';
    position: absolute;
    display: block;
    left: -38px;
    top: 2px;
    font-size: 18px;
}
.checkbox-custom + label::before {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: -22px;
    width: 18px;
    height: 18px;
    border: 2px solid #000000;
    border-radius: 3px;
}

.checkbox-custom:checked + label::after {
    content: '✔';
    position: absolute;
    display: block;
    left: 9px;
    top: -21px;
    font-size: 18px;
}


.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.filter-input:disabled + label {
    color: #000000;
    opacity: 0.5;
}
.filter-list {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.filter-items {
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -34px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
}
.business-choice {
    width: 70%;
    margin-bottom: 10px;
}
.choice-input {
    border: none;
    width: 100%;
    margin-bottom: 12px;
    border-bottom: 1px solid #757373;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    line-height: 18px;

}
.choice-unp {
    width: 50%;
}

.time {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.time-text {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    margin-bottom: 15px;

}
.df {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
.df .time_new_mk {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}
.df .time_new_mk label, .df .time_new_mk input {
    display: block;
    float: none;
    width: 30px;
    padding-top: 2px;
}


.time p, p.oplata {
    font-weight: bold;
}
.time_work {
    width: 70px;
    border: 2px solid #5a5959;
    border-radius: 3px;
    font-size: 14px;
    margin: 5px 0;
}

.time-m {
    margin-bottom: 10px;
    border-bottom: 1px dashed #7e7b7b;
    padding-bottom: 5px;
}

.profil-pay {
    margin-bottom: 20px;
}
.guarantee {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #7e7b7b;
}

.pay {
    margin-bottom: 30px;
}
.choice {
    background-color: #464545;
}

.choice-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.icon {
    color: #ffffff;
    font-size: 30px;
}

.icon:hover {
    color: rgba(255,255,255,0.7);

}

.icon-plus {
    font-size: 38px;
    line-height: 36px
}


@media (max-width: 480px) {
    .container {
        width: auto;
    }


    .filter-items {
        width: 70%;
    }

    .choice-block {

        padding: 10px 15px;
    }
    .profil-title {
        font-size: 18px;
        line-height: 20px;

        margin-bottom: 5px;

    }
    .profil-list {
        margin-bottom: 20px;
    }

    .profil-wpapper {
        width: 270px;

    }

    .profil-form {
        padding: 10px 0;
        padding-top: 20px;
    }

    .profil-option {
        margin: 7px 0;
    }

    .filter-option {
        margin: 7px 0;
        padding-left: 40px;
    }
    .filter-list {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    label {
        font-size: 16px;
        line-height: 18px;


    }
    .first-part {
        width: 150px;
        font-size: 14px;
        line-height: 16px;


    }

    .business-block {
        width: 100%;
        margin-bottom: 50px;

    }
    .business {
        margin: 0;
        width: 270px;
    }
    .profil-business {
        width: 245px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .profil-link {
        font-size: 20px;
        color: #000000;
        margin-bottom: 20px;
    }


    .business-option {
        margin-bottom: 20px;
    }

    .moreinfo {
        font-size: 16px;
        line-height: 18px;

        margin-bottom: 5px;
        padding: 5px 0;

    }

    .btn-filter {
        display: block;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        padding:5px 15px;
        margin: 0 auto;
        color: #000000;
        margin-bottom: 25px;
        border: 1px solid black;
        cursor: pointer;
        background-color: #fff;
        border-radius: 3px;
    }

    .car {
        margin-bottom: 10px;
    }


    .business-choice {
        width: 100%;
        margin-bottom: 10px;
    }
    .choice-input {
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        color: rgba(255,255,255,0.8);
    }
    .choice-unp {
        width: 100%;
    }
    .time {
        width: 82%;
        margin-bottom: 15px;

    }
    .time-text {
        margin: 0;
        margin-bottom: 8px;

    }


    .time-m {
        margin-bottom: 10px;
        border-bottom: 1px dashed #7e7b7b;
        padding-bottom: 5px;

    }

    .profil-pay {
        margin-bottom: 10px;
    }
    .guarantee {

        margin-bottom: 10px;

    }

    .pay {
        margin-bottom: 15px;
    }
    .icon-plus {
        font-size: 16px;
        line-height: 16px
    }
    .icon {
        color: #ffffff;
        font-size: 12px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }
    .profil-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .choice-block {
        padding: 10px 15px;
    }
    .business-block {
        width: 100%;
        margin-bottom: 50px;

    }
    .profil-wpapper {
        width: 350px;

    }
    .profil-business {
        margin-bottom: 20px;
    }
    .filter-list {
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .profil-link {
        margin-bottom: 20px;
    }
    .profil-form {

        padding-top: 20px;
    }

    .profil-business {
        width: 320px;
    }
    .icon-plus {
        font-size: 26px;
        line-height: 26px
    }
    .icon {
        color: #ffffff;
        font-size: 20px;
    }

}
@media (min-width: 768px) and  (max-width: 991px) {
    .container {
        width: auto; }
    .business-block {
        width: 80%;
        margin: 0 auto;
    }
}
@media (min-width: 992px) and  (max-width: 1199px) {
    .container {
        width: auto; }
    .filter-list {

        width: 90%;

    }
}
/*Profil END*/

/*modal4*/

.overlay4 {
    width: 100%;
    height: 100%;
    position: fixed;
    /*display: none;*/
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100; }

.modal--show {
    display: block;
}


.modal4 {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 700px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    padding: 45px 15px;
    border-radius: 5px;
}

.modal-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    border: 1px solid #737373;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px;
    outline: none;

}

.modal-close svg:hover line,
.modal-close svg:focus line {
    stroke: red;
}



.modal-title {
    margin: 0;
    margin-bottom: 15px;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}

.modal-text {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
}

.btn-m {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    padding: 5px 25px;
    padding-bottom: 3px;
    margin: 0 auto;
    color: #444;
    border: 1px solid #727272;
    cursor: pointer;
    background-color: #dbc0c7;
    border-radius: 3px;
    margin-top: 20px;
}
.btn-m:hover {
    background-color: #d2a2af;
}

@media (max-width: 767px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    .modal4 {
        top: 50px;
        width: 80%;
        padding: 40px 10px;
    }

    .modal-title {
        font-size: 20px;
        line-height: 22px;
    }
    .btn-filter {
        font-size: 16px;
        line-height: 18px;
        padding: 5px 15px;
        padding-bottom: 3px;
    }
}
/*modal4 end*/