<div class="overlay1 ">
    <div class="modal1">
        <div class="modal-header">
            <button class="button-home button-close1"><img src="img/left-arrow1.png" alt="Назад"></button>
            <button class="button-home">Опубликовать</button>
        </div>

        <h3 class="modal-title">Вопрос: (№31)</h3>
        <textarea name="text" rows="17" placeholder="Опишите подробно суть Вашего вопроса"></textarea>
        <p class="modal-text">Текст из каталогов текстов № (31 из каталога текстов), Текст из каталогов текстов № (31 из каталога текстов), Текст из каталогов текстов № (31 из каталога текстов), Текст из каталогов текстов № (31 из каталога текстов), Текст из каталогов текстов № (31 из каталога текстов), Текст из каталогов текстов № (31 из каталога текстов), Текст из каталогов текстов № (31 из каталога текстов)</p>
        <div class="btn-block">
            <button class="button button-close1">Отменить</button>
            <button class="button">Опубликовать</button>
        </div>
    </div>
</div>

<div class="overlay2">
    <div class="modal2">
        <div class="modal-header">
            <button class="button-home button-close2"><img src="img/left-arrow1.png" alt="Назад"></button>
            <button class="button-home">Опубликовать</button>
        </div>

        <h3 class="modal-title">Вопрос: (№32)</h3>
        <textarea name="text" rows="17" placeholder="Опишите подробно суть Вашего вопроса"></textarea>
        <p class="modal-text">Текст из каталогов текстов № (32 из каталога текстов), Текст из каталогов текстов № (32 из каталога текстов), Текст из каталогов текстов № (32 из каталога текстов), Текст из каталогов текстов № (32 из каталога текстов), Текст из каталогов текстов № (32 из каталога текстов), Текст из каталогов текстов № (32 из каталога текстов), Текст из каталогов текстов № (32 из каталога текстов)</p>
        <div class="btn-block">
            <button class="button button-close2">Отменить</button>
            <button class="button">Опубликовать</button>
        </div>
    </div>
</div>

<div class="overlay3">
    <div class="modal3">
        <div class="modal-header">
            <button class="button-home button-close3"><img src="img/left-arrow1.png" alt="Назад"></button>
            <button class="button-home">Опубликовать</button>
        </div>

        <h3 class="modal-title">Вопрос: (№33)</h3>
        <textarea name="text" rows="17" placeholder="Опишите подробно суть Вашего вопроса"></textarea>
        <p class="modal-text">Текст из каталогов текстов № (33 из каталога текстов), Текст из каталогов текстов № (33 из каталога текстов), Текст из каталогов текстов № (33 из каталога текстов), Текст из каталогов текстов № (33 из каталога текстов), Текст из каталогов текстов № (33 из каталога текстов), Текст из каталогов текстов № (33 из каталога текстов), Текст из каталогов текстов № (33 из каталога текстов)</p>
        <div class="btn-block">
            <button class="button button-close3">Отменить</button>
            <button class="button">Опубликовать</button>
        </div>
    </div>
</div>

<div class="overlay4 ">
    <div class="modal4">
        <div class="modal-header">
            <button class="button-home button-close4"><img src="img/left-arrow1.png" alt="Назад"></button>
            <button class="button-home">Опубликовать</button>
        </div>

        <h3 class="modal-title">Вопрос: (№34)</h3>
        <textarea name="text" rows="17" placeholder="Опишите подробно суть Вашего вопроса"></textarea>
        <p class="modal-text">Текст из каталогов текстов № (34 из каталога текстов), Текст из каталогов текстов № (34 из каталога текстов), Текст из каталогов текстов № (34 из каталога текстов), Текст из каталогов текстов № (34 из каталога текстов), Текст из каталогов текстов № (34 из каталога текстов), Текст из каталогов текстов № (34 из каталога текстов), Текст из каталогов текстов № (34 из каталога текстов)</p>
        <div class="btn-block">
            <button class="button button-close4">Отменить</button>
            <button class="button">Опубликовать</button>
        </div>
    </div>
</div>

<div class="overlay ">
    <div class="modal">
        <button class="modal-close button-close2" type="button">
            <svg  x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
        <line fill="none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="7.741" y1="7.741" x2="42.359" y2="42.359"/>
                <line fill="#none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="42.258" y1="7.742" x2="7.618" y2="42.382"/>
        </svg>
        </button>
        <p class="modal-text">Задать вопрос, оставить комментарий и написать история своего опыта могут только зарегестрированные пользователи. Если Вы зарегестрированы, то авторизуйтесь. </p>
        <button class="button button-m" type="button">Войти</button>

        <span>или</span>

        <a href="#" class="pas">Зарегестрируйтесь</a>

        <button class="button" type="button">Регистрация</button>
    </div>
</div>

<div class="overlay5">
    <div class="modal5">

        <div class="modal-header">
            <button class="button-home button-close5"><img src="img/left-arrow1.png" alt="Назад"></button>
            <a href="#" class="button-home">Войти</a>
        </div>
        <button class="modal-close button-close3 modal-close-h" type="button">
            <svg  x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                <line fill="none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="7.741" y1="7.741" x2="42.359" y2="42.359"/>
                <line fill="#none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="42.258" y1="7.742" x2="7.618" y2="42.382"/>
            </svg>
        </button>

        <h3 class="modal-title">Форум ошибок OBD2</h3>
        <p class="modal-text">Задать вопрос пользователям форума или написать историю своего опыта могут только зарегестрированные пользователи. Если Вы зарегестрированы, то авторизуйтесь. </p>
        <a href="#" class="button button-m" type="button">Войти</a>

        <p class="modal-text">Если Вы не зарегистрированы у нас на сайте, то добро пожаловать на Autoparus.by</p>

        <a href="#" class="button button-m">Регистрация</a>

        <p class="modal-text">Регистрация проста и не займет много времени</p>
        <button class="btn btn-mobile button-close5">Свернуть</button>
    </div>
</div>