
/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 5px;
}

.line {
  margin-left: 5px;
  margin-right: 5px;
}

#breadcrumbs a {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 18px;
  color: #444;
  position: relative;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
  color: black;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.current {
  cursor: default;
}

@media  (max-width: 481px) {
  .container {
    width: auto;
  }
  #breadcrumbs {
    padding-top: 3px;
  }
  .line {
    margin-left: 3px;
    margin-right: 3px;
  }
  .user-name {
    display: none;
  }

  .user-icon {
    display: block;
  }

  .close-menu {
    font-size: 14px;
    cursor: pointer;
  }
  .user-link {
    width: 10px;
    height: 10px;
  }

  .user-icon {
    display: block;
    width: 12px;
    height: 18px;
  }

  #breadcrumbs a {
    line-height: 20px;
    font-size: 11px;
  }
  .model-block {
    padding-top: 5px;
  }

  .user-link--icon {
    width: 16px;
    height: 16px;
  }


  #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
  }

}
@media  (max-width: 767px) {
  .container {
    width: auto;
  }
  #breadcrumbs a {
    line-height: 20px;
    font-size: 11px;
  }
}
/*END ХЛЕБНЫЕ КРОШКИ*/



/*main-search*/

.title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #2980b9;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}


.text {
   margin: 0;
  margin-bottom: 10px;
  color: #000;
  font-size: 18px;
  line-height: 20px;
    font-weight: 400;
  text-align: justify;
}




.catalog {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 40px;
}

.catalog-link:nth-child(3n) {
  margin-right: 0;
  
}

.catalog-link:last-child {
  margin-right: 0;
  
}
.catalog-link {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
padding: 10px;
color: #000;
border: 1px solid #ccc;
  margin-right: 3%;
  width: 29%;
  margin-bottom: 30px;
  padding-bottom: 5px;
}
.catalog-link:hover,
.catalog-link:focus {
-webkit-box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
}


h2 {
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin: 0;
  margin-bottom: 20px;
  color: #999999;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
text-align: center;
}

p {
  margin: 0;
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
  line-height: 18px;
}

.time {
  display: inline-block;
 font-size: 8px;
  line-height: 12px;
}
.date-block {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
          margin-top: 15px;
          margin-left: auto;
}



.date {
  display: inline-block;
  margin-right: 15px;
 font-size: 10px;
  line-height: 10px;
}

.foto {
  margin: 0 auto;
   width: 270px;
  height: 180px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
          margin-bottom: 20px;
          margin-top: auto;
}

.foto img {
 width: 270px;
  height: 180px;  
  border: 1px solid #ccc;

}

.comment {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
    height: 55px;
    overflow: hidden;
}

.add-three-dots-3-lines{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: auto; 
  }


.foto {
 width: 200px;
  height: 130px;  

}
.foto img {
 width: 200px;
  height: 130px;    

}
.catalog-link {
color: #000;
border: 1px solid #ccc;
  margin-right: 3%;
  width: 28%;
  margin-bottom: 30px;
}

}

@media (max-width: 767px) {
  .container {
    width: auto; 
  }

.title {
  font-size: 22px;
  line-height: 26px;
}
h2 {
  font-size: 20px;
  line-height: 24px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
}
}


@media (min-width: 481px) and  (max-width: 767px) {
  .container {
    width: auto; 
  }


.catalog .catalog-link {
  margin-right: 3%;
  
}
.catalog .catalog-link:nth-child(2n) {
  margin-right: 0;
}


.foto {
 width: 180px;
  height: 120px;  

}
.foto img {
 width: 180px;
  height: 120px;     

}
  .catalog-link {
     width: 43%;
  margin-bottom: 30px;
}

}
@media  (max-width: 480px) {
  .container {
    width: auto; 
  }


.foto {
 width: 100%;
  height: auto;
 
} 
.foto img {
 width: 100%;
  height: auto;
  max-height: 400px;  
} 
.catalog .catalog-link {
  margin: 0;
   width: 100%;
  margin-bottom: 30px;
}
}

  /*  MAIN END */

