
/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
   display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.line {
  margin-left: 5px;
  margin-right: 5px;
}

#breadcrumbs a {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 18px;
  color: #444;
  position: relative;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
  color: black;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.current {
  cursor: default;
}

@media  (max-width: 481px) {
  .container {
    width: auto;
  }
  #breadcrumbs {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .line {
    margin-left: 3px;
    margin-right: 3px;
  }
  .user-name {
    display: none;
  }

  .user-icon {
    display: block;
  }

  .close-menu {
    font-size: 14px;
    cursor: pointer;
  }
  .user-link {
    width: 10px;
    height: 10px;
  }

  .user-icon {
    display: block;
    width: 12px;
    height: 18px;
  }

  #breadcrumbs a {
    line-height: 20px;
    font-size: 11px;
  }
  .model-block {
    padding-top: 5px;
  }

  .user-link--icon {
    width: 16px;
    height: 16px;
  }


  #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
  }

}
@media  (max-width: 767px) {
  .container {
    width: auto;
  }
  #breadcrumbs a {
    line-height: 20px;
    font-size: 11px;
  }
}
/*END ХЛЕБНЫЕ КРОШКИ*/



/*main-search*/



.block-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;
}
.title {
  margin: 0 auto;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    letter-spacing: 1px;
}

.select-open {
      width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    vertical-align: top;
    outline: none;
    padding: 0;
    margin-left: 10px;
}

.select-open svg:hover path,
.select-open svg:focus path {
    fill: red;
}


/*selact*/

.select {
  display: none;
   
}
.select-item {
    margin: 0 10px;
    margin-bottom: 10px;
    width: 160px;
}
.select-item a {
  display: block;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    font-weight: 400;
}
.select-item a:hover,
.select-item a:focus {
    color: red;
}
.modal--show {
   padding-top: 15px;
    margin-bottom: 20px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f3f3f3;
}
.modal--hidden {
  display: none;
}
.art-nav {
  display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ccc;
}
.art-nav-item {
  margin-right: 2%;
}
.art-nav-link {
  font-size: 16px;
    line-height: 18px;
    color: #444444;
    font-weight: 400;
}
.art-nav-link:hover,
.art-nav-link:focus {
    color: red;
    transition-duration: 0.5s;
}
@media (max-width: 480px) {
  .container {
    width: auto; 
  }

    .art-list {
        background-color: #ffffff;
    padding: 0;
    margin-bottom: 20px;
    }

  .select {
      margin-bottom: 40px;
    
}
  .select-item {
      margin-bottom: 10px;
      width: 120px; 
}
h3 {
    padding-left: 30px;
}

.select-item a {
    font-size: 16px;
    line-height: 18px;
}

.title {
    font-size: 22px;
    line-height: 26px;

}
.select-open svg {
  width: 24px;
  height: 24px;
}
.art-nav-link {
  font-size: 14px;
    line-height: 16px;
}
.select-open {
    padding: 2px;
    margin-left: 10px;
    }
}
@media (min-width: 481px) and  (max-width: 767px) {
  .container {
    width: auto; 
  }

  .inner-grey {
    padding: 20px 10px;
    padding-top: 0;
    margin-bottom: 35px;
}
    .art-list {
         padding: 20px 10px;
    }

  .select {
      margin-bottom: 40px;
    
}
  .select-item {
      margin-bottom: 10px;
      width: 120px; 
}

.select-item a {
    font-size: 16px;
    line-height: 18px;
}

.title {
    font-size: 22px;
    line-height: 26px;

}
.select-open svg {
  width: 24px;
  height: 24px;
}
}
@media (min-width: 768px) and  (max-width: 1023px) {
  .container {
    width: auto; 
  }
  .select {
    margin-bottom: 40px;
}
}
@media (min-width: 1024px) and  (max-width: 1199px) {
  .container {
    width: auto; 
  }
  .select {
  margin-bottom: 40px;
    
}
}

/*selact end*/

.text {
   margin: 0;
  margin-bottom: 10px;
  color: #000;
  font-size: 18px;
  line-height: 20px;
    font-weight: 400;
  text-align: justify;
}




.catalog {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 0;
  margin-top: 10px;
  margin-bottom: 40px;
}

.catalog-link {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
padding: 10px 5px;
color: #000;
border: 1px solid #ccc;
  width: 18%;
  margin-bottom: 30px;
  padding-bottom: 0;
}
.catalog-link:hover,
.catalog-link:focus {
-webkit-box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
 -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition-duration: 0.7s;
}


h2 {
  margin: 0;
  margin-bottom: 10px;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  height: 40px;
  overflow: hidden;
}

h3 {
  margin: 0;
  margin-bottom: 20px;
  color: #999999;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: right;
    height: 46px;
  overflow: hidden;
  padding-left: 15px;
}

p {
  margin: 0;
  margin-bottom: 10px;
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.time {
  display: inline-block;
 font-size: 8px;
  line-height: 12px;
}
.date-block {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
          margin-top: 15px;
          margin-left: auto;
}



.date {
  display: inline-block;
  margin-right: 15px;
 font-size: 10px;
  line-height: 10px;
}

.foto {
  margin: 0 auto;
   position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
          margin-bottom: 20px;
          margin-top: auto;
}

.foto img {
 width: 100%;
  height: auto;

}

.comment {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
    height: 42px;
    overflow: hidden;
}

.add-three-dots-3-lines{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: auto; 
  }

.catalog-link {
  width: 30%;
}
}
@media (max-width: 767px) {
  .container {
    width: auto; 
  }

.catalog { 
    border-top: 1px solid #ccc;
    margin-top: 0;
  }

.title {
  font-size: 22px;
  line-height: 26px;
}
h2 {
  font-size: 16px;
  line-height: 18px;
}
h3 {
  font-size: 14px;
  line-height: 16px;
}
.catalog-link {
  width: 100%;
  border-left: none;
  border-top: none;
  border-right: none;
  margin-bottom: 0;
}
.cat-inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
.title-inner {
  order: 2;
  width: 70%;
}
.foto{
  margin: 0;
  margin-right: 10px;
}

}









  /*  MAIN END */



