/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
}
  
.line {
    margin: 0 3px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 480px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
    padding-top: 3px;
    padding-bottom: 3px;
}
  .line {
    margin-left: 2px;
    margin-right: 2px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 18px;
    font-size: 10px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/


/*code*/

.inner-grey {
    background-color: #f0f0f0;
    padding: 20px;
    padding-top: 0;
}


.code {
     background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.code-b {
     background-color: #ffffff;
    padding: 20px;
}


.title {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #2980b9;
    letter-spacing: 1px;
}



.text {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
}

.code-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 40px auto;
    margin-bottom: 60px;
}
.name {
    font-size: 38px;
    line-height: 35px;
    font-weight: 400;
    color: #5b5b5b;

}
input {
    border: none;
    padding: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #737373;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    background-color: #fff;
}
.input {
    width: 95px;
    margin: 0 20px;
}
.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #737373;
    border-radius: 2px;
    background-color: #dbc0c7;
    outline: none;
    padding: 0;
    width: 35px;
    height: 35px;
}
.btn:hover svg {
    background-color: #d2a2af;
}

.subtitle {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: #2980b9;
    font-weight: 400;
    letter-spacing: 1px;
}


@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
 .inner-grey {
    padding: 20px 10px;
    padding-top: 0;
    margin-bottom: 35px;
}
    .code {
         padding: 20px 10px;
    }

    .code-b {
         padding: 20px 10px;
    }

    
    .code-block {
        margin: 40px auto;
    }
    .title {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 20px;
    }


    .subtitle {
        font-size: 20px;
        line-height: 24px;
    }

}

/*city END*/
/*article */
.article {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 0;
    margin-bottom: 15px;

}

.article-link {
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    color: #000;
    border: 1px solid #ccc;
    width: 176px !important;
    padding-bottom: 5px;
    box-sizing: border-box;

}
.article-link:hover,
.article-link:focus {
    -webkit-box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
    box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
}

.article-title {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0 5px;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.article-subtitle {
    margin: 0;
    color: #666;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    padding: 0 5px;
    height: 42px;
    overflow: hidden
}


.article-time {
    display: inline-block;
    font-size: 8px;
    line-height: 12px;
    margin-right: 5px;
}
.article-block {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto;
    position: absolute;
    right: 5px;
    bottom: 57px;
}



.article-date {
    display: inline-block;
    margin-right: 15px;
    font-size: 10px;
    line-height: 12px;
}

.article-foto {
    margin: 0 auto;
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: auto;
}


.article-ban {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}

.article--ban::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .05em #000000;
}

@media (max-width: 480px) {
    .article {
        margin-top: 20px;
    }

    .article-link {
        width: 146px !important;

    }
}

@media (max-width: 767px) {
    .article {
        margin-top: 30px;
    }
}