{% extends 'base.html.twig' %}

{#{% block title %}{{ page.title }}{% endblock %}#}
{#{% block meta_description %}{{ page.description }}{% endblock %}#}

{% block stylesheets %}
	<link rel='stylesheet' href='/css/client/catalog/article/choice-article.css'>
{% endblock %}

{% block body %}
	<main class="container">
      <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="user-link user-link--icon" href="/" title="Автопарус.бай" itemprop="item">
                    <span class="user-name" itemprop="name">Главная</span>
                    <svg class="user-icon" x="0px" y="0px" viewBox="0 0 16 16" width="20px" height="20px">
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="1,8.5 8,2 15,8.5 "/>
                        <polyline fill="none" stroke="#444" stroke-miterlimit="10" points="2.5,7 2.5,13.5 6.5,13.5 6.5,8.5 9.5,8.5 9.5,13.5   13.5,13.5 13.5,7 "/>
                    </svg>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="link-b" href="#" itemprop="item" title="Тайтал второй крошки"><span class="line">/</span><span itemprop="name">Статьи</span></a><meta itemprop="position" content="2">
        </li>

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="current" href="#" itemprop="item"><span class="line">/</span><span itemprop="name">Выбранная категория</span><meta itemprop="position" content="3"></a>
            </li>
        </ul>
      <h1 class="title" data-text="Выбранная категория"></h1>
     
     
      <div class="catalog">
        <a href="#" class="catalog-link">
            <h2>Основной Заголовок статьи на четыре-семь слов</h2>
            <h3>Развернутый подзаголовок статьи восемь-двенадцать слов</h3>
            <div class="foto">
               <img src="img/maz1.jpg" alt="Картинка">
            </div>
            <div class="comment">Пост к фото текст на три строчки ..., Пост к фото текст три строчки, Пост к фото текст три строчки...., Пост к фото текст три строчки, Пост к фото текст три строчки, Пост к фото текст три строчки ... Пост к фото текст три строчки, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, МагазинПост к фото текст,м Пост к фото текст,Пост к фото текст ... </div>
            <div class="date-block">
              <span class="date">18.02.2019</span>
              <span class="time">15:56</span>
            </div>
          </a>

          <a href="#" class="catalog-link">
            <h2>Основной Заголовок статьи на четыре-семь слов</h2>
            <h3>Развернутый подзаголовок статьи восемь-двенадцать слов</h3>
            <div class="foto">
               <img src="img/maz1.jpg" alt="Картинка">
            </div>
            <div class="comment">Пост к фото текст на три строчки ..., Пост к фото текст три строчки, Пост к фото текст три строчки...., Пост к фото текст три строчки, Пост к фото текст три строчки, Пост к фото текст три строчки ... Пост к фото текст три строчки, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, МагазинПост к фото текст,м Пост к фото текст,Пост к фото текст ... </div>
            <div class="date-block">
              <span class="date">18.02.2019</span>
              <span class="time">15:56</span>
            </div>
          </a>


          <a href="#" class="catalog-link">
            <h2>Основной Заголовок статьи на четыре-семь слов</h2>
            <h3>Развернутый подзаголовок статьи восемь-двенадцать слов</h3>
            <div class="foto">
               <img src="img/maz1.jpg" alt="Картинка">
            </div>
            <div class="comment">Пост к фото текст на три строчки ..., Пост к фото текст три строчки, Пост к фото текст три строчки...., Пост к фото текст три строчки, Пост к фото текст три строчки, Пост к фото текст три строчки ... Пост к фото текст три строчки, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, МагазинПост к фото текст,м Пост к фото текст,Пост к фото текст ... </div>
            <div class="date-block">
              <span class="date">18.02.2019</span>
              <span class="time">15:56</span>
            </div>
          </a>


          <a href="#" class="catalog-link">
            <h2>Основной Заголовок статьи на четыре-семь слов</h2>
            <h3>Развернутый подзаголовок статьи восемь-двенадцать слов</h3>
            <div class="foto">
               <img src="img/maz1.jpg" alt="Картинка">
            </div>
            <div class="comment">Пост к фото текст на три строчки ..., Пост к фото текст три строчки, Пост к фото текст три строчки...., Пост к фото текст три строчки, Пост к фото текст три строчки, Пост к фото текст три строчки ... Пост к фото текст три строчки, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст,Пост к фото текст, Пост к фото текст, Пост к фото текст, Пост к фото текст, МагазинПост к фото текст,м Пост к фото текст,Пост к фото текст ... </div>
            <div class="date-block">
              <span class="date">18.02.2019</span>
              <span class="time">15:56</span>
            </div>
          </a>


          <a href="#" class="catalog-link">
            <h2>Основной Заголовок статьи на четыре-семь слов</h2>
            <h3>Развернутый подзаголовок статьи восемь-двенадцать слов</h3>
            <div class="foto">
               <img src="img/maz1.jpg" alt="Картинка">
            </div>
            <div class="comment">Пост к фото текст на три строчки ..., Пост к фото текст три строчки, Пост к фото текст три строчки....  </div>
            <div class="date-block">
              <span class="date">18.02.2019</span>
              <span class="time">15:56</span>
            </div>
          </a>

      </div>
    </main>
{% endblock %}