/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 5px;
}

.line {
    margin-left: 5px;
    margin-right: 5px;
}

#breadcrumbs a {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 18px;
    color: #444;
    position: relative;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.user-icon {
    display: none;
}

.user-link:hover,
.link-b:hover {
    color: black;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.current {
    cursor: default;
}

@media  (max-width: 481px) {
    .container {
        width: auto;
    }
    #breadcrumbs {
        padding-top: 3px;
    }
    .line {
        margin-left: 3px;
        margin-right: 3px;
    }
    .user-name {
        display: none;
    }

    .user-icon {
        display: block;
    }

    .close-menu {
        font-size: 14px;
        cursor: pointer;
    }
    .user-link {
        width: 10px;
        height: 10px;
    }

    .user-icon {
        display: block;
        width: 12px;
        height: 18px;
    }

    #breadcrumbs a {
        line-height: 20px;
        font-size: 11px;
    }
    .model-block {
        padding-top: 5px;
    }

    .user-link--icon {
        width: 16px;
        height: 16px;
    }


    #breadcrumbs li:nth-child(2) {
        margin-right: 3px;
    }

}
@media  (max-width: 767px) {
    .container {
        width: auto;
    }
    #breadcrumbs a {
        line-height: 20px;
        font-size: 11px;
    }
}
/*END ХЛЕБНЫЕ КРОШКИ*/



/*mod*/
.items {
    padding-top: 35px;
    padding-bottom: 65px;
}

.title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
     color: #2980b9;
    text-align: center;
    margin-bottom: 30px;
}


.items-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

}

.items-block li {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 43%;
}

.items-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border: 1px solid #737373;
    border-radius: 10px;
    padding: 10px 7px;
    overflow: hidden;
}

.items-link span {
    width: 75%;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #444;
    letter-spacing: 1px;

}

.items-link img {
    width: 105px;
    height: 70px;
}

.items-link:hover {
    border: 1px solid #d22856;
    cursor: pointer;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-align: justify;
}

@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
    .items {
        padding-bottom: 45px;
    }
    .title {
        font-size: 22px;
        line-height: 26px;
    }


    .items-block li {
        width: 100%;
        margin-bottom: 15px;
    }
    .items-link {
        padding: 5px;
    }
    .items-link span{
        width: 70;
        font-size: 14px;
        line-height: 16px;

    }
    .items-link img {
        width: 90px;
        height: 60px;
    }

}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }


    .title {
        font-size: 22px;
        line-height: 26px;
    }
    .items-block li {
        width: 435px;
        margin-bottom: 20px;
    }


    .items-link span{
        font-size: 17px;
        line-height: 22px;
    }



}
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto; }

    .items-block li {
        width: 48%;
        margin-bottom: 20px;
    }

    .items-link span{
        font-size: 16px;
        line-height: 20px;
    }

}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }

    .items-block li {
        width: 48%;
        margin-bottom: 20px;
    }

    .items-link span{
        font-size: 18px;
        line-height: 22px;
    }


}

/*mod END*/ 