/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 5px;
}

.line {
  margin-left: 5px;
  margin-right: 5px;
}

#breadcrumbs a {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 18px;
  color: #444;
  position: relative;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
  color: black;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.current {
  cursor: default;
}

@media  (max-width: 481px) {
  .container {
    width: auto;
  }
  #breadcrumbs {
    padding-top: 3px;
  }
  .line {
    margin-left: 3px;
    margin-right: 3px;
  }
  .user-name {
    display: none;
  }

  .user-icon {
    display: block;
  }

  .close-menu {
    font-size: 14px;
    cursor: pointer;
  }
  .user-link {
    width: 10px;
    height: 10px;
  }

  .user-icon {
    display: block;
    width: 12px;
    height: 18px;
  }

  #breadcrumbs a {
    line-height: 20px;
    font-size: 11px;
  }
  .model-block {
    padding-top: 5px;
  }

  .user-link--icon {
    width: 16px;
    height: 16px;
  }


  #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
  }

}
@media  (max-width: 767px) {
  .container {
    width: auto;
  }
  #breadcrumbs a {
    line-height: 20px;
    font-size: 11px;
  }
}
/*END ХЛЕБНЫЕ КРОШКИ*/




/*user*/

.user-form {
  padding-top: 35px;
  padding-bottom: 65px;
}

.block {
  margin-bottom: 25px;
}
.block-m {
  margin-bottom: 10px;
}

.title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  color: #2980b9;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.select {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  font-size: 20px;
  line-height: 22px;
  color: #727272;
  font-weight: 400;
  margin: 0 16px;
  margin-bottom: 20px;
}

input {
  border: none;
  padding: 5px;
  border-bottom: 1px solid #757373;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  background-color: white;
  margin-left: 15px;
  -webkit-appearance: none;
  border-radius: 0;
}

select {
  font-size: 18px;
  line-height: 20px;
  padding: 3px;
  color: #000;
  border: none;
  width: 200px;
  border-bottom: 1px solid #757373;
  margin: 0 10px;
  margin-left: 18px;
  background: white;
  -webkit-appearance: none;
  border-radius: 0;
  margin-left: 15px;
}
::-webkit-input-placeholder {color:#000000;}
::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000000;}

.help {
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  vertical-align: middle;
  outline: none;
  padding: 0;
}
.help svg:hover path,
.help svg:focus path {
  fill: red;
}

.name-input {
  width: 340px;
}

.phone-input {
  width: 200px;
}

.email-input {
  width: 230px;
}

.select-country {
  width: 200px;
}

.select-city {
  width: 200px;
}

.str-input {
  display: block;
  width: 400px;
  margin: 0 auto;
}
.wrapper-title--m {
  width: 560px;
}
.prompt {
  display: block;
  font-size: 12px;
  line-height: 14px;
  padding-top: 5px;
  color: #000;
  text-align: center;
}
.check {
  display: block;
  font-size: 12px;
  line-height: 14px;
  padding-top: 5px;
  color: red;
  text-align: center;
}
.check-on {
  color: green;
}

.business-btn {
  margin-bottom: 35px;
}
.business-btn--l {
  margin-bottom: 0;
}
.btn-filter {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  padding: 5px 25px;
  padding-bottom: 3px;
  margin: 0 auto;
  color: #444;
  border: 1px solid #727272;
  cursor: pointer;
  background-color: #dbc0c7;
  border-radius: 3px;
}
.btn-filter:hover {
  background-color: #d2a2af;
}
.wrapper-title--auto {
  width: 430px;
}
.mark-select {
  width: 200px;
}

.model-select{
  width: 300px;
}


.year-select {
  width: 80px;
}

.engine-select {
  width: 224px;
}

.volume-select {
  width: 70px;
}

.type-select {
  width: 140px;
}

.body-select {
  width: 140px;
}

.kpp-select {
  width: 200px;
}

.drive-select {
  width: 170px;
}


.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  cursor: pointer;
  background-color: #fff;
  border: none;
  margin-bottom: 10px;
  margin-left: auto;
}
.btn:hover {
  color: red;
}
.btn svg {
  margin-right: 10px;
}
.btn--m {
  margin-bottom: 40px;
}

.overlay1,
.overlay2,
.overlay3 {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100; }

.modal--show {
  display: block;
}


.modal {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 850px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  background-color: #fff;
  padding: 70px 55px;
  padding-bottom: 0px;
  border-radius: 5px;
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  border: 1px solid #737373;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px;
  outline: none;

}

.modal-close svg:hover line,
.modal-close svg:focus line {
  stroke: red;
}



.modal-title {
  margin: 0;
  margin-bottom: 20px;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

}

.modal-text {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: justify;
}

.text {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: justify;
}


@media (max-width: 480px) {
  .container {
    width: auto;
    padding: 0 10px;
  }

  .user-form {
    padding-top: 25px;
  }


  .wrapper-title {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
  }
  .wrapper-title--user {
    width: 100%;
  }
  .title {
    width: 300px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  label {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
    margin-right: 0;
    width: 100%;
  }

  input {
    padding: 3px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
  }

  select {
    font-size: 16px;
    line-height: 18px;
    padding: 3px;
    margin-left: 10px;
    margin: 0 5px
  }

  .name-input {
    width: 78%;
  }

  .phone-input {
    width: 45%;
  }

  .email-input {
    width: 55%;
  }

  .select-country {
    width: 50%;
  }

  .select-city {
    width: 50%;
  }

  .str-input {
    display: block;
    width: 95%;
    margin: 0 auto;
  }

  .prompt {
    display: block;
    font-size: 11px;
    line-height: 14px;
    padding-top: 5px;
    color: #000;
    text-align: center;
  }
  .check {
    display: block;
    font-size: 11px;
    line-height: 14px;
    padding-top: 5px;
    text-align: center;
  }


  .btn-filter {
    font-size: 16px;
    line-height: 18px;
    padding: 5px 15px;
    padding-bottom: 3px;
  }
  .wrapper-title--auto {
    width: 430px;
  }
  .mark-select {
    width: 170px;
  }

  .model-select{
    width: 235px;
    font-size: 14px;
    line-height: 16px;
  }


  .year-select {
    width: 80px;
  }

  .engine-select {
    width: 180px;
    font-size: 14px;
  }

  .volume-select {
    width: 70px;
  }

  .type-select {
    width: 125px;
  }

  .body-select {
    width: 140px;
  }

  .kpp-select {
    width: 200px;
  }

  .drive-select {
    width: 170px;
  }


  .btn {
    font-size: 13px;
    line-height: 20px;
  }

  .btn--m {
    margin-bottom: 25px;
  }


  .overlay1,
  .overlay2,
  .overlay3 {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100; }

  .modal--show {
    display: block;
  }



  .modal-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    border: 1px solid #737373;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px;
    outline: none;

  }

  .modal-close:hover {
    border: 1px solid red;
  }


  .modal-title {
    margin: 0;
    margin-bottom: 15px;
    color: #000;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;

  }

  .modal-text {
    margin: 0;
    color: #000;
    font-size: 16px;
    line-height: 18px;

  }
  .modal {
    top: 50px;
    width: 80%;
    padding: 50px 15px;
    padding-bottom: 0;
  }
  .modal-title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 22px;
  }

}
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: auto; }
  .title {
    width: 345px;
    margin: 0 auto;
    margin-bottom: 20px;

  }
.user-form {
    padding-top: 25px;
  }

  .modal {
    top: 50px;
    width: 70%;
  }
  .modal-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 768px) and  (max-width: 1023px) {
  .container {
    width: auto; }

  .title {
    font-size: 24px;
    line-height: 26px;
  }

  label {
    font-size: 17px;
    line-height: 20px;
  }
  .choice-input {
    font-size: 16px;
    line-height: 18px;
    color: #757373;
    margin-bottom: 20px;
  }
  .name-select {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 7px;
  }
  .choice-unp {
    width: 30%;
  }
  .choice-city {
    width: 295px;
  }
  .choice-str {
    width: 350px;
  }
  .choice-input--str {
    width: 275px;
  }
.modal {
  top: 50px;
  left: 50%;
  width: 600px;
 
}

}

@media (min-width: 1024px) and (max-width: 1199px) {
  .container {
    width: auto; }
  label {
    font-size: 17px;
    line-height: 20px;
  }
  .choice-city {
    width: 330px;
  }
  .choice-str {
    width: 500px;
  }
  .choice-input--str {
    width: 400px;
  }

}



/*Profil END*/