/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 5px;
}

.line {
    margin-left: 5px;
    margin-right: 5px;
}

#breadcrumbs a {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 18px;
    color: #444;
    position: relative;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.user-icon {
    display: none;
}

.user-link:hover,
.link-b:hover {
    color: black;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.current {
    cursor: default;
}

@media  (max-width: 481px) {
    .container {
        width: auto;
    }
    #breadcrumbs {
        padding-top: 3px;
    }
    .line {
        margin-left: 3px;
        margin-right: 3px;
    }
    .user-name {
        display: none;
    }

    .user-icon {
        display: block;
    }

    .close-menu {
        font-size: 14px;
        cursor: pointer;
    }
    .user-link {
        width: 10px;
        height: 10px;
    }

    .user-icon {
        display: block;
        width: 12px;
        height: 18px;
    }

    #breadcrumbs a {
        line-height: 20px;
        font-size: 11px;
    }
    .model-block {
        padding-top: 5px;
    }

    .user-link--icon {
        width: 16px;
        height: 16px;
    }


    #breadcrumbs li:nth-child(2) {
        margin-right: 3px;
    }

}
@media  (max-width: 767px) {
    .container {
        width: auto;
    }
    #breadcrumbs a {
        line-height: 20px;
        font-size: 11px;
    }
}
/*END ХЛЕБНЫЕ КРОШКИ*/




/*business*/

.business {
    padding-top: 35px;
    padding-bottom: 65px;
}
.business-form {
    margin-bottom: 25px;
}
.block {
    margin-bottom: 45px;
}
.title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #2980b9;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}


.title-t {
    font-size: 22px;
    line-height: 24px;
}
.business-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.filter-option {
    margin-bottom: 15px;
    padding-left: 40px;
}
.filter-option:last-child {
    margin-bottom: 0;
}

label {
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}

label span {
    font-size: 16px;
    line-height: 22px;

}
::-webkit-input-placeholder {color:#999999;}
::-moz-placeholder          {color:#999999;}/* Firefox 19+ */
:-moz-placeholder           {color:#999999;}/* Firefox 18- */
:-ms-input-placeholder      {color:#999999;}


.help {
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    vertical-align: middle;
    outline: none;
    padding: 0;
}
.help:hover svg {
    fill: red;
}

.business-option {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

}
.business-option li {
    margin: 0 5%;
    margin-bottom: 20px;
}

.country {
    display: inline-block;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #000;
    margin-right: 13px;


}
.choice-input {
    width: 97%;
    border: none;
    padding: 0 5px;
    border-bottom: 1px solid #757373;
    font-size: 20px;
    line-height: 22px;
    color: #000;
    -webkit-appearance: none;
    border-radius: 0;
}
.choice-b {
    width: 350px;
}
.city-input {
    width: 100px;
    border: 1px solid #757373;
    font-size: 16px;
    line-height: 18px;
    color: #757373;
}

.choice-input-unp {
    width: 72%;
    margin-left: 7px;
}
.choice-city {
    color: #757373;
}

.choice-str {
    width: 350px;
}
.choice-input--str {
    width: 450px;
    margin-right: 0;
}

.name-select {
    width: 170px;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #757373;
    background: white;
    -webkit-appearance: none;
    border-radius: 0;
}
.input-unp {
    width: 130px;
}
.input-str {
    width: 98%;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.filter-option label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    display: block;
    left: -42px;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #737373;
    border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    background: url("/img/chek.svg") 0 0 no-repeat;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    left: -41px;
    top: 0px;
}

.time {
    width: 740px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.time-wrapper {
    width: 370px;
}
.time-m {
    margin: 0 auto;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.time-w {
    margin: 0 auto;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.time-wrapper--border {
    border-right: 1px solid #737373;
}
.time-text {
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}
.time-block {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}
.time_new_mk {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}
.time_new_mk label,
.time_new_mk input {
    display: block;
    float: none;
    width: 30px;
    padding-top: 5px;
}

.time_work {
    width: 70px;
    padding: 3px;
    border: 1px solid #737373;
    border-radius: 3px;
    font-size: 14px;
    margin: 5px 0;
    background-color: #fff;
}

.choice-city-c {
    display: inline-block;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.pay {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 740px;
}
.pay-option label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pay-title {
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}

.pay-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;

}
.pay-option {
    padding-left: 40px;
}
.wrapper-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 45px;
}
.block-item {
    width: 48%;
}

.delivery-option label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.delivery-title {
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    text-align: center;
    font-weight: 700;
}

.delivery-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
}
.delivery-option {
    width: 50px;
    padding-left: 40px;
}
.delivery-text {
    padding-top: 10px;
}
.delivery-text span {
    display: block;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-align: right;
    margin-bottom: 5px;
}
textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px solid #737373;
    -webkit-appearance: none;
    font-size: 16px;
    line-height: 18px;
    color: #000;
}

.check {
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding-top: 3px;
    color: red;
    text-align: center;
}
.check-on {
    color: green;
}

.info {
    width: 740px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.info-title {
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}
.phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

}
.phone input {
    width: 200px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    color: #757373;
    text-align: center;
}
.btn-filter {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    padding: 5px 25px;
    padding-bottom: 3px;
    margin: 0 auto;
    color: #444;
    border: 1px solid #727272;
    cursor: pointer;
    background-color: #dbc0c7;
    border-radius: 3px;
}

.btn-filter:hover {
    background-color: #d2a2af;
}

.checkbox-custom + label::before {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: -22px;
    width: 18px;
    height: 18px;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}

.checkbox-custom:checked + label::after {
    content: "";
    background: url("/img/chek.svg") 0 0 no-repeat;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    left: 6px;
    top: -22px;

}



.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.filter-input:disabled + label {
    color: #000000;
    opacity: 0.5;
}
.filter-list {
    margin-bottom: 25px;
}
.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -36px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
}
.profil-pay {
    margin-bottom: 20px;
}

.choice {
    background-color: #464545;
}

.subtext {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;

}



.overlay1,
.overlay2 {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100; }

.modal--show {
    display: block;
}


.modal {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 850px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  background-color: #fff;
  padding: 70px 55px;
  padding-bottom: 0px;
  border-radius: 5px;
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  border: 1px solid #737373;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px;
  outline: none;

}

.modal-close svg:hover line,
.modal-close svg:focus line {
    stroke: red;
}



.modal-title {
    margin: 0;
    margin-bottom: 15px;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;

}

.modal-text {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;

}

@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    .business {
        padding-top: 25px;
        padding-bottom: 55px;
    }
    .block {
        margin-bottom: 40px;
    }
    .title {
        font-size: 22px;
        line-height: 26px;

        width: 280px;
    }
    .title-t {
        font-size: 20px;
        line-height: 22px;
    }
    label {
        font-size: 16px;
        line-height: 20px;
    }
    .business-option li {
        margin: 0;
        margin-bottom: 15px;

    }
    .business-option li:nth-child(3) {
        margin-top: 25px;

    }
    label {
        font-size: 16px;
        line-height: 20px;
    }

    .choice-input {
        font-size: 16px;
        line-height: 18px;
        width: 110px;
    
    }

    .choice-b {
        width: 70%;
    }

    .choice-unp {
        width: 60%;

    }
    .choice-city {
        width: 80%;
        color: #757373;
    }
    .country {
        font-size: 20px;
        line-height: 22px;
    }
    .choice-str {
        width: 70%;
    }
    .block-item {
        width: 100%;
        margin-bottom: 40px;

    }
    .choice-city span {
        margin-bottom: 0;

    }
   
    .block-item:last-child {
        margin-bottom: 0;
    }
    .wrapper-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .business-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0;
    }
    .delivery-text span {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 5px;
    }
    .business-option {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .filter-option {
        margin: 12px 0;
        padding-left: 40px;
    }

    .pay {
        margin: 0 auto;
        margin-bottom: 15px;
        width: 400px;
    }
    .pay-option label {
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .pay-title {
        font-size: 22px;
        line-height: 24px;
        color: #000000;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 700;
    }
    .subtext {
        width: 95%;
        margin: 0 auto;

    }
    .pay-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .time-wrapper--border {
        border-right: none;
        border-bottom: 1px solid #000000;
        padding-bottom: 5px;
    }

    .pay-option {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding-left: 40px;
    }
    .pay-option:last-child {
        margin-bottom: 0;
    }
    .time {
        width: 290px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0;
    }
    .time-wrapper {
        width: 230px;
        margin: 0 auto;
        margin-bottom: 0;
    }
    .time-wrapper--border {
        margin-bottom: 10px;
    }

    .delivery-block {
        -ms-flex-pack: distribute;
        justify-content: space-around;

    }

    .delivery-title {
        font-size: 22px;
        line-height: 24px;
        color: #000000;
        margin: 0;
        text-align: center;
        font-weight: 700;
    }
    .phone {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .phone label {
        font-size: 16px;
        line-height: 18px;
    }
    .phone input {
        width: 170px;
        margin: 0 auto;
        margin-bottom: 12px;
            font-size: 14px;
    line-height: 16px;
    }
    .phone input:last-child {
        margin-bottom: 0;
    }
    .info {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .icon-plus {
        font-size: 26px;
        line-height: 26px
    }
    .icon {
        color: #ffffff;
        font-size: 20px;
    }
    .btn-filter {
        font-size: 16px;
        line-height: 18px;
        padding: 5px 20px;
        padding-bottom: 3px;

    }
    textarea {
        width: 95%;
        display: block;
        margin: 0 auto;

    }
    .modal {
        top: 50px;
    width: 80%;
    padding: 50px 15px;
    padding-bottom: 0;
    }
    .modal-title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 22px;
    }
    .country {
        margin-right: 20px;
    }
    .name-select {
        width: 110px;
    font-size: 18px;
    line-height: 20px;
}
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }
    .business {
        padding-top: 25px;
        padding-bottom: 55px;
    }
    .business-option li:nth-child(3) {
        margin-top: 30px;

    }
    .title {
        font-size: 22px;
        line-height: 24px;
    }
    .business-option li {
        margin: 0;
        margin-bottom: 15px;

    }
    label {
        font-size: 16px;
        line-height: 20px;
    }

    .choice-input {
        font-size: 18px;
        line-height: 20px;
           
    }

    /*.choice-b {
        width: 98%;
    }

    .choice-unp {
        width: 50%;

    }*/
    .choice-city {
        display: inline-block;
        color: #757373;
    }
    .country {
        display: inline-block;
    }
    /*.choice-str {
        width: 90%;
    }*/

    .business-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0;
    }

    .business-option {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .filter-option {
        margin: 12px 0;
        padding-left: 40px;
    }
    label {
        font-size: 18px;
        line-height: 20px;
        color: #000000;
    }

    .pay {
        margin: 0 auto;
        margin-bottom: 15px;
        width: 400px;
    }
    .pay-option label {
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .pay-title {
        font-size: 22px;
        line-height: 24px;
        color: #000000;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 400;
    }

    .pay-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .time-wrapper--border {
        border-right: none;
        border-bottom: 1px solid #737373;
        padding-bottom: 5px;
    }

    .pay-option {
        width: 250px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding-left: 40px;
    }
    .pay-option:last-child {
        margin-bottom: 0;
    }
    .time {
        width: 440px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .time-wrapper {
        width: 230px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .delivery-title {
        font-size: 22px;
        line-height: 24px;
        color: #000000;
        margin: 0;
        text-align: center;
        font-weight: 700;
    }
    .phone {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .phone label {
        font-size: 16px;
        line-height: 18px;
    }
    .phone input {
        width: 135px;
        padding: 5px;
        border: 1px solid #737373;
        border-radius: 3px;
        font-size: 12px;
        line-height: 14px;
        color: #444444;
    }
    .info {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .icon-plus {
        font-size: 26px;
        line-height: 26px
    }
    .icon {
        color: #ffffff;
        font-size: 20px;
    }

    .modal {
        top: 50px;
        width: 70%;
    }
    .modal-title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 22px;
    }
   /* .choice-city {
        width: 400px;
        color: #757373;
    }
    .name-select {
        width: 60%;
    }
    .country {

        width: 120px;
    }*/
}
@media (min-width: 768px) and  (max-width: 1023px) {
    .container {
        width: auto; }

    .title {
        font-size: 24px;
        line-height: 26px;
    }

    label {
        font-size: 17px;
        line-height: 20px;
    }

/*.choice-unp {
    width: 30%;
}*/
    .choice-city {
        /*width: 180px;*/
        color: #757373;
    }
.modal {
  top: 50px;
  left: 50%;
  width: 600px;
 
}
   /* .choice-str {
        width: 45%;
    }
    .choice-b {
        width: 60%;
    }*/
    .business-option li {
        margin-bottom: 20px;
    }

    /*.choice-input-unp {
        width: 61%;

    }*/
    .choice-city {
        /*width: 325px;*/
        color: #757373;
    }
    /*.name-select {
        width: 60%;
    }*/
 }
@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }
    label {
        font-size: 17px;
        line-height: 20px;
    }
  /*  .choice-str {
        width: 465px;
    }
    .choice-b {
        width: 65%;
    }
    
    .choice-unp {
    width: 20%;
}*/
}
/*Profil END*/