/*Profil*/

.profil {
    border-top: 7px solid #464545;
}

.heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 20px;
}
.user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
    min-height: 125px;
}
.user-logo {
    position: relative;
}
.profil-items {
    width: 560px;
}
.user-name {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
}
.user-company {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-align: left;
}
.foto-user-wrapper {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 150px;
    height: 100px;
}
.foto-user {
    width: 150px;
    height: 100px;
    border: 1px solid #757575;
}
.user-link {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 18px;
    right: -7px;
    border: 1px solid #757575;
    border-radius: 3px;
    padding: 3px;
    background-color: #fff;
}

.user-link:hover svg {
    fill: red;
}
.user-wrapper {
    width: 375px;
}
.user-about {
    list-style: disc;
    padding-left: 16px;
}

.user-edit {
    width: 380px;

}

.button {
    border: 1px solid #737373;
    background-color: #dbc0c7;
    border-radius: 3px;
    color: #444;
    padding: 7px 10px;
    padding-bottom: 4px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}
.button-rp {
    text-transform: uppercase;
    background-color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    border: 1px solid #737373;
}
.button-rdc {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.button:hover {
    background-color: #d2a2af;
}
.button-rp:hover {
    background-color: #ededed;
}
.btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.btn-block li {
    margin-right: 40px;
}
.user-btn {
    color: #ff0000;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;

}

.user-btn::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .04em #000000;
}

.btn-block li:last-child {
    margin-right: 0;
}
.user-btn:hover {
    color: #000;
}
.user-about li {
    margin-bottom: 10px;
}

.user-about li:last-child {
    margin-bottom: 0;
}
.user-avto {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

}
.user-avto:hover {
    color: red;
}

.choice {
    background-color: #464545;
}

.choice-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-align-items: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 7px 0;
}

.icon {
    color: #ffffff;
    font-size: 30px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.icon i {
    margin-right: 10px;
}
.icon-plus {
    font-size: 33px;

}
.icon:hover {
    color: rgba(255,255,255,0.7);

}

.items {
    margin-bottom: 20px;
}
.user-item {
    padding: 25px 0;
    border-bottom: 1px solid #737373;
}


.marka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;

}
.name {
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.name-foto {
    width: 45px;
    height: 30px;
}
.name-text {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.tool {
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

}

.tool a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000000;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.tool a:hover {
    color: red;
}
.tool-rdc img,
.tool-close img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.item-1 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin-right: 5px;
}

.prod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.prod-foto {
    width: 210px;
    height: auto;
    margin-right: 30px;
}

.prod-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.time {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 30px;
    font-size: 14px;
    line-height: 18px;
}

.adress  {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
}
.date {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 18px;
    line-height: 20px;
}
.text-block {
    margin-bottom: 15px;
}

#text {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}


#button-t {
    margin-left: auto;
    background-color: #fff;
    border: none;
    display: none;
    font-weight: 400;
    font-size: 16px;
    color: #ff7c01;
    padding-top: 7px;
    margin-right: 7%;
    cursor: pointer;
    outline: none;
}

#button-t:hover,
#button-t:focus {
    color: #000;
}
.breadcrumbs {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.breadcrumbs li {
    margin-right: 10px;
}
.item-link {
    font-size: 18px;
    line-height: 18px;
    color: #444;
}
.current {
    font-size: 18px;
    line-height: 18px;
    color: #444;
    cursor: default;
}
.item-link img {
    width: 18px;
    height: 18px;
}


.sail-f {
    margin-left: auto;
    margin-top: 7px;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 60px;
}
.sail-f img {
    width: 20px;
    height: 20px;
}

.overlay1,
.overlay2,
.overlay3 {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100; }


.modal1 {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 320px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
}
.modal2 {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 410px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

.links li {
    margin-bottom: 10px;
}
.links li:last-child {
    margin-bottom: 0;
}
.links-item {
    color: #262626;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}

.links-item:hover,
.links-item:focus {
    color: red;
}
.modal3 {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 500px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    padding: 40px 20px;

}
.modal--show {
    display: block;
}

.modal-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    border: 1px solid #737373;
    background-color: #fff;
    border-radius: 50%;
    padding: 2px;
    outline: none;

}
.img-cont {
    margin: 0 auto;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.modal-img {
    border: 3px solid #ccc;
    width: 300px;
    height: 200px;
}
.btn-list {
    width: 305px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
}

.modal-close:hover line,
.modal-close:focus line {
    stroke: red;
}

.modal-title {
    margin: 0;
    margin-bottom: 15px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #ff0000;
    text-align: center;
    margin-bottom: 15px;
}

.subtitle::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #000000;
}

.modal-text {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.user-link:hover svg,
.user-link:focus svg {
    fill: red;
}
.btn-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.btn-input {
    width: 130px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    margin-left: 15px;
}
.btn-lists textarea {
    flex-grow: 1;
    font-size: 14px;
    line-height: 16px;
    vertical-align: bottom;
    color: #000;
}

.modal-img1 {
    border: 3px solid #ccc;
    width: 400px;
    height: 250px;
}
.button-mr {
    margin-bottom: 10px;
}
@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    .texthide {
        max-height: 50px;
        overflow: hidden;
    }
    #button-t {
        display: block;
        font-size: 14px;
    }

    .profil {
        border-top: 4px solid #464545;
    }
    .profil-items {
        width: 300px;
    }
    .foto-user-wrapper {
        width: 90px;
        height: 60px;
    }
    .foto-user {
        width: 90px;
        height: 60px;
    }
    .user-link {
        bottom: -5px;
        right: -5px;
        padding: 2px;
    }


    .user-wrapper {
        width: 68%;
    }

    .modal2 {
        top: 0px;
        right: -1px;
        width: 175px;
        padding: 40px 10px;
        padding-right: 5px;
        padding-bottom: 17px;
    }
    .user-avto {
        font-size: 12px;
        line-height: 14px;
    }

    .button-rp {
        text-transform: none;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 15px;
    }
    .user-name {
        font-size: 14px;
        line-height: 16px;
    }
    .btn-block  li {
        margin-right: 24px;
    }

    .user-logo {
        position: relative;
        width: 90px;
        height: 60px;
        border: 1px solid #464545;
    }

    .user-company {
        font-size: 14px;
        line-height: 16px;
        text-align: right;
    }

    .user-link svg {
        width: 13px;
        height: 13px;
    }
    .heading {
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .user-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 12px;
        min-height: auto;
    }
    .user-info-r {
        padding-right: 4px;
    }
    .profil-items {
        width: 100%;
    }
    .user-item {
        width: 100%;
    }
    .foto {
        width: 100%;
        height: auto;
    }
    .foto img {
        width: 100%;
        height: auto;
        max-width: 480px;
        border: 1px solid #ccc;
    }
    .foto-hvr {
        width: 100%;
        height: 100%;

    }

    .user-edit {
        width: 68%;

    }

    .button-rp {
        padding: 4px 2px;
        padding-bottom: 3px;
        font-size: 9px;
        line-height: 12px;
        margin-bottom: 10px;
    }
    .user-about li {
        margin-bottom: 0;
    }

    .user-btn {
        font-size: 14px;
        line-height: 16px;

    }
    .btn-block  li {
        margin-right: 8px;
    }

    .icon {
        color: #ffffff;
        font-size: 14px;
        line-height: 11px
    }

    .button-rdc {
        margin-bottom: 5px;
    }
    .user-about {
        padding-left: 22px;
    }
    .user-info--line {
        padding-bottom: 20px;
        border-bottom: 1px solid #757373;
        margin-bottom: 25px;

    }
    .heading {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }
    .user-logo-r {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .choice-block {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 3px 0;
        padding-top: 4px;
    }
    .icon i {
        margin-right: 5px;

    }

    .user-item {
        padding: 15px 0;
        border-bottom: 1px solid #737373;
    }


    .marka {
        margin-bottom: 15px;
    }
    .name {
        width: 220px;
    }
    .name-foto {
        width: 30px;
        height: 20px;
    }
    .name-text {
        font-size: 14px;
        line-height: 16px;
    }

    .tool {
        width: 60px;
    }
    .tool-rdc img,
    .tool-close img {
        width: 20px;
        height: 20px;

    }

    .item-1 {
        display: none;
    }

    .prod {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .prod-foto {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .prod-content {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .time {
        font-size: 12px;
        line-height: 14px;
    }

    .adress  {
        display: block;
        font-size: 16px;
        line-height: 18px;
    }
    .date {
        font-size: 16px;
        line-height: 18px;
    }

    .text-block {
        margin-bottom: 10px;
    }


    .breadcrumbs li {
        margin-right: 3px;
    }
    .item-link {
        font-size: 14px;
        line-height: 16px;

    }
    .current {
        font-size: 14px;
        line-height: 16px;
    }
    .item-link img {
        width: 16px;
        height: 16px;
    }

    .sail-f {
        margin: 0 auto;
        margin-bottom: 43px;
    }


    .modal-img {
        width: 100%;
        height: auto;
    }


    .modal1,
    .modal2 {
        top: 10px;
        left: 50%;
        width: 88%;
        padding: 20px 15px;
    }



    .modal3 {
        position: fixed;
        top: 10px;
        left: 50%;
        width: 88%;
        padding: 45px 10px;
        padding-bottom: 20px;
    }


    .img-cont {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .btn-list {
        width: 100%;
    }
    .subtitle {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .modal-title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .btn-lists {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .btn-input {
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        margin-left: 0;
    }
    .btn-lists textarea {
        flex-grow: 1;

        margin-bottom: 15px;
    }

    .modal-img1 {
        width: 100%;
        height: auto;
    }
    .button-mr {
        margin-bottom: 0;
    }

}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }

    .profil {
        border-top: 4px solid #464545;
    }
    .profil-items {
        width: 480px;
    }
    .foto-user-wrapper {
        width: 120px;
        height: 80px;
    }
    .foto-user {
        width: 120px;
        height: 80px;
    }
    .user-link {
        bottom: -8px;
    }

    .user-link:hover svg {
        fill: red;
    }
    .user-wrapper {
        width: 315px;
    }


    .user-edit {
        width: 345px;
    }

    .button-rp {
        font-size: 12px;
        line-height: 14px;
    }

    .btn-block  li {
        margin-right: 24px;
    }

    .user-logo {
        position: relative;
        width: 120px;
        height: 80px;
        border: 1px solid #464545;

    }

    .user-company {
        font-size: 16px;
        line-height: 18px;
        margin: 5px 0;
        margin-bottom: 10px;
        text-align: right;
    }


    .heading {
        padding-top: 30px;
        padding-bottom: 10px;

    }

    .user-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 15px;
        min-height: auto;
    }

    .profil-items {
        margin: 0 auto;
        width: 450px;
    }



    .user-about {
        width: 300px;
    }

    .user-edit {
        width: 310px;

    }

    .button-rp {
        padding: 6px 0;
        padding-bottom: 3px;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }


    .user-btn {
        font-size: 22px;
        line-height: 24px;

    }
    .btn-block  li {
        margin-right: 18px;
    }

    .icon {
        color: #ffffff;
        font-size: 18px;
    }
    .icon-plus {
        font-size: 20px;

    }
    .button-rdc {
        margin-bottom: 5px;
    }

    .user-info--line {
        padding-bottom: 10px;
        border-bottom: 1px solid #757373;
        margin-bottom: 25px;

    }
    .heading {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }
    .user-logo-r {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .choice-block {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 5px 0;
    }
    .icon i {
        margin-right: 5px;
    }
    .user-item {
        padding: 15px 0;
        border-bottom: 1px solid #737373;
    }


    .marka {
        margin-bottom: 15px;
    }
    .name {
        width: 220px;
    }
    .name-foto {
        width: 30px;
        height: 20px;
    }
    .name-text {
        font-size: 14px;
        line-height: 16px;
    }

    .tool {
        width: 60px;
    }
    .tool-rdc img,
    .tool-close img {
        width: 20px;
        height: 20px;

    }

    .item-1 {
        display: none;
    }

    .prod {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .prod-foto {
        width: 450px;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .prod-content {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .time,
    .adress  {
        display: block;
        margin-bottom: 7px;
        margin-right: 30;
        font-size: 16px;
        line-height: 18px;
    }
    .text-block {
        margin-bottom: 10px;
    }


    .breadcrumbs li {
        margin-right: 3px;
    }
    .item-link {
        font-size: 14px;
        line-height: 16px;

    }
    .current {
        font-size: 14px;
        line-height: 16px;
    }
    .item-link img {
        width: 16px;
        height: 16px;
    }

    .sail-f {
        margin: 0 auto;
        margin-bottom: 43px;
    }


    .modal1 {
        top: 30px;
        left: 50%;
        margin-bottom: 80px;
    }

    .modal3 {
        position: fixed;
        top: 50px;
        left: 50%;
        width: 80%;
        padding: 40px 10px;
        padding-bottom: 20px;
    }

    .img-cont {
        margin: 0 auto;

        margin-bottom: 20px;
    }


    .modal-img {
        width: 300px;
        height: 200px;
    }
    .modal-title {
        font-size: 22px;
        line-height: 24px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto;
    }

    .user-about {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .user-info--line {
        padding-bottom: 20px;
        border-bottom: 1px solid #757373;
        margin-bottom: 20px;
    }
    .heading {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .user-logo-r {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .user-company {
        text-align: right;
    }
    .profil-items {
        margin: 0 auto;
        padding-top: 30px;
    }


}
@media (min-width: 1024px) and  (max-width: 1199px) {
    .container {
        width: auto; }

    .profil-items {
        width: 480px;
    }
    .foto-user-wrapper {
        width: 120px;
        height: 80px;
    }
    .foto-user {
        width: 120px;
        height: 80px;
    }
    .user-link {
        bottom: 36px;
    }

    .user-link:hover svg {
        fill: red;
    }
    .user-wrapper {
        width: 345px;
    }

    .user-edit {
        width: 345px;
    }

    .button-rp {
        font-size: 12px;
        line-height: 14px;
    }

    .btn-block  li {
        margin-right: 24px;
    }


}
/*Profil END*/