/*MAIN */


.heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 20px;
}
.user-info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.profil-items {
    width: 600px;
}
.profil-items--left {
    width: 500px;
}
.user-name {
    display: block;
    text-align: right;
    margin-top: 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
}
.user-company {
      display: block;
    text-align: right;
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}
.foto-user-wrapper {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 150px;
    height: 100px;
}
.foto-user {
    width: 150px;
    height: 100px;
    border: 1px solid #999;
}
.foto-user-left {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100px;
    height: 100px;
}
.foto-left {
    width: 100px;
    height: 100px;
    border: 1px solid #999;
}
.user-link {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 85px;
    left: 135px;
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 3px;
    background-color: #fff;
    cursor: pointer;
}

.user-link:hover svg {
    fill: red;
}
.user-link-left {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 85px;
    left: 85px;
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 3px;
    background-color: #fff;
    cursor: pointer;
}

.user-link-left:hover svg {
    fill: red;
}
.user-wrapper {
    width: 370px;
    margin-bottom: 15px;
}
.user-about {
    list-style: disc;
}

.user-edit {
    width: 420px;

}
.btn {
    width: 185px;
    display: block;
    font-size: 14px;
    line-height: 15px;
    padding: 4px;
    padding-bottom: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    color: #444;
}
.btn:hover {
    background-color: #dbc0c7;
}
.button {
    width: 180px;
    border: 1px solid #737373;
    background-color: #dbc0c7;
    border-radius: 3px;
    color: #444;
    padding: 5px;
    padding-bottom: 3px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}
.btn-a {
    border: 1px solid #ccc;
    background-color: #dbc0c7;
    border-radius: 5px;
    color: #444;
    padding: 5px;
    width: 120px;
    padding-bottom: 3px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}
.btn-uni {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 15px;
    padding: 4px 10px;
    padding-bottom: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    color: #444;
}
.btn-uni:hover {
    background-color: #d2a2af;

}

.btn-bis {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 15px;
    padding: 4px 10px;
    padding-bottom: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    color: #444;
}
.btn-bis:hover {
    background-color: #d2a2af;

}
.button-rp {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
    border: 1px solid #737373;
    border-radius: 3px;
    color: #444;
    padding: 5px 10px;
    padding-bottom: 3px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

.button-rdc {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.btn-a:hover {
    background-color: #d2a2af;
}
.button:hover {
    background-color: #d2a2af;
}
.button-rp:hover {
    background-color: #ededed;
}

.btn-block li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}
.user-btn {
    color: #2980b9;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;

}

.user-btn::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .04em #000000;
}

.btn-block li:last-child {
    margin-right: 0;
}
.user-btn:hover {
    color: #000;
}
.user-about {
    margin-bottom: 20px;
}


.user-about li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 10px;
}

.user-avto {
    text-decoration: none;
    cursor: default;
    color: #2980b9;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}


.user-avto::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .04em #000000;
}

.user-avto:hover {
    color: red;
}

.choice {
    background-color: #999;
}

.choice-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-align-items: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 7px 0;
    margin-bottom: 15px;
}

.icon {
    color: #ffffff;
    font-size: 30px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.icon i {
    margin-right: 10px;
}
.icon-plus {
    font-size: 33px;

}
.icon:hover {
    color: rgba(255,255,255,0.7);

}

.items {
    margin-bottom: 20px;
}
.user-item {
    padding: 15px 0;
    border-bottom: 1px solid #737373;
}




.tool {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.tool a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000000;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.tool a:hover {
    color: red;
}
.tool-rdc img,
.tool-close img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.tool-rdc {
    margin-right: 15px;
    margin-left: auto;
}
.tool-del {
  margin: 0 auto;
}

.btn-point {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: flex-end;
    outline: none;
        margin-left: 20px;
}

.points {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #757373;
    border-radius: 50%;
    margin-right: 4px;
    z-index: 2;
}

.item-1 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-right: 5px;
}

.prod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.prod-foto {
    width: 300px;
    height: 200px;
    margin-right: 30px;
}

.prod-content {
    width: 72%;
}

.time {
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
}

.date {
    font-family: 'Roboto';
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}

.icon span {
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
}
.adress-text-img {
    margin-right: 5px;
}
.adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.adress-text {
    font-family: 'Roboto';
    margin: 0;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
   

}

.adress-text-city {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;

}

.btn-p {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: flex-end;
    outline: none;
}

.points {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 3px;
}
.btn-p:hover .points {
    background-color: #ccc;
}

.text-block {
    margin-bottom: 15px;
}

.text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
        white-space: normal;
            font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}


#button-t {
    display: block;
    margin-left: auto;
    background-color: #fff;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: #ff7c01;
    padding-top: 7px;
    margin-right: 7%;
    cursor: pointer;
    outline: none;
}

#button-t:hover,
#button-t:focus {
    color: #000;
}
.breadcrumbs {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.breadcrumbs li {
    margin-right: 5px;
    font-size: 14px;
    line-height: 15px;
    color: #444;
}
.item-link {
    
    font-size: 14px;
    line-height: 15px;
    color: #444;
}

.current {
   font-size: 14px;
    line-height: 15px;
    color: #444;
    cursor: default;
}
.breadcrumbs li img {
    width: 12px;
    height: 12px;
}
.item-link-plus {
    margin-left: 10px;
    color: #000;
}
.item-link-plus:hover svg {
    fill: #000;
}
.sail-f {
    margin-left: auto;
    margin-top: 7px;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 60px;
}
.sail-f img {
    width: 20px;
    height: 20px;
}

.overlay1,
.overlay2,
.overlay3,
.overlay4,
.overlay5,
.overlay6,
.overlay7,
.overlay8,
.overlay9 {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100; }



.modal4,
.modal6 {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 850px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.modal1,
.modal2,
.modal3 {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 850px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.modal5 {
    position: fixed;
    top: 80px;
    left: 50%;
    width: 800px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.modal7 {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 900px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
     max-height: calc(100vh - 70px);
    overflow-y: auto;
}
.links li {
    margin-bottom: 10px;
}
.links li:last-child {
    margin-bottom: 0;
}
.links-item {
    color: #262626;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}

.links-item:hover,
.links-item:focus {
    color: red;
}

.modal--show {
    display: block;
}

.modal-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    border: 1px solid #737373;
    background-color: #fff;
    border-radius: 50%;
    padding: 2px;
    outline: none;

}

.img-cont {
    margin: 0 auto;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 400px;
    box-sizing: border-box;
}
.modal-img {
    width: auto;
    max-height: 400px;
}
.btn-list {
    width: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;

}
.btn-list-m {
    width: 85%;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;

}

.modal-close:hover line,
.modal-close:focus line {
    stroke: red;
}

.modal-title {
    margin: 0;
    margin-bottom: 15px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #ff0000;
    text-align: center;
    margin-bottom: 15px;
}

.subtitle::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #000000;
}

.modal-text {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.user-link:hover svg,
.user-link:focus svg {
    fill: red;
}
.btn-list-o {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.btn-list-o .button {
    margin-right: 3%;
}
.button-o {
    width: 250px;
}
.btn-input {
    width: 130px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
}
textarea {
    width: 85%;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

.modal-img1 {
    border: 3px solid #ccc;
    width: 400px;
    height: 250px;
}
.button-mr {
    margin-bottom: 10px;
}


.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    border-bottom: 1px solid #737373;
    border-top: 1px solid #737373;
    padding: 7px  0;
    margin-bottom: 30px;

}
.modal-header1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #737373;
    border-top: 1px solid #737373;
    padding: 7px 0;
    margin: 10px;
    margin-bottom: 30px;
}

.button-home {
    border: none;
    background-color: #fff;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    cursor: pointer;
}
.button-home-left {
    -ms-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.button-home-right {
    -ms-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.hid {
    display: none;
}
.modal-title {
    margin-bottom: 15px;
}
.button-home img {
    width: 30px;
    height: 30px;
}

.modal-header b {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}


.button-title {
    margin: 0 auto;
    font-size: 20px;
    line-height: 22px;
    padding: 5px 10px;
    font-weight: 400;
    color: #ff0000;
    text-align: center;
}

.button-title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #000000;
}

.button-title-m {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom: 20px;
}
.button-home span {
    margin: 0 10px;
}
.block-modal {
    padding: 0 20px;

}
.list {
    margin-bottom: 30px;

}


.list li {
    margin-bottom: 15px;
}

.number {
    margin-left: 10px;
    font-size: 20px;
    line-height: 22px;
    color: #999;
}

.button-cl {
    display: block;
    width: 98%;
    border: none;
    background-color: #fff;
    border-top: 1px solid #737373;
    font-size: 18px;
    line-height: 20px;
    color: #444;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    cursor: pointer;
}
.button-home:hover,
.button-home:focus,
.button-cl:hover,
.button-cl:focus {
    color: red;
}
.modal--show {
    display: block;
}
.img-block {
    position: relative;
    width: 300px;
    height: 200px;
}
.item-img {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
.item-img::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #000000;
}
.select-img {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
        right: 10px;
    top: 10px;
    border: 1px solid #757575;
    border-radius: 50%;
    padding: 3px;
    background-color: #fff;
    cursor: pointer;
}

.select-img img {
    width: 20px;
    height: 20px;
}
.btn-sel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #444444;
    cursor: pointer;
    background-color: #fff;
    border: none;
    margin-bottom: 10px;
    margin-left: auto;
}

.btn-sel svg {
    margin-right: 10px;
}

.prod-title {
   margin: 0;
   margin-bottom: 20px;
   text-align: center;
        color: #2980b9;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
}
.prod-title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #000000;
}

/*  DEL  */
.del {
    padding: 40px 20px;
    border: 7px solid #efefef ;
}

.del-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    color: #ff0000;
}

.del-title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .04em #000000;
}

.del-subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: #000000;
}
.parus {
    display: block;
    color: #ff0000;
    text-align: right;
}
.del-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 40px 0;
}
.del-btn li {
    margin: 0 15px;
}

.btn-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    padding: 5px;
    border: 2px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;
    color: #000000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.btn-m:hover {
    background-color:  #ededed;

}
.btn-m img {
    width: 24px;
    height: 24px;
}
.btn-red {
    border: 2px solid #d22856;
}

.btn-green {
    border: 2px solid green;
}
.btn-gray {
    border: 2px solid #cccccc;
        padding: 7px;
}

.del-text {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.mike-img {
    margin: 30px auto;
    margin-top: 0;
    width: 50px;
    height: 50px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(68,68,68,0.6);
    box-shadow: 0px 0px 10px 1px rgba(68,68,68,0.6);
}

.input-title {
    width: 70%;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
    padding: 5px;
    cursor: pointer;
    color: #000;
    border: none;
    border-bottom: 1px solid #666666;
    background-color: #fff;
    -webkit-appearance: none;
    border-radius: 0;
}
.input-btn {
    margin-bottom: 10px;
    display: block;
    padding: 5px 25px;
    padding-bottom: 3px;
    text-align: center;
    border: 1px solid #737373;
    border-radius: 3px;
    color: #444444;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: #dbc0c7;
}

.input-btn:hover, 
.input-btnon:focus {
    background-color: #d2a2af;
}

@media (max-width: 767px) {
    .container {
        width: auto;
    }

    .btn-point {
        margin-left: 10px;
}

    .modal5 {
        top: 0;
        width: 100%;
    }
    .del {
      
        border: 5px solid #efefef ;
    }
    .del-btn {
        margin: 30px auto;
        margin-bottom: 10px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 290px;
    }
    .del-title {
        margin: 0;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 22px;
    }

    .del-subtitle {

        font-size: 18px;
        line-height: 20px;
    }


    .btn {
        width: 200px;
        padding: 7px;
        font-size: 16px;
        line-height: 18px;
    }

    .btn img {
        width: 20px;
        height: 20px;
    }


    .del-text {
        font-size: 14px;
        line-height: 16px;

    }
    .btn-m {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .del-btn li:nth-child(2) {
        margin: 0 auto;
    }
    .del-btn li:nth-child(3) {
        margin-left: auto;
    }
}
@media (max-width: 480px) {
    .container {
        width: auto;
    }

    .del-btn {
        margin: 25px auto;
        margin-bottom: 10px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 85%;
    }
.modal7 {
        top: 0;
        width: 100%;
        padding-top: 5px;
    }
}


@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    .texthide {
        max-height: 50px;
        overflow: hidden;
    }
    #button-t {
        display: block;
        font-size: 14px;
    }

    .profil-items {
        width: 300px;
    }
    .foto-user-wrapper {
        width: 90px;
        height: 60px;
    }
    .foto-user-left {
        width: 60px;
        height: 60px;
    }
    .foto-user {
        width: 90px;
        height: 60px;
    }

    .foto-user-left {
        width: 60px;
        height: 60px;
    }

    .foto-left {
        width: 60px;
        height: 60px;
    }
    .user-wrapper {
        width: 77%;
        margin-bottom: 0;
    }


    .user-avto {
        font-size: 12px;
        line-height: 14px;
    }

    .button-rp {
        text-transform: none;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 15px;
    }
    .user-name {
        font-size: 14px;
        line-height: 16px;
        margin-top: 0;
    }
 

    .user-logo {
        position: relative;
        width: 90px;
        height: 60px;
        border: 1px solid #464545;
        margin-right: 15px;
    }

    .user-company {
        display: block;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
    }

    .user-link svg {
        width: 13px;
        height: 13px;
    }
    .user-link-left svg {
        width: 13px;
        height: 13px;
    }
    .heading {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .user-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 10px;
        min-height: auto;
    }
    .user-info-r {
        padding-right: 4px;
        margin-bottom: 0;
    }
    .profil-items {
        width: 100%;
    }
    .user-item {
        width: 100%;
    }
    .foto {
        width: 100%;
        height: auto;
    }
    .foto img {
        width: 100%;
        height: auto;
        max-width: 480px;
        border: 1px solid #ccc;
    }
    .foto-hvr {
        width: 100%;
        height: 100%;

    }

    .user-edit {
        width: 70%;

    }
    .user-link-left {
        top: 45px;
        left: 45px;

    }
    .button-rp {
        padding: 4px;
        padding-bottom: 3px;
        font-size: 12px;
        line-height: 14px;
    }
    .user-about li {
        margin-bottom: 7px;
    }

    .user-btn {
        font-size: 14px;
        line-height: 16px;

    }
    .btn-block  li {
        margin-bottom: 12px;
    }

    .icon {
        color: #ffffff;
        font-size: 14px;
        line-height: 11px
    }

    .button-rdc {
        margin-bottom: 5px;
    }
    .user-about {
        padding-left: 0;
        margin-bottom: 15px;
    }
    .user-info--line {
        padding-bottom: 10px;
        border-bottom: 1px solid #757373;
        margin-bottom: 15px;

    }
    .heading {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }
    .user-logo-r {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-right: 0;
    }

    .choice-block {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 3px 0;
        padding-top: 4px;
    }
    .icon i {
        margin-right: 5px;

    }

    .user-item {
        padding: 10px 0;
        border-bottom: 1px solid #737373;
        padding-bottom: 5px;
    }


    .marka {
        margin-bottom: 15px;
    }
    .name {
        width: 220px;
    }
    .name-foto {
        width: 30px;
        height: 20px;
    }
    .name-text {
        font-size: 14px;
        line-height: 16px;
    }

    .tool {
        margin-bottom: 10px;
    }
    .tool-rdc img,
    .tool-close img {
        width: 20px;
        height: 20px;

    }

    .item-1 {
        font-size: 12px;
        line-height: 14px;
    }

    .prod {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
.img-block {
   
    width: 100%;
        height: auto;
}
    .prod-foto {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 15px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    .prod-content {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: 100%;
    }
    .time {
        font-size: 10px;
        line-height: 14px;
    }

    .adress  {
        font-size: 14px;
        line-height: 16px;
    }
    .date {
        font-size: 12px;
        line-height: 14px;
    }

    .text-block {
        margin-bottom: 10px;
    }


    .breadcrumbs li {
        margin-right: 3px;
        font-size: 12px;
        line-height: 16px;
    }

    .breadcrumbs li img {
        width: 12px;
        height: 14px;
    }
    .breadcrumbs li {
    margin-right: 3px;
    font-size: 12px;
    line-height: 13px;
    color: #444;
}
.item-link {
    font-size: 10px;
    line-height: 12px;
    color: #444;
}
    .current {
        font-size: 10px;
        line-height: 12px;
    }
    .item-link img {
        width: 16px;
        height: 16px;
    }
    .item-link-plus {
        margin-left: 7px;

    }
    .item-link-plus svg {
        width: 12px;
        height: 12px;
    }
    .sail-f {
        margin: 0 auto;
        margin-bottom: 43px;
    }


    .modal1,
    .modal2,
    .modal3,
    .modal4,
    .modal6 {
        top: 0;
        width: 100%;
    }

    .modal4{
        height: 80vh;
    }
    .button-title-m {
        font-size: 18px;
    }

    .number {
        font-size: 14px;
    }
    .img-cont {
       height: 80vh;
    }
    .modal-img {
        width: 300px;
        height: auto;
    }
    .btn-list {
        width: 255px;
        padding: 0 15px;
    }

    .subtitle {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .modal-title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .button-m {
        width: 130px;
        font-size: 14px;

    }

    .btn-input {
        width: 100%;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end;
        margin-left: 0;
    }
    .btn-lists textarea {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;

        margin-bottom: 15px;
    }

    .modal-img1 {
        width: 100%;
        height: auto;
    }
    .button-mr {
        margin-bottom: 0;
    }
    .user-link {
        top: 45px;
        left: 75px;
    }
    .user-link-r {
        top: 45px;
        left: 75px;
    }
    .btn {
        padding: 2px;
        padding-bottom: 1px;
        font-size: 8px;
        line-height: 12px;
        width: 100px;
    }
    .user-btn {
        font-size: 12px;
        line-height: 14px;

    }
    .list .user-btn {
        font-size: 16px;
        line-height: 18px;

    }
    .button-home span {
        display: none;
    }
    .button-title span {
        display: none;
    }
    .btn-list {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }

    .button {
        margin-bottom: 15px;
    }
    .button-s {
        width: 120px;
    }
    .user-avto span {
        font-size: 12px;
        line-height: 16px;
    }
    .btn-a {
        font-size: 9px;
        line-height: 12px;
        width: 70px;
    }
    .block-modal {
        padding: 0 10px;
    }
    .adress-text {
        font-size: 14px;
        line-height: 18px;
    }
    .adress-text-city {
        font-size: 12px;
        line-height: 14px;
        font-family: 'Roboto';
    }
    .choice-block {
    margin-bottom: 0; 
}
.icon span {
    font-size: 12px;
        line-height: 14px;
}
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }


    .profil-items {
        width: 480px;
    }
    .foto-user-wrapper {
        width: 120px;
        height: 80px;
    }
    .foto-user {
        width: 120px;
        height: 80px;
    }
    .user-avto {
        font-size: 14px;
    }

    .user-link:hover svg {
        fill: red;
    }
    .user-wrapper {
        width: 345px;
        margin-bottom: 0;
    }

    .user-avto span {
        font-size: 14px;
        line-height: 20px;
    }
    .user-edit {
        width: 345px;
    }

    .button-rp {
        font-size: 12px;
        line-height: 14px;
    }

    .btn {
        width: 145px;
        font-size: 11px;
        line-height: 12px;
    }

    .user-logo {
        position: relative;
        width: 120px;
        height: 80px;
        border: 1px solid #464545;

    }
    .user-name {

        margin-top: 0;
    }
    .user-logo-left {
        position: relative;
        width: 80px;
        height: 80px;
        border: 1px solid #464545;

    }
    .foto-user-left {
        width: 80px;
        height: 80px;
    }
    .user-company {
        display: block;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
    }

    .foto-left {
        width: 80px;
        height: 80px;
    }
    .heading {
        padding-top: 15px;
        padding-bottom: 15px;

    }
    .user-link-left {
        top: 65px;
        left: 65px;
    }
    .user-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: auto;
        margin-bottom: 15px;
    }

    .profil-items {
        margin: 0 auto;
        width: 450px;
    }

.choice-block {
    margin-bottom: 0; 
}

    .user-about {
        margin-right: 0;
    }

    .user-edit {
        width: 310px;


    }

    .button-rp {
        padding: 6px;
        padding-bottom: 3px;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 20px;
    }


    .user-btn {
        font-size: 14px;
        line-height: 16px;

    }

    .icon {
        color: #ffffff;
        font-size: 18px;
    }
    .icon-plus {
        font-size: 20px;

    }
    .button-rdc {
        margin-bottom: 5px;
    }

    .user-info--line {
        padding-bottom: 10px;
        border-bottom: 1px solid #757373;
        margin-bottom: 15px;

    }
    .heading {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }
    .user-logo-r {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .choice-block {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 5px 0;
    }
    .icon i {
        margin-right: 5px;
    }
    .user-item {
        padding: 10px 0;
        border-bottom: 1px solid #737373;
    }


    .marka {
        margin-bottom: 15px;
    }
    .name {
        width: 220px;
    }
    .name-foto {
        width: 30px;
        height: 20px;
    }
    .name-text {
        font-size: 14px;
        line-height: 16px;
    }


    .tool-rdc img,
    .tool-close img {
        width: 20px;
        height: 20px;

    }



    .prod {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
.img-block {
    margin: 0 auto;
    width: 450px;
        height: 100%;
}
    .prod-foto {
        width: 450px;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .prod-content {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: 100%;
    }

    .text-block {
        margin-bottom: 10px;
    }

    .breadcrumbs li {
        margin-right: 3px;
    }
    .item-link {
        font-size: 14px;
        line-height: 16px;

    }
    .current {
        font-size: 14px;
        line-height: 16px;
    }
    .item-link img {
        width: 16px;
        height: 16px;
    }

    .sail-f {
        margin: 0 auto;
        margin-bottom: 43px;
    }


    .modal1,
    .modal2,
    .modal3,
    .modal4,
    .modal6 {
        top: 0;
        width: 100%;

    }
    .modal1,
    .modal2,
    .modal3 {
        top: 0;
        width: 100%;
    }



    .button-home-m {
        margin-right: 27%;
    }


    .modal-title {
        font-size: 22px;
        line-height: 24px;
    }
    .user-link {
        top: 63px;
        left: 103px;
    }
    .user-link-r {
        top: 63px;
        left: 103px;
    }
    .btn-list {
        width: 200px
    }
    .button-home span {
        display: none;
    }
    .button-title span {
        display: none;
    }
    .btn-list {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 255px;
    }

    .button {
        margin-bottom: 15px;

    }

    .button-m {
        margin-bottom: 0;
        width: 150px;
    }

    .user-avto span {
        font-size: 14px;
        line-height: 20px;
    }

    .img-cont {

        height: 240px;

    }
    .modal-img {

        max-height: 240px;
    }
       .icon span {
    font-size: 16px;
        line-height: 18px;
}

.modal7 {
        top: 5px;
        width: 85%;
        padding-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto;
    }
    .profil-items--left {
        width: 600px;
    }
    .user-about {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .user-info--line {
        padding-bottom: 20px;
        border-bottom: 1px solid #757373;
        margin-bottom: 20px;
    }
    .heading {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 0;
    }
    .user-logo-r {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .user-company {
        display: block;
        text-align: right;
    }
    .profil-items {
        margin: 0 auto;
        margin-bottom: 20px;

    }
    .user-link-r {
        top: 85px;
        left: 545px;
    }
    .modal1,
    .modal2,
    .modal3 {
        width: 85%;
    }
    .img-cont {
        height: 340px;

    }
    .modal-img {

        max-height: 340px;
    }
    .btn-list-o .button {
        margin-right: 3%;
        margin-bottom: 15px;
    }
    .img-block {
     width: 240px;
        height: 160px;
}
    .prod-foto {
        width: 240px;
        height: 160px;
    }
    .prod-content {
    width: 65%;
}
    .btn {
        width: 170px;
    }
    .user-edit {
        width: 400px;
    }
    .foto-user-wrapper {
        width: 180px;
        height: 120px;
    }
    .foto-user {
        width: 180px;
        height: 120px;
    }
    .foto-user-left {
        width: 120px;
        height: 120px;
    }
    .foto-left {
        width: 120px;
        height: 120px;
    }
    .user-link-left {
        top: 105px;
        left: 105px
    }
    .user-wrapper {
        width: 415px;

    }
    .user-link-r {
        top: 105px;
        left: 585px;
    }
    .del-btn li {
    margin: 0px 10px;
}
.modal5 {
    
    width: 720px;
    }
     .modal7 {
    width: 700px;
}
}
@media (min-width: 1024px) and  (max-width: 1199px) {
    .container {
        width: auto; }

    .profil-items {
        width: 510px;
    }
    .foto-user-wrapper {
        width: 120px;
        height: 80px;
    }
    .foto-user {
        width: 120px;
        height: 80px;
    }
    .user-link {
        top: 65px;
        left: 105px;
    }

    .user-link:hover svg {
        fill: red;
    }
    .user-wrapper {
        width: 310px;
    }

    .user-edit {
        width: 370px;
    }
    .btn {
        width: 165px;
    }
    .button-rp {
        font-size: 12px;
        line-height: 14px;
    }

    .user-btn {
        font-size: 16px;
        line-height: 18px;
    }
    .profil-items--left {
        width: 430px;
    }
    .prod-content {
    width: 67%;
}
}

.texthide{
    max-height: 50px;
    overflow: hidden;
}
/*  MAIN END */