/*Profil*/

.profil {
    border-top: 7px solid #464545;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}
.user-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.user-logo {
    position: relative;
    width: 150px;
    height: 100px;
    border: 1px solid #464545;

}
.profil-items {
    width: 560px;
}
.user-name {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
}
.user-company {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-align: right;
}
.foto-user {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
}
.user-link {
    position: absolute;
    bottom: -8px;
    right: -8px;
    font-size: 30px;
    line-height: 27px;
    font-weight: 300;
    color: #464545;
    border: 1px solid #464545;
    border-radius: 5px;
    padding: 5px 8px;
    padding-bottom: 1px;
    background-color: #fff;
}

.user-link:hover {
    color: #d22856;
}
.user-about {
    width: 380px;
}

.user-edit {
    width: 380px;

}

.button {
    border: 1px solid #757373;
    border-radius: 3px;
    color: #262626;
    padding: 7px 0;
    padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
}

.button-rdc {
    margin-bottom: 20px;
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
}
.user-btn {
    color: #262626;
    padding: 6px 0;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    margin-right: 65px;
    margin-bottom: 7px;
}

.user-btn:last-child {
    margin-right: 0;
}
.user-btn:hover {
    color: #d22856;
}
.user-avto {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.user-avto:hover {
    color: #d22856;
}


.btn-block {
    display: flex;
}


.choice {
    background-color: #464545;
}

.choice-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.icon {
    color: #ffffff;
    font-size: 30px;
}
.icon-plus {
    font-size: 36px;
    line-height: 36px
}
.icon:hover {
    color: rgba(255,255,255,0.7);

}

.items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 40px;
}
.user-item {
    width: 315px;
    margin: 0 auto;
    margin-bottom: 20px;

}
.foto {
    margin-bottom: 10px;
}
.foto-users {
    width: 300px;
    height: 200px;
    border: 1px solid #757373;
    padding: 5px;

}

.item-description {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 5px;
}

.more {
    color: #d22856;
    text-align: right;
    cursor: pointer;
}
.more:hover {
    color: #000000;
}


@media (max-width: 480px) {
    .container {
        width: auto;
    }

    .profil {
        border-top: 4px solid #464545;
    }

    .user-logo {
        position: relative;
        width: 90px;
        height: 60px;
        border: 1px solid #464545;

    }
    .profil-items {
        margin: 0 auto;
    }

    .user-company {
        font-size: 16px;
        line-height: 18px;
        margin: 5px 0;
        margin-bottom: 10px;
    }
    .foto-user {
        width: 90px;
        height: 60px;
        margin-bottom: 10px;
    }
    .user-name {
        font-size: 16px;
        line-height: 18px;

    }

    .heading {
        padding-top: 20px;
        padding-bottom: 10px;

    }

    .user-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .profil-items {
        margin: 0;
        width: 98%;
    }


    .user-link {
        position: absolute;
        bottom: -8px;
        right: -8px;
        font-size: 22px;
        line-height: 20px;
        font-weight: 300;
        color: #464545;
        border: 1px solid #464545;
        border-radius: 5px;
        padding: 2px 5px;
        padding-bottom: 0px;
        background-color: #fff;
    }

    .user-link:hover {
        color: #d22856;
    }
    .user-about {
        width: 64%;
    }

    .user-edit {
        width: 64%;

    }
    .user-btn {
        color: #262626;
        padding: 6px 0;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
        margin-right: 35px;
        margin-bottom: 7px;
    }

    .button {
        padding: 7px 0;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .user-avto {
        display: block;
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 10px;
    }


    .user-btn {
        font-size: 16px;
        line-height: 18px;
        margin-right: 15px;
        margin-bottom: 0;
    }
    .icon {
        color: #ffffff;
        font-size: 20px;
    }
    .icon-plus {
        font-size: 26px;
        line-height: 26px
    }
    .button-rdc {

        margin-bottom: 5px;
    }
    .user-about {
        order: 2;
    }
    .user-info--line {
        padding-bottom: 10px;
        border-bottom: 1px solid #757373;
        margin-bottom: 15px;

    }
    .heading {
        flex-direction: column;

    }
    .user-logo {
        order: 1;
    }
    .user-edit {
        order: 0;
    }
    .profil {
        border-top: 4px solid #464545;
    }


    .items {
        padding-top: 15px;
        padding-bottom: 40px;
    }



    .user-link {
        position: absolute;
        bottom: -5px;
        right: -5px;
        font-size: 20px;
        line-height: 15px;
        font-weight: 300;
        color: #464545;;
        border: 1px solid #464545;
        border-radius: 3px;
        padding: 2px 4px;
        padding-bottom: 0px;
        background-color: #fff;
    }

    .user-name {
        font-size: 12px;
        line-height: 14px;

    }
    .user-company {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .heading {
        padding: 10px 0;
    }

    .button {
        display: block;
        font-size: 8px;
        line-height: 10px;
        margin-bottom: 10px;
        padding: 5px 0;
        padding-bottom: 3px;
    }
    .button-rdc {
        margin-bottom: 5px;
    }
    .user-avto {
        display: block;
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 2px;
    }

    .user-btn {
        padding: 5px 0;
        padding-top: 6px;
        font-size: 12px;
        line-height: 14px;
        font-weight:  700;
        margin-bottom: 0;
    }
    .icon {
        color: #ffffff;
        font-size: 14px;
    }
    .icon-plus {
        font-size: 18px;
        line-height: 18px
    }
    .user-item {
        width: 290px;
        margin: 0 auto;
        margin-bottom: 10px;

    }
    .foto {
        margin-bottom: 10px;


    }
    .foto-users {
        width: 270px;
        height: 180px;
        border: 1px solid #757373;
        padding: 2px;

    }

    .item-description {
        font-size: 14px;
        line-height: 16px;
        margin: 0;
        margin-bottom: 5px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }

    .profil {
        border-top: 4px solid #464545;
    }

    .user-logo {
        position: relative;
        width: 120px;
        height: 80px;
        border: 1px solid #464545;

    }

    .user-company {
        font-size: 16px;
        line-height: 18px;
        margin: 5px 0;
        margin-bottom: 10px;
    }
    .foto-user {
        width: 120px;
        height: 80px;
        margin-bottom: 10px;
    }
    .user-name {
        font-size: 16px;
        line-height: 18px;

    }

    .heading {
        padding-top: 20px;
        padding-bottom: 10px;

    }

    .user-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .profil-items {
        margin: 0 auto;
        width: 450px;
    }


    .user-link {
        position: absolute;
        bottom: -8px;
        right: -8px;
        font-size: 22px;
        line-height: 20px;
        font-weight: 300;
        color: #464545;
        border: 1px solid #464545;
        border-radius: 5px;
        padding: 2px 5px;
        padding-bottom: 0px;
        background-color: #fff;
    }

    .user-link:hover {
        color: #d22856;
    }
    .user-about {
        width: 300px;
    }

    .user-edit {
        width: 310px;

    }
    .user-btn {
        color: #262626;
        padding: 6px 0;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
        margin-right: 35px;
        margin-bottom: 7px;
    }

    .button {
        padding: 6px 0;
        padding-bottom: 3px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    .user-avto {
        display: block;
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 10px;
    }


    .user-btn {
        font-size: 16px;
        line-height: 18px;
        margin-right: 55px;
        margin-bottom: 0;
    }
    .icon {
        color: #ffffff;
        font-size: 20px;
    }
    .icon-plus {
        font-size: 26px;
        line-height: 26px
    }
    .button-rdc {

        margin-bottom: 5px;
    }
    .user-about {
        order: 2;
    }
    .user-info--line {
        padding-bottom: 10px;
        border-bottom: 1px solid #757373;
        margin-bottom: 20px;

    }
    .heading {
        flex-direction: column;

    }
    .user-logo {
        order: 1;
    }
    .user-edit {
        order: 0;
    }
}
@media (min-width: 768px) and  (max-width: 1199px) {
    .container {
        width: auto; }

    .heading {
        display: flex;
        justify-content: space-around;
        padding-top: 15px;
    }

    .user-logo {
        position: relative;
        width: 90px;
        height: 60px;
        border: 1px solid #464545;

    }

    .user-company {
        font-size: 14px;
        line-height: 16px;
        margin: 5px 0;
        margin-bottom: 0;
    }
    .foto-user {
        width: 90px;
        height: 60px;
        margin-bottom: 10px;
    }
    .user-name {
        font-size: 14px;
        line-height: 16px;

    }

    .heading {
        padding-top: 20px;
        padding-bottom: 10px;

    }

    .user-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .profil-items {
        margin: 0;
        width: 350px;
    }
    .user-avto {
        display: block;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 5px;
    }


    .user-link {
        position: absolute;
        bottom: -8px;
        right: -8px;
        font-size: 22px;
        line-height: 20px;
        font-weight: 300;
        color: #464545;
        border: 1px solid #464545;
        border-radius: 5px;
        padding: 2px 5px;
        padding-bottom: 0px;
        background-color: #fff;
    }

    .user-link:hover {
        color: #d22856;
    }
    .user-about {
        width: 240px;
    }

    .user-edit {
        width: 240px;

    }
    .user-btn {
        color: #262626;
        padding: 6px 0;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        margin-right: 20px;
        margin-bottom: 7px;
    }

    .button {
        padding: 6px 0;
        padding-bottom: 3px;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 10px;
    }

}

/*Profil END*/