/*business-anketa*/

.choice {
    background-color: #464545;
}

.choice-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
}

.icon {
    color: #ffffff;
    font-size: 30px;
}

.icon:hover {
    color: rgba(255,255,255,0.7);

}
.time-m {
    margin: 0 auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.time-w {
    margin: 0 auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.icon-plus {
    font-size: 38px;
    line-height: 36px
}

.business {
    padding-top: 20px;
    padding-bottom: 65px;
}
.business-form {
    margin-bottom: 15px;
}

.business-title {
    margin: 0;
    font-size: 26px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.business-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.business-option {
    width: 400px;
}

.filter-option {
    margin: 12px 0;
    padding-left: 40px;
}
label {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: 700;
}
.choice-input {
    border: none;
    width: 100%;
    border-bottom: 1px solid #000000;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    line-height: 18px;
    color: #757373;
    margin-bottom: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.filter-option label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    display: block;
    left: -42px;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #000000;
    border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
    content: '✔';
    position: absolute;
    display: block;
    left: -38px;
    top: 2px;
    font-size: 18px;
}

.time {
    width: 740px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.time-wrapper {
    width: 370px;
}

.time-wrapper--border {
    border-right: 1px solid #000000;
}
.time-text {
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}
.time-block {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}
.time_new_mk {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}
.time_new_mk label,
.time_new_mk input {
    display: block;
    float: none;
    width: 30px;
    padding-top: 2px;
}

.time_work {
    width: 70px;
    padding: 3px;
    border: 2px solid #5a5959;
    border-radius: 3px;
    font-size: 14px;
    margin: 5px 0;
}


fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.pay {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 740px;
}
.pay-option label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pay-title {
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
}

.pay-block {
    display: flex;
    justify-content: space-between;

}
.pay-option {
    width: 170px;
    margin: 5px 0;
    padding-left: 40px;
}

.delivery {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 740px;
}
.delivery-option label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.delivery-title {
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    text-align: center;
    font-weight: 700;
}

.delivery-block {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.delivery-option {
    width: 70px;
    margin: 5px 0;
    padding-left: 40px;
}

.delivery-text span {
    display: block;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-align: right;
    margin-bottom: 5px;
}
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px solid #000000;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    line-height: 18px;
    color: #757373;
}

.check {
    display: block;
    font-size: 10px;
    line-height: 11px;
    padding-top: 2px;
    color: #d22856;
    text-align: center;
    margin-bottom: 5px;
}
.check-on {
    color: green;
}

.info {
    width: 740px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.info-title {
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
}
.phone {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}
.phone input {
    width: 200px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    line-height: 18px;
    color: #757373;
}
.btn-filter {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    padding:5px 25px;
    margin: 0 auto;
    color: #000000;
    border: 1px solid black;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
}
.btn-filter:hover {
    background-color: #000000;
    color: #ffffff;
}



.checkbox-custom + label::before {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: -22px;
    width: 18px;
    height: 18px;
    border: 2px solid #000000;
    border-radius: 3px;
}

.checkbox-custom:checked + label::after {
    content: '✔';
    position: absolute;
    display: block;
    left: 9px;
    top: -21px;
    font-size: 18px;
}


.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.filter-input:disabled + label {
    color: #000000;
    opacity: 0.5;
}
.filter-list {
    margin-bottom: 25px;
}
.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -34px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
}

.choice-unp {
    width: 50%;
}



.profil-pay {
    margin-bottom: 20px;
}


.choice {
    background-color: #464545;
}


.subtext {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    margin: 0;
}

@media (max-width: 480px) {
    .container {
        width: auto;
    }

    .business {
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .business-title {
        font-size: 22px;
        line-height: 24px;
    }

    .business-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .business-option {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .filter-option {
        margin: 12px 0;
        padding-left: 40px;
    }
    .filter-option label {
        font-size: 16px;
        line-height: 18px;
    }

    .choice-input {
        font-size: 15px;
        line-height: 18px;
        color: #757373;
        margin-bottom: 15px;
    }
    .pay {
        margin: 0 auto;
        margin-bottom: 15px;
        width: 100%;
    }
    .pay-title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 0;
    }
    .pay-option label {
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .time-wrapper--border {
        border-right: none;
        border-bottom: 1px solid #000000;
        padding-bottom: 5px;
    }
    .pay-block {
        flex-direction: column;


    }
    .pay-option {
        width: 250px;
        margin: 5px 0;
        padding-left: 40px;
    }
    .time-text {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .time {
        width: 290px;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .time-wrapper {
        width: 230px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .delivery {
        margin: 0 auto;
        margin-bottom: 15px;
        width: 100%;
    }
    .delivery-option label {
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .delivery-title {
        font-size: 20px;
        line-height: 22px;
    }
    .delivery-input {
        font-size: 12px;
        line-height: 14px;
    }
    .phone {
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 290px;
    }
    .phone label {
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }
    .phone input {
        width: 170px;
        margin: 0 auto;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid #000000;
        border-radius: 3px;
        font-family: 'Comfortaa', cursive;
        font-size: 16px;
        line-height: 18px;
        color: #757373;
    }
    .info {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .info-title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;

    }
    .icon-plus {
        font-size: 26px;
        line-height: 26px
    }
    .icon {
        color: #ffffff;
        font-size: 20px;
    }

    .icon-plus {
        font-size: 16px;
        line-height: 16px
    }
    .icon {
        color: #ffffff;
        font-size: 12px;
    }
    .subtext {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }

    .business {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .business-title {
        margin: 0;
        font-size: 26px;
        line-height: 28px;
        font-weight: 700;
        color: #000000;
        text-align: center;
    }

    .business-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .business-option {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .filter-option {
        margin: 12px 0;
        padding-left: 40px;
    }
    label {
        font-size: 18px;
        line-height: 20px;
        color: #000000;
        font-weight: 700;
    }

    .pay {
        margin: 0 auto;
        margin-bottom: 15px;
        width: 400px;
    }
    .pay-option label {
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .pay-title {
        font-size: 22px;
        line-height: 24px;
        color: #000000;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 700;
    }

    .pay-block {
        flex-direction: column;
    }
    .time-wrapper--border {
        border-right: none;
        border-bottom: 1px solid #000000;
        padding-bottom: 5px;
    }

    .pay-option {
        width: 250px;
        margin: 5px 0;
        padding-left: 40px;
    }
    .time {
        width: 440px;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .time-wrapper {
        width: 230px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .delivery {
        margin: 0 auto;
        margin-bottom: 15px;
        width: 100%;
    }
    .delivery-option label {
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .delivery-title {
        font-size: 22px;
        line-height: 24px;
        color: #000000;
        margin: 0;
        text-align: center;
        font-weight: 700;
    }
    .phone {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 440px;
    }
    .phone label {
        font-size: 16px;
        line-height: 18px;
    }
    .phone input {
        width: 160px;
        padding: 5px;
        border: 1px solid #000000;
        border-radius: 3px;
        font-family: 'Comfortaa', cursive;
        font-size: 16px;
        line-height: 18px;
        color: #757373;
    }
    .info {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .icon-plus {
        font-size: 26px;
        line-height: 26px
    }
    .icon {
        color: #ffffff;
        font-size: 20px;
    }

}
@media (min-width: 768px) and  (max-width: 991px) {
    .container {
        width: auto; }
    .business-option {
        width: 370px
    }

    .filter-option label {
        font-size: 16px;
        line-height: 18px;
    }
}

/*Profil END*/