<div id="check-fine-result-modal" class="overlay1 modal--show" show-hint trigger-close=".close-overlay1" style="display: none;">
    <div class="modal1">
        <button class="modal-close modal-close-h close-overlay1" type="button">
            <svg x="0px" y="0px" width="25px" height="25px" viewBox="0 0 50 50" enable-background="new 0 0 50 50"
                 xml:space="preserve">
                    <line fill="none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="7.741" y1="7.741"
                          x2="42.359" y2="42.359"/>
                <line fill="#none" stroke="#727272" stroke-width="4" stroke-miterlimit="10" x1="42.258" y1="7.742"
                      x2="7.618" y2="42.382"/>
                </svg>
        </button>

        <h3 class="modal-title">{{ default_text(39).headline }}</h3>
        <div id="result-check-fine" class="modal-title" style="color: cornflowerblue;"></div>
        <div class="modal-text">{{ default_text(39).text | raw }}</div>
        <a href="{{ path("login") }}" class="button button-m" type="button">Войти</a>

        <button class="btn btn-mobile close-overlay1">Свернуть</button>
    </div>
</div>