{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <table class="table">
        <tbody>
            <tr>
                <td>Всего строк</td>
                <td><b>{{ object.countLines }}</b></td>
            </tr>
            <tr>
                <td>Успешно</td>
                <td style="color: green">{{ object.countSuccess }}</td>
            </tr>
            <tr>
                <td>Ошибок</td>
                <td style="color: red">{{ object.countLines - object.countSuccess }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}