/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin: 0 3px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 480px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 2px;
    margin-right: 2px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 18px;
    font-size: 10px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/



/*city*/
.city {
     padding-top: 35px;
    padding-bottom: 65px;
}
a {
    display: block;
}
.city-title {
   margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #2980b9;
    letter-spacing: 1px;
}

.city-desc {
    margin-bottom: 40px;
}
#text1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}
#allText {
    text-align: right;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    margin-right: 20px;
}
.button {
    margin-left: auto;
    display: block;
    padding: 5px 25px;
    padding-bottom: 3px;
    text-align: center;
    border: 1px solid #737373;
    border-radius: 3px;
    color: #444444;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    background-color: #dbc0c7;
}
.button:hover,
.button:focus  {
    background-color: #d2a2af;
}


.modform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
   -ms-align-items: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
    margin-bottom: 30px;
}

.form7 {
    width: 300px;
    padding-left: 5px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #737373;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 18px;
    line-height: 20px;

}


.mod-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #737373;
    cursor: pointer;
    padding: 15px 5px;
}

.mod-link span {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
     width: 240px;

}
.mod-link img {
    width: 90px;
    height: 60px;
}

.mod-link:hover {
    border-bottom: 1px solid red;
}
.model-block {
    margin-bottom: 60px;
}

#model {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.show {
    max-height: 193px;
    margin: 0 auto;
    overflow: hidden;
}



#model li {
  margin: 0 20px;
    width: 350px;
}


#button-mod {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: #ff7c01;
    margin-top: 30px;
    cursor: pointer;
    outline: none;
}

#button-mod span {
    color: #000000;
    margin: 0 7px;
}

#button-mod:hover, #button-mod:focus {
    color: #000;
}

@media (max-width: 767px) {
  .container {
    width: auto; 
  }
  #button-mod {
    font-size: 14px;
    margin-top: 10px;
}

#button-mod span {
    margin: 0 3px;
}
}
.city-subtitle {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2980b9;
}

.city-subtext {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 18px;
    text-align: justify;
}


@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
       .city {
        padding-top: 25px;
    }
    .text1Hide {
        max-height: 60px;
        overflow: hidden;

    }
    #allText {
        display: block;
    }
    .city-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;

    }
.city-desc {
    margin-bottom: 30px;
}


    .modform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 35px;

    }

    .form7 {
        margin: 0 auto;
        padding-left: 5px;

    }
     #model li {
        margin: 0;
        width: 100%;
    }
    #model li:last-child {
        margin-bottom: 15px;

    }


  .mod-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        cursor: pointer;
    }
    .mod-link img {
        width: 75px;
        height: 50px;
    }


    .mod-link--line {
       border-top: 1px solid #737373;
    }

    .city-subtitle {
        text-align: center;
        font-size: 20px;
        line-height: 22px;

        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .city-subtext {
        margin: 0;
        margin-bottom: 10px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .button {
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-left: auto;
    }
    .show {
        max-height: 315px;
        margin: 0 auto;
        overflow: hidden;
    }

}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }

    .city {
        padding-top: 25px;
    }
    .text1Hide {
        max-height: 60px;
        overflow: hidden;
    }



    #allText {
        display: block;
    }

    
    .city-title {
        font-size: 22px;
        line-height: 24px;

    }

    .city-desc {
    margin-bottom: 30px;
}


    .city-subtitle {

        text-align: center;
        font-size: 20px;
        line-height: 24px;

        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .model-title {
        font-size: 18px;
        line-height: 20px;
    }
    .city-subtext {
        margin: 0;
        margin-bottom: 15px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    #model li {
    
        width: 450px;
    }


    .mod-link--line {
        border-top: 1px solid #737373;
    }
   .mod-link span {
    
            width: 290px;
    }

  
    .show {
        max-height: 415px;
        margin: 0 auto;
        overflow: hidden;
    }

    .button {
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-left: auto;
    }

}
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto; }


      #model li {
        margin: 0 20px;
        width: 320px;
    }
    .mod-link span {
        font-size: 14px;
        line-height: 18px;
        width: 210px;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }


      #model li {
        margin: 0 15px;
        width: 295px;
    }
    .mod-link span {
        font-size: 14px;
        line-height: 18px;
        width: 185px;
    }
}
/*city END*/