/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
    border-top: 1px solid #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 5px;
}

#breadcrumbs li {
    margin-right: 5px;

}
.more {
    display: none;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #444;
}

#breadcrumbs a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444;
    position: relative;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.user-icon {
    display: none;
}

.user-link:hover,
.link:hover {
    color: black;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.current {
    cursor: default;
}
.opened {
    background-color: transparent;
}

@media  (max-width: 575px) {
.container {
        width: auto;
    }
#breadcrumbs {
        padding-top: 3px;
    }

.user-name {
        display: none;
    }
.opened {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
.opened li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

.opened .more {
        display: none;
    }

.user-icon {
        display: block;
    }
.link-b {
        margin-right: 5px;
    }

.close-menu {
        font-size: 14px;
        cursor: pointer;
    }
.user-link {
        width: 10px;
        height: 10px;
    }


.user-icon {
        display: block;
        width: 16px;
        height: 16px;
    }
.more {
        display: block;
        cursor: pointer;
        font-size: 12px;
        line-height: 14px;
    }
#breadcrumbs a {
        line-height: 20px;
        font-size: 12px;
    }
.model-block {
        padding-top: 5px;
    }

.user-link--icon {
        width: 20px;
        height: 20px;
    }

#breadcrumbs li {
        margin-right: 0;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
.container {
        width: auto;
    }
}
/*END ХЛЕБНЫЕ КРОШКИ*/


/*city*/
.city {
    padding-top: 50px;
    padding-bottom: 60px;
}
.city-title {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    color: #f66666;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.city-title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}
.city-desc {
    margin-bottom: 40px;
}
#text1 {
    margin: 0;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}
#allText {
    text-align: right;
    display: none;
    font-weight: 700;
    font-size: 14px;
    color: #ff0000;
    margin-right: 20px;
}
.button {
    margin-left: auto;
    display: block;
    padding: 5px 25px;
    padding-bottom: 3px;
    text-align: center;
    border: 1px solid #727272;
    border-radius: 3px;
    color: #444444;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    background-color: #dbc0c7;
}
.button:hover {
    background-color: #d2a2af;
}


.modform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: 40px;
}

.form7 {
    width: 300px;
    padding-left: 5px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #444;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 16px;
    line-height: 18px;

}




.mod-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid #444;
    padding: 10px 5px;
    cursor: pointer;
}

.mod-link span {
    font-size: 14px;
    line-height: 18px;
    color: #000;
    font-weight: 700;

}
.mod-link img {
    width: 60px;
    height: 40px;

}

.mod-link:hover {
    border-bottom: 1px solid red;
}
.model-block {
    margin-bottom: 40px;
}

#model {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


.show {
    max-height: 193px;
    margin: 0 auto;
    overflow: hidden;
}



#model li {
    margin-right: 15px;
    width: 375px;
}

#button-mod {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: #ff7c01;
    padding-top: 5px;
    cursor: pointer;
    outline: none;
}

#button-mod:hover,
#button-mod:focus {
    color: #000;
}
.city-subtitle {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    color: #f66666;;
}

.city-subtitle::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}
.city-subtext {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}


@media (max-width: 480px) {
.container {
        width: auto;
        padding: 0 10px;
    }
.city {
        padding-bottom: 45px;
    }
.text1Hide {
        max-height: 55px;
        overflow: hidden;

    }
#allText {
        display: block;
    }
.city-title {
        font-size: 22px;
        line-height: 24px;

    }


.modform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }

.form7 {
        border-bottom: 2px solid #444444;
        margin: 0 auto;
        padding-left: 5px;

    }
#model li {
        margin-right: 0;
        margin-bottom: 0;
        width: 100%;
    }




.mod-link img {
        width: 60px;
        height: 40px;
    }


.mod-link--line {
        border-top: 1px solid #000;
    }

.city-subtitle {
        text-align: center;
        font-size: 20px;
        line-height: 22px;

        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

.city-subtext {
        margin: 0;
        margin-bottom: 10px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

.button {
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-left: auto;
    }
.show {
        max-height: 315px;
        margin: 0 auto;
        overflow: hidden;
    }

}
@media (min-width: 481px) and (max-width: 767px) {
.container {
        width: auto; }

.city {

        padding-bottom: 45px;
    }
.text1Hide {
        max-height: 55px;
        overflow: hidden;
    }



#allText {
        display: block;
    }

.city-link span {
        font-size: 15px;
        line-height: 18px;
    }

.city-title {
        font-size: 22px;
        line-height: 24px;

    }

.city-desc {
        margin-bottom: 15px;
    }


.city-subtitle {

        text-align: center;
        font-size: 20px;
        line-height: 22px;

        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
.model-title {
        font-size: 18px;
        line-height: 20px;
    }
.city-subtext {
        margin: 0;
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

#model li {
        margin-right: 0;
        margin-bottom: 0;
        width: 450px;
    }


.mod-link--line {
        border-top: 1px solid #000;
    }

.mod-link img {
        width: 90px;
        height: 60px;
    }
.show {
        max-height: 415px;
        margin: 0 auto;
        overflow: hidden;
    }

.button {
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-left: auto;
    }

}
@media (min-width: 768px) and (max-width: 1023px) {
.container {
        width: auto; }


#model li {
        margin-right: 15px;
        width: 350px;
    }

.mod-link img {
        width: 69px;
        height: 46px;
    }
.show {
        max-height: 210px;
        margin: 0 auto;
        overflow: hidden;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
.container {
        width: auto; }


#model li {
        margin-right: 20px;
        width: 410px;
    }

.mod-link img {
        width: 90px;
        height: 60px;
    }
.show {
        max-height: 255px;
        margin: 0 auto;
        overflow: hidden;
    }
}
/*city END*