/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 5px;
}
  
.line {
    margin: 0 3px;
  }

#breadcrumbs a {
  font-family: 'Roboto';
font-size: 16px;
line-height: 18px;
color: #444;
position: relative;
-webkit-transition-duration: 0.2s;
     -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
}
.user-icon {
  display: none;
}

.user-link:hover,
.link-b:hover {
color: black;
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.current {
cursor: default;
}

@media  (max-width: 480px) {
  .container {
    width: auto; 
  }
#breadcrumbs {
  padding-top: 3px;
}
  .line {
    margin-left: 2px;
    margin-right: 2px;
  }
.user-name {
    display: none;
  }

.user-icon {
  display: block;
}


.user-link {
  width: 10px;
  height: 10px;
}

.user-icon {
  display: block;
  width: 14px;
  height: 14px;
}

#breadcrumbs a {
    line-height: 18px;
    font-size: 10px;
  }
  .model-block {
    padding-top: 5px;
  }
 
.user-link--icon {
  width: 16px;
    height: 12px;
}
   
 
 #breadcrumbs li:nth-child(2) {
    margin-right: 3px;
}

}

 /*END ХЛЕБНЫЕ КРОШКИ*/



/*city*/
.city {
     padding-top: 35px;
    padding-bottom: 65px;
}
.city-title {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #2980b9;
    letter-spacing: 1px;
}

.city-desc {
    margin-bottom: 40px;
}

#text1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}

#allText {
    text-align: right;
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
    margin-right: 20px;
}
.button {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    padding: 5px 10px;
    padding-bottom: 3px;
    color: #444444;
    border: 1px solid #737373;
    cursor: pointer;
    background-color: #dbc0c7;
    border-radius: 5px;
}
.button:hover {
    background-color: #d2a2af;
}

.modform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: 30px;
}

.form7 {
    width: 600px;
    padding-left: 5px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #737373;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 18px;
    line-height: 20px;

}



.mod-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #737373;
    cursor: pointer;
    padding: 15px 5px;
}

.mod-link span {
    font-size: 14px;
    line-height: 18px;
    color: #000;
    font-weight: 400;
     width: 240px;

}
.mod-link img {
    width: 90px;
    height: 60px;
}

.mod-link:hover {
    border-bottom: 1px solid red;
}
.model-block {
    margin-bottom: 60px;
}

#model {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.show {
    max-height: 240px;
    margin: 0 auto;
    overflow: hidden;
}



#model li {
    margin: 0 20px;
    width: 350px;
}
.arrows-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    color: #ff0000;
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.arrows-btn:hover {
    color: #000;
    border: 1px solid transparent;
}
.arrows-btn--show {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid red;
}

#button-mod {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: #ff7c01;
    padding-top: 30px;
    cursor: pointer;
    outline: none;
}
#button-mod span {
    color: #000000;
    margin: 0 7px;
}
#button-mod:hover,
#button-mod:focus {
    color: #000;
}
.city-subtitle {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2980b9;
}

.city-subtext {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}


@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
    .city {
        padding-top: 25px;
    }
    .text1Hide {
        max-height: 60px;
        overflow: hidden;

    }
    #allText {
        display: block;
    }
    .city-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;

    }
.city-desc {
    margin-bottom: 30px;
}

    .modform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }

    .form7 {
        width: 80%;
        margin: 0 auto;
        padding-left: 5px;
        font-size: 14px;
    }
    #model li {
        margin: 0;
        width: 100%;
    }
    #model li:last-child {
        margin-bottom: 15px;

    }

    .mod-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        cursor: pointer;
    }
  
    .mod-link img {
        width: 60px;
        height: 40px;
    }


    .mod-link--line {
        border-top: 1px solid #737373;
    }

    .city-subtitle {
        text-align: center;
        font-size: 20px;
        line-height: 24px;

        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .city-subtext {
        margin: 0;
        margin-bottom: 10px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .button {
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-left: auto;
    }
#button-mod {
    padding-top: 10px;
}
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }
.city {
        padding-top: 25px;
    }
 .city-desc {
    margin-bottom: 30px;
}
    .text1Hide {
        max-height: 60px;
        overflow: hidden;
    }

    .modform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 30px;
    }

    #allText {
        display: block;
    }

    .city-link span {
        font-size: 16px;
        line-height: 18px;
    }

    .city-title {
        font-size: 22px;
        line-height: 26px;

    }

    .city-desc {
        margin-bottom: 15px;
    }
    .form7 {
        width: 400px;
        margin: 0 auto;
        padding-left: 5px;
        background-color: #fff;
        cursor: pointer;
        outline: none;
        color: black;
    }

    .city-subtitle {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .model-title {
        font-size: 18px;
        line-height: 20px;
    }
    .city-subtext {
        margin: 0;
        margin-bottom: 15px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    #model li {
        
        width: 450px;
    }
    #model li:last-child {
        margin-bottom: 15px;

    }
    .mod-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        cursor: pointer;
    }
    .mod-link--line {
        border-top: 1px solid #000;
    }
    .mod-link span {
        font-size: 16px;
        line-height: 20px;
            width: 290px;
    }

    .button {
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-left: auto;
    }

}
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto; }

      #model li {
        margin: 0 20px;
        width: 320px;
    }
    .mod-link span {
        font-size: 12px;
        line-height: 16px;
        width: 210px;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }
    

    #model li {
        margin: 0 15px;
        width: 295px;
    }
    .mod-link span {
        font-size: 12px;
        line-height: 16px;
        width: 185px;
    }

}

/*article */
.article-wrapper {
margin-bottom: 10px;
}
.article {
display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}
 .article-link {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
color: #000;
/*width: 176px !important;*/
border: 1px solid #e6e6e6;
    padding-bottom: 3px;
    background-color: #f5f4f4;
}


.article-link--n {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
color: #000;
border: 1px solid #e6e6e6;
    padding-bottom: 3px;
    background-color: #f5f4f4;
     width: 13.1%;
}



.article-link:hover,
.article-link:focus,
.article-link--n:hover,
.article-link--n:focus {
-webkit-box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
box-shadow: 0px 5px 10px 1px rgba(68,68,68,0.6);
 -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition-duration: 0.7s;
}

.article-title {
  margin: 0;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  padding: 0 5px;
 margin-top: 10px;
 margin-bottom: 5px;
  height: 41px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;

}

.article-subtitle {
  margin: 0;
  color: #666;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
text-align: center;
padding: 0 5px;
height: 40px;
  overflow: hidden;
}

.art-link {
  display: block;
    text-align: right;
    margin-top: 7px;
    color: #d22856;
    cursor: pointer;
    font-size: 14px;
    margin-right: 20px;
}
.art-link span {
    color: #000000;
    margin: 0 7px;
}
.art-link:hover,
 .art-link:focus {
    color: #000000;
}
.article-time {
  display: inline-block;
 font-size: 7px;
  line-height: 10px;
  margin-right: 5px;
}

.article-block--n {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

 .article-block {
  display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto;
    position: absolute;
    right: 10px;
    bottom: 50px;
}


.article-date {
  display: inline-block;
  margin-right: 10px;
 font-size: 8px;
  line-height: 10px;
}

.article-foto {
  margin: 0 auto;
   position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
          margin-bottom: 5px;
          margin-top: auto;
}

.article-foto img {
 width: 100%;
  height: auto; 

} 


@media (max-width: 767px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
.article-wrapper {
    margin-bottom: 15px;
}

    .article-link:nth-child(4) {
      display: none;
    }


    .article-link:nth-child(5) {
      display: none;
    }

    .article-link:nth-child(6) {
      display: none;
    }
    .article-link:nth-child(7) {
      display: none;
    }
    

/*.article-link {
      width: 146px !important;
}
*/

.article-link--n {
     width: 32%;
}

.article-title {
    font-size: 12px;
    line-height: 14px;
    padding: 0 3px;
    height: 41px;
    margin-top: 5px;
    }

  .article-subtitle {
    font-size: 8px;
    line-height: 10px;
    padding: 0 3px;
    height: 29px;
    }

    .article-foto {
    margin-bottom: 5px;
  }
  }



/*city END*/