/*ХЛЕБНЫЕ КРОШКИ*/
#breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#breadcrumbs li {
    margin-right: 7px;

}
.dotdotdot {
    display: none;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #444;

}
.more {
    display: none;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #444;
}

#breadcrumbs a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444;
    position: relative;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.user-icon {
    display: none;
}

.user-link:hover,
.link-b:hover {
    color: black;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.current {
    cursor: default;
}
.opened {
    background-color: transparent;
}

@media  (max-width: 575px) {
    .container {
        width: auto;
    }
    #breadcrumbs {
        padding-top: 3px;
    }

    .user-name {
        display: none;
    }
    .opened {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;

    }
    .opened li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .opened .more {
        display: none;
    }

    .user-icon {
        display: block;
    }


    .close-menu {
        font-size: 14px;
        cursor: pointer;
    }
    .user-link {
        width: 10px;
        height: 10px;
    }

    .link-b {
        margin-right: 3px;
    }
    .user-icon {
        display: block;
        width: 16px;
        height: 16px;
    }
    .more {
        display: block;
        cursor: pointer;
        font-size: 12px;
        line-height: 18px;
    }
    #breadcrumbs a {
        line-height: 20px;
        font-size: 12px;
    }
    .model-block {
        padding-top: 5px;
    }

    .user-link--icon {
        width: 20px;
        height: 20px;
    }

    #breadcrumbs li {
        margin-right: 0;
    }



    .more {
        display: block;
        cursor: pointer;

    }

    .opened .more {
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: auto;
    }
}
/*END ХЛЕБНЫЕ КРОШКИ*/


/*code*/
.brand {
    padding-top: 35px;
    padding-bottom: 65px;
}

.brand-title {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    color: #f66666;
    letter-spacing: 1px;
}
.brand-title::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}

#text1 {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}


#allText {
    border: none;
    margin-left: auto;
    background-color: #fff;
    display: none;
    font-weight: 700;
    font-size: 14px;
    color: #ff0000;
    padding-top: 5px;
    margin-right: 7%;
    cursor: pointer;
    outline: none;
}
#allText:hover {
    color: #000;
}
.text-block {
    margin-bottom: 40px;
}

.brand-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;

}
.brand-block li {
    margin:  0 15px;
    margin-bottom: 20px;
    
    
}

.link {
     width: 160px;
    padding: 5px;
    padding-bottom: 4px;
    text-align: center;
    border: 1px solid #737373;
    border-radius: 3px;
    color: #444444;
    cursor: pointer;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    background-color: #faeeee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.link:hover {
    background-color: #d2a2af;
}


.button {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 4px;
    background-color: #dbc0c7;
    border: 1px solid #737373;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    cursor: pointer;
    outline: none;
    margin-bottom: 40px;
}

.button:hover {
    background-color: #d2a2af;
}

.turbo-subtitle {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f66666;
}
.turbo-subtitle::before { /* второй слой */
    content: attr(data-text);
    -webkit-text-stroke: .03em #ff0000;
}


.subtext {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: justify;
}



.card-img {
    position: relative;
    margin-left: 10px;
    border: 2px solid #999999;
    width: 255px;
    height: 170px;
}

.link-main {
    position: absolute;
    bottom: -10px;
    left: -10px;
    padding: 3px 15px;
    padding-bottom: 2px;
    border: 2px solid #999999;
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: #ffffff;
    cursor: default;
}

.link-s:hover,
.link-s:focus {
    border: 2px solid red;
}
.link-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: -15px;
    right: -23px;
}
.image img {
    width: 255px;
    height: 170px;

}


.link-s {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #999999;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    background-color: #ebebeb;

}
.phone:hover path,
.phone:focus path {
    stroke: red;
}
.delr:hover path,
.delr:focus path {
    fill: red;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.table {
    margin-bottom: 35px;
    width: 39%;
}
td {
    padding: 7px 2px;
    font-size: 16px;
    line-height: 18px;
    color: #000000;

}
tr {
    border-bottom: 1px dashed #999999;
}
.tabl {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 120px;
    padding-left: 7px;
}
.tab {
    padding-top: 0;
}
.product {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.subtext1 {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    width: 32%;
    text-align: justify;
}


.cbutton {
    position: relative;
    /*display: inline-block;
    margin: 1em;*/
    padding: 0;
    /*  border: none;
      background: none;*/
    /* color: #286aab;
     font-size: 1.4em;
     overflow: visible;*/
    -webkit-transition: color 0.7s;
    -o-transition: color 0.7s;
    transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(255, 255, 0, 0);
}

.cbutton::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}


/* Effect Boris */
.cbutton--effect-boris::after {
    background: rgba(250, 70, 50,0.2);
}

.cbutton--effect-boris.cbutton--click::after {
    -webkit-animation: anim-effect-boris 0.3s forwards;
    animation: anim-effect-boris 0.3s forwards;
}

@-webkit-keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}






@media (max-width: 480px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    .brand {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .brand-title {
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 24px;
    }

    .brand-block {
        margin: 0 auto;
        width: 300px;
       
    }
    .brand-block li {
        margin: 0 5px;
        margin-bottom: 15px;
    }
   
    .link {
        width: 90px;
        font-size: 14px;
        line-height: 16px;
    }
    .button {
     width: 110px;
        font-size: 14px;
        line-height: 16px;
}

    .turbo-subtitle {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .img-wrapper {
        display: none;
    }
    .text1Hide {
        max-height: 55px;
        overflow: hidden;
    }
    #allText {
        display: block;
    }

    table {
        border-collapse: collapse;
        width: 100%;

    }
    .table {
        margin: 0 auto;
        width: 100%;
    }
  

    .tabl {
        width: 100px;
    }
    .card-img {
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .subtext1 {
        width: 100%;
        order: 0;
        margin-bottom: 40px;
    }

    .product {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .subtext1 {
        width: 100%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: auto; }


        .brand-block {
        margin: 0 auto;
        width: 450px;
    }
.brand-block li {
        margin: 0 10px;
        margin-bottom: 20px;
    }
   
    .link {
        width: 120px;
        font-size: 16px;
        line-height: 18px;
    }
    .button {
    width: 130px;
}
    .text2Hide {
        max-height: 95px;
    }
    .img-wrapper {
        display: none;
    }

    .subtext {
        width: 100%;
    }
  

   

    table {
        border-collapse: collapse;
        width: 100%;

    }
    .table {
        margin: 0 auto;
        width: 450px;
    }
    .card-img {
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .subtext1 {
        width: 100%;
        order: 0;
        margin-bottom: 40px;
    }


    .product {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .tabl {
        width: 110px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto; }
    .brand-block {
        margin: 0 auto;
        width: 650px;
    }
.brand-block li {
        margin: 0 20px;
        margin-bottom: 30px;
    }
   


    .text2Hide {
        max-height: 103px;
    }
    .subtext1 {
        width: 100%;
        order: 1;
    }
    .product {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
    table {

        width: 100%;

    }
    .table {
        width: 56%;
    }
    .tabl {
        width: 100px;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: auto; }
    .brand-block li {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 140px;
    }
.brand-block li {
    margin:  0 10px;
    margin-bottom: 20px;
    
    
}


 
    .link {
         width: 140px;
        font-size: 18px;
        line-height: 20px;
    }

   
    table {

        width: 100%;

    }
    .table {
        width: 41%;
    }
    .tabl {
        width: 100px;
    }

    .subtext1 {
        width: 26%;
    }
}
/*city END*/