<div class="tab tab-2">
    <h2 class="subtitle" data-text="Объявления поданные по каждому товару (запчасти)">
        <button class="help help-2">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" width="28px" height="28px">
                <path style=" " d="M 16 4 C 9.382813 4 4 9.382813 4 16 C 4 22.617188 9.382813 28 16 28 C 22.617188 28 28 22.617188 28 16 C 28 9.382813 22.617188 4 16 4 Z M 16 6 C 21.535156 6 26 10.464844 26 16 C 26 21.535156 21.535156 26 16 26 C 10.464844 26 6 21.535156 6 16 C 6 10.464844 10.464844 6 16 6 Z M 16 10 C 13.800781 10 12 11.800781 12 14 L 14 14 C 14 12.882813 14.882813 12 16 12 C 17.117188 12 18 12.882813 18 14 C 18 14.765625 17.507813 15.445313 16.78125 15.6875 L 16.375 15.8125 C 15.558594 16.082031 15 16.863281 15 17.71875 L 15 19 L 17 19 L 17 17.71875 L 17.40625 17.59375 C 18.945313 17.082031 20 15.621094 20 14 C 20 11.800781 18.199219 10 16 10 Z M 15 20 L 15 22 L 17 22 L 17 20 Z "/>
            </svg>
        </button>
    </h2>
    <section class="modal modal-2">
        <h3 class="modal-title">Заголовок подсказки из каталога текст №21</h3>
        <p class="modal-text">Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов, Текст подсказки из каталога текстов №21 дальше текст на 150 слов </p>
        <button class="button-close button-close-2"> &lt;&lt;&lt;&lt;&lt; Свернуть подсказку &lt;&lt;&lt;&lt;&lt; </button>
    </section>

    <div class="promo">
        <div class="promo-inp">
            <select class="marka-select">
                <option>Марка</option>
                <option>Mersedes-Benz</option>
                <option>Toyota</option>
                <option>Honda</option>
                <option>BMW</option>
            </select>

            <select class="model-select">
                <option>Модель</option>
                <option>Corolla Verso R20</option>
                <option>Yaris Verso P10</option>
                <option>Corolla Verso R20</option>
                <option>Corolla Verso R20</option>
            </select>

            <select class="part-select">
                <option>Запчасть</option>
                <option>Передний подрамник(Балка передняя) подвески</option>
                <option>Передний подрамник(Балка передняя) подвески</option>
                <option>Передний подрамник(Балка передняя) подвески</option>
                <option>Передний подрамник(Балка передняя) подвески</option>
            </select>
        </div>

        <table>
            <tr>
                <td class="item1">
                    <div class="wrapper-promo">
                        <p class="text-p"><span>Toyota Land Cruiser ISO Prado 3.0 TD (IKD-FTV)</span><br>Амортизатор (Название запчасти 65 символов, Название запчасти 65 символов ...)</p>
                        <div class="hidden">
                            <p class="text-prom">2000г, Бензин, 2.5/7AZTE, механика, универсал, передний привод, БУ, Вналичии<br> №541541328</p>
                            <p class="text-adm">текст из объявления текст из объявления текст из объявления текст из объявления текст из объявления текст из объявления</p>
                            <ul class="img-list">
                                <li><img src="/img/mers1.png" alt="Картинка"></li>
                                <li><img src="/img/mers1.png" alt="Картинка"></li>
                                <li><img src="/img/mers1.png" alt="Картинка"></li>
                            </ul>
                        </div>
                    </div>
                    <button class="show-all">&gt;&gt;</button>
                </td>
                <td class="item2 item2-m">
                    <div class="promo-price">5555<span>Бел. руб.</span></div>
                </td>
                <td class="item2">
                    <div class="promo-price">Не активно<span>15.03.2017</span></div>
                </td>
                <td class="item2">
                    <div class="icon">
                        <a href="#"><img src="/img/cra.png" alt=""></a>
                        <a href="#"><img src="/img/camera.png" alt=""></a>
                        <a href="#"><img src="/img/document.png" alt=""></a>
                        <a href="#"><img src="/img/external-link.svg" alt=""></a>
                        <a href="#"><img src="/img/trash-can.svg" alt=""></a>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="item1">
                    <div class="wrapper-promo">
                        <p class="text-p"><span>Toyota Land Cruiser ISO Prado 3.0 TD (IKD-FTV)</span><br>Амортизатор (Название запчасти 65 символов, Название запчасти 65 символов ...)</p>
                        <div class="hidden">
                            <p class="text-prom">2000г, Бензин, 2.5/7AZTE, механика, универсал, передний привод, БУ, Вналичии<br> №541541328</p>
                            <p class="text-adm">текст из объявления текст из объявления текст из объявления текст из объявления текст из объявления текст из объявления</p>
                            <ul class="img-list">
                                <li><img src="/img/mers1.png" alt="Картинка"></li>
                                <li><img src="/img/mers1.png" alt="Картинка"></li>
                                <li><img src="/img/mers1.png" alt="Картинка"></li>
                            </ul>
                        </div>
                    </div>
                    <button class="show-all">&gt;&gt;</button>
                </td>
                <td class="item2 item2-m">
                    <div class="promo-price">5555<span>Бел. руб.</span></div>
                </td>
                <td class="item2">
                    <div class="promo-price">Не активно<span>15.03.2017</span></div>
                </td>
                <td class="item2">
                    <div class="icon">
                        <a href="#"><img src="/img/cra.png" alt=""></a>
                        <a href="#"><img src="/img/camera.png" alt=""></a>
                        <a href="#"><img src="/img/document.png" alt=""></a>
                        <a href="#"><img src="/img/external-link.svg" alt=""></a>
                        <a href="#"><img src="/img/trash-can.svg" alt=""></a>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="item1">
                    <div class="wrapper-promo">
                        <p class="text-p"><span>Toyota Land Cruiser ISO Prado 3.0 TD (IKD-FTV)</span><br>Амортизатор (Название запчасти 65 символов, Название запчасти 65 символов ...)</p>
                        <div class="hidden">
                            <p class="text-prom">2000г, Бензин, 2.5/7AZTE, механика, универсал, передний привод, БУ, Вналичии<br> №541541328</p>
                            <p class="text-adm">текст из объявления текст из объявления текст из объявления текст из объявления текст из объявления текст из объявления</p>
                            <ul class="img-list">
                                <li><img src="/img/mers1.png" alt="Картинка"></li>
                                <li><img src="/img/mers1.png" alt="Картинка"></li>
                                <li><img src="/img/mers1.png" alt="Картинка"></li>
                            </ul>
                        </div>
                    </div>
                    <button class="show-all">&gt;&gt;</button>
                </td>
                <td class="item2 item2-m">
                    <div class="promo-price">5555<span>Бел. руб.</span></div>
                </td>
                <td class="item2">
                    <div class="promo-price">Не активно<span>15.03.2017</span></div>
                </td>
                <td class="item2">
                    <div class="icon">
                        <a href="#"><img src="/img/cra.png" alt=""></a>
                        <a href="#"><img src="/img/camera.png" alt=""></a>
                        <a href="#"><img src="/img/document.png" alt=""></a>
                        <a href="#"><img src="/img/external-link.svg" alt=""></a>
                        <a href="#"><img src="/img/trash-can.svg" alt=""></a>
                    </div>
                </td>
            </tr>
        </table>
        <ul class="pagination">
            <li><a class="pagination-item pagination-item-l" href="#">&lt;&lt;&lt;</a></li>
            <li><a class="pagination-item pagination-item-current">1</a></li>
            <li><a class="pagination-item" href="#">2</a></li>
            <li><a class="pagination-item" href="#">3</a></li>
            <li><a class="pagination-item" href="#">4</a></li>
            <li><a class="pagination-item" href="#">5</a></li>
            <li><a class="pagination-item" href="#">6</a></li>
            <li><a class="pagination-item" href="#">7</a></li>
            <li><a class="pagination-item pagination-item-r" href="#">&gt;&gt;&gt;</a></li>
        </ul>

    </div>
</div>