{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <div class='main-search'>
            <form class='firstForm' action="" method="get">
                <input class='form1' name="s" placeholder="Поиск.." type="search">
                <button class='mainButton' type="submit"></button>
            </form>
            <a class="search-link" href='{{ path("show_brand_catalog_choice_brand") }}'><span>последовательный поиск</span></a>
        </div>
        <h1 class='tagline-title'>{{ homePage.description | raw }}</h1>
    </main>
{% endblock %}