{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% set url = url("universal_page_brand", {"id" : object.id}) %}
    <a href="{{ url }}" target="_blank">{{ url }}</a>
    <br/>
    {{ url("universal_page_brand_specific_brand", {"id" : object.id, "urlBrand" : "URLBRAND"}) }}
{% endblock %}