<section id="delete-advert-modal" class="del container-modal modal">
    <h1 class="del-title">{{ default_text(10).headline }}</h1>
    <h2 class="del-subtitle">Вы действительно хотите удалить выбранный элемент?</h2>
    <ul class="del-btn">
        <li><a class="btn btn-del" ng-href="/user-office/product-categories/spare-part/delete-general-advert/{[{ modalAdvert }]}"><span>Да, Удалить</span><img src="/img/del.png" alt="icon"></a></li>
        <li class="btn-o"><a class="btn" href="#close-modal" rel="modal:close">Отменить удаление</a></li>
        <li><a class="btn btn-edit" ng-href="/user-office/product-categories/spare-part/edit-general-advert/{[{ modalAdvert }]}"><span>Редактировать</span><img src="/img/crayon-b.png" alt="icon"></a></li>
    </ul>
    <div class="del-text">{{ default_text(10).text | raw }}</div>
</section>