{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type='text/css' rel='stylesheet' href='css/forgot-password.css'>
{% endblock %}

{% block body %}
    <article id=''>

        <form id='forgetForm' action="" method="get">
            <span id='recovery'>Восстановление пароля</span>
            <span id='oldEmail'>Укажите адрес электронной почты указанной при регистрации</span>
            <input class='inputF3' name="oldEmail" placeholder="Ваш e-mail" maxlength="40" type="text"><br/><br/>
            <button type="submit">Восстановить пароль</button><br/><br/>
            <span id='red'>Пользователя с такими данными не найдено, проверьте верно ли Вы ввели e-mail</span><br/><br/>

        </form>
        <br/><br/><br/><br/>

    </article>
{% endblock %}