{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/login.css'>
{% endblock %}

{% block body %}
    <div id="form-login-container" ng-controller="LoginCtrl as login"
         ng-init="login.init('.login-form', '{{ path("login_check") }}', '#form-login-container')">
        {% include('/client/security/form/login-form.html.twig') with {"form" : form} %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/client/directive/clear-field-button.js"></script>
    <script src="/js/client/directive/password-show-button.js"></script>
    <script src="/js/client/controller/security/login-controller.js"></script>
{% endblock %}