{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type='text/css' rel='stylesheet' href='css/recovery-password.css'>
{% endblock %}

{% block body %}
    <article id=''>

        <form id='setForm' action="" method="get">
            <span id='setPass'>Установка нового пароля</span>
            <span id='createPass'>Придумайте пароль к Вашему личному кабинету и подтвердите его</span>

            <input class='inputF4' name="userPassword2" placeholder="Пароль" maxlength="40" type="password"><br/><br/>
            <input class='inputF4' name="confirmUserPassword2" placeholder="Подтвердить пароль" maxlength="40" type="password"><br/><br/>

            <button type="submit">Зафиксировать новый пароль</button><br/><br/>

        </form>
        <br/><br/><br/><br/>

    </article>
{% endblock %}