{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type='text/css' rel='stylesheet' href='css/success-recovery-password.css'>
{% endblock %}

{% block body %}
    <article id=''>

     <div id='success'>
        <span>Восстановление пароля прошло успешно</span>
        <span>На Ваш электронный ящик отправлено письмо с дальнейшими инструкциями по восстановлению пароля</span>
     </div>

    </article>
{% endblock %}