<ul class="product-block">
    <li class="product-list">
        <h2 class="product-subtitle">Описание товара:</h2>
        <p class="product-text" itemprop="description">{{ advert.comment }}</p>
    </li>

    <li class="product-list">
        <h2 class="product-subtitle">Доставка:</h2>
        <p class="product-text">{{ workflow.deliveryDetail }}</p>
    </li>

    <li class="product-list">
        <h2 class="product-subtitle">Гарантия:</h2>
        <p class="product-text">{{ workflow.guarantee }}</p>
    </li>
</ul>