{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/user-office/user-base-profile.css'>
{% endblock %}

{% block body %}
    <main>
        <div class="choice">
            <div class="choice-block container">
                <a class="icon" href="#"><i class="fa fa-map-o" aria-hidden="true"></i></a>
                <a class="icon" href="#"><i class="fa fa-suitcase"></i>  Business</a>
                <a class="icon" href="#"><i class="fa fa-camera"></i>  Фотогалерея </a>
                <a class="icon icon-plus" href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="container">
            <div class="profil-form">
                <form  class="profil-wpapper" action="#" method="">
                    <fieldset class="personal">
                        <legend class="profil-title">Персональные данные</legend>
                        <ul class="profil-list">
                            <li class="profil-option">
                                <label for="name">Имя</label>
                                <input class="first-part" type="text" name="name" placeholder="Евгений" id="name">
                            </li>
                            <li class="profil-option">
                                <label for="tel">Телефон </label>
                                <input class="first-part" type="tel" name="phone-number" placeholder="+375-29-636-69-11" id="tel" pattern="\+375\-[0-9]{2}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}">
                            </li>
                            <li class="profil-option">
                                <label for="email">E-mail </label>
                                <input class="first-part" type="email" name="email-address" placeholder="d4d@tut.by" id="email">
                            </li>
                            <li class="profil-option">
                                <label for="country">Страна </label>
                                <input class="first-part" type="text" name="country" placeholder="Беларусь" id="country">
                            </li>
                            <li class="profil-option">
                                <label for="city">Город </label>
                                <input class="first-part" type="text" name="city" placeholder="Минск" id="city">
                            </li>
                        </ul>
                    </fieldset>
                    <button class="btn-filter">Подтвердить</button>

                    <fieldset class="car">
                        <legend class="profil-title">Авто - Мото</legend>
                        <ul class="moreinfoblock">
                            <li class="profil-option">
                                <span class="name">Марка</span>
                                <select class="name-select">
                                    <option>Выбрать</option>
                                    <option>Mersedes-Benz</option>
                                    <option>Toyota</option>
                                    <option>Honda</option>
                                    <option>BMW</option>
                                </select>
                            </li>
                            <li class="profil-option">
                                <span class="name">Модель</span>
                                <select class="name-select">
                                    <option>Выбрать</option>
                                    <option>Corolla Verso R20</option>
                                    <option>Yaris Verso P10</option>
                                    <option>Corolla Verso R20</option>
                                    <option>Corolla Verso R20</option>
                                </select>
                            </li>
                            <li class="profil-option">
                                <span class="name">год</span>
                                <select class="name-select">
                                    <option>Выбрать</option>
                                    <option>2000</option>
                                    <option>2001</option>
                                    <option>2001</option>
                                    <option>2001</option>
                                </select>
                            </li>
                            <li class="profil-option">
                                <span class="name">Тип Кузова</span>
                                <select class="name-select">
                                    <option>Выбрать</option>
                                    <option>универсал</option>
                                    <option>хэтчбек</option>
                                    <option>седан</option>
                                    <option>купе</option>
                                </select>
                            </li>
                            <li class="profil-option">
                                <span class="name">Тип ДВС</span>
                                <select class="name-select">
                                    <option>Выбрать</option>
                                    <option>Электродвигатель</option>
                                    <option>бензин</option>
                                    <option>дизель</option>
                                </select>
                            </li>
                            <li class="profil-option">
                                <span class="name">Объем</span>
                                <select class="name-select">
                                    <option>Выбрать</option>
                                    <option>1500</option>
                                    <option>2000</option>
                                    <option>2500</option>
                                </select>
                            </li>
                        </ul>
                        <button class="moreinfo"><i class="fa fa-plus" aria-hidden="true"></i>   Добавить еще</button>
                    </fieldset>
                    <button type="submit" class="btn-filter">Сохранить</button>
                </form>

                <div class="business">
                    <div class="title-wrapper">
                        <button class="profil-business">Создать бизнес профиль</button>
                        <a class="profil-link" href="#">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </a>
                    </div>
                    <form class="business-block" action="#" method="">
                        <ul class="business-option">
                            <li class="filter-option">
                                <input class="visually-hidden filter-input filter-input-checkbox" type="checkbox" value="seller" id="seller">
                                <label for="seller">Авторазборка, магазин, продавец<br>
                                    (товары, запчасти, тюнинг) </label>
                            </li>
                            <li class="filter-option">
                                <input class="visually-hidden filter-input filter-input-checkbox" type="checkbox" value="avtoservis" id="avtoservis">
                                <label for="avtoservis">СТО, автосервис, шиномонтаж<br>
                                    (услиги, ремонт, обслуживание) </label>
                            </li>
                            <li class="filter-option">
                                <input class="visually-hidden filter-input filter-input-checkbox" type="checkbox" value="news" id="news">
                                <label for="news">Новости, блоги, статьи</label>
                            </li>
                        </ul>

                        <div class="business-choice">
                            <input class="choice-input choice-unp" type="text" name="unp" placeholder="УНП" pattern="[0-9]{5,10}">
                            <input class="choice-input" type="text" name="fname" placeholder="Полное название ИП, Организации">
                            <input class="choice-input" type="text" name="adress" placeholder="Адрес">
                        </div>
                        <div class="time">
                            <p class="time-text">Время работы</p>
                            <div class="df">
                                <div class="time_new_mk">
                                    <input class="visually-hidden filter-input checkbox-custom" type="checkbox" value="seller" id="one">
                                    <label for="one">Пн</label>
                                </div>

                                <div class="time_new_mk">
                                    <input class="visually-hidden filter-input checkbox-custom" type="checkbox" value="seller" id="two">
                                    <label for="two">Вт</label>
                                </div>

                                <div class="time_new_mk">
                                    <input class="visually-hidden filter-input checkbox-custom" type="checkbox" value="seller" id="three">
                                    <label for="three">Ср</label>
                                </div>

                                <div class="time_new_mk">
                                    <input class="visually-hidden filter-input checkbox-custom" type="checkbox" value="seller" id="for">
                                    <label for="for">Чт</label>
                                </div>

                                <div class="time_new_mk">
                                    <input class="visually-hidden filter-input checkbox-custom" type="checkbox" value="seller" id="five">
                                    <label for="five">Пт</label>
                                </div>

                            </div>
                            <div class="time-m">
                                <label for="appt-time">С:</label>
                                <input class="time_work" type="time" id="appt-time" name="appt-time"
                                       min="0:00" max="24:00">
                                <label for="appt-time">По:</label>
                                <input class="time_work" type="time" id="appt-time" name="appt-time"
                                       min="0:00" max="24:00">
                            </div>
                            <div class="df">
                                <div class="time_new_mk">
                                    <input class="visually-hidden filter-input checkbox-custom" type="checkbox" value="seller" id="six">
                                    <label for="six">Сб</label>
                                </div>
                                <div class="time_new_mk">
                                    <input class="visually-hidden filter-input checkbox-custom" type="checkbox" value="seller" id="seven">
                                    <label for="seven">Вс</label>
                                </div>
                            </div>
                            <div class="time-w">
                                <label for="appt-time">С:</label>
                                <input class="time_work" type="time" id="appt-time" name="appt-time"
                                       min="0:00" max="24:00">
                                <label for="appt-time">По:</label>
                                <input class="time_work" type="time" id="appt-time" name="appt-time"
                                       min="0:00" max="24:00">
                            </div>
                        </div>
                        <fieldset>
                            <legend class="profil-title">Способы оплаты</legend>
                            <ul class="filter-list">
                                <li class="filter-option">
                                    <input class="visually-hidden filter-input filter-input-checkbox" type="checkbox"  name="product" id="cash">
                                    <label for="cash">Наличные деньги</label>
                                </li>
                                <li class="filter-option ">
                                    <input class="visually-hidden filter-input filter-input-checkbox" type="checkbox" name="product" id="noncash">
                                    <label for="noncash"> Безналичный расчет </label>
                                </li>
                                <li class="filter-option">
                                    <input class="visually-hidden filter-input filter-input-checkbox" type="checkbox" name="product" id="card">
                                    <label for="card">Кредитная карта</label>
                                </li>
                            </ul>
                        </fieldset>

                        <fieldset>
                            <legend class="profil-title">Доставка</legend>
                            <ul class="filter-list">
                                <li class="filter-option">
                                    <input class="visually-hidden filter-input filter-input-radio" type="radio" name="group" value="yes" id="filter-yes">
                                    <label for="filter-yes">Да</label>
                                </li>
                                <li class="filter-option">
                                    <input class="visually-hidden filter-input filter-input-radio" type="radio" name="group" value="no" id="filter-no">
                                    <label for="filter-no">Нет</label>
                                </li>
                            </ul>
                        </fieldset>
                        <button type="submit" class="btn-filter">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}