{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        <a href="{{ path("admin_app_phone_phonebrand_phone_phonemodel_list", {"id" : object.id}) }}"><strong>{{ object.models | length }}</strong></a>
    </div>
{% endblock %}